Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

Rename index.html to index.html
  frameworks/non-keyed/sonnet/index.html
Due: prettier --write

Rename package.json to package.json
  frameworks/non-keyed/sonnet/package.json
Due: prettier --write

Rename package-lock.json to package-lock.json
  frameworks/non-keyed/sonnet/package-lock.json
Due: prettier --write

Rename App.js to App.js
  frameworks/non-keyed/sonnet/src/App.js
Due: prettier --write, eslint

Rename Main.js to Main.js
  frameworks/non-keyed/sonnet/src/Main.js
Due: prettier --write, eslint

Create vite.config.js
  frameworks/non-keyed/sonnet/vite.config.js
Due: prettier --write, eslint

Create vite.config.js
  frameworks/keyed/sonnet/vite.config.js
Due: prettier --write, eslint

Update vite.config.js
  frameworks/keyed/sonnet/vite.config.js
Due: prettier --write, eslint

Update index.html
  frameworks/keyed/sonnet/index.html
Due: prettier --write

Update index.html
  frameworks/non-keyed/sonnet/index.html
Due: prettier --write

update angular
  frameworks/keyed/angular-cf-nozone/angular.json
  frameworks/keyed/angular-cf-nozone/package-lock.json
  frameworks/keyed/angular-cf-nozone/package.json
  frameworks/keyed/angular-cf-nozone/src/main.ts
  frameworks/keyed/angular-cf-signals/angular.json
  frameworks/keyed/angular-cf-signals/package-lock.json
  frameworks/keyed/angular-cf-signals/package.json
  frameworks/keyed/angular-cf-signals/src/app/app.component.ts
  frameworks/keyed/angular-cf-signals/src/main.ts
  frameworks/keyed/angular-cf/angular.json
  frameworks/keyed/angular-cf/package-lock.json
  frameworks/keyed/angular-cf/package.json
  frameworks/keyed/angular-ngfor/angular.json
  frameworks/keyed/angular-ngfor/package-lock.json
  frameworks/keyed/angular-ngfor/package.json
Due: prettier --write, eslint

revert provideExperimentalZonelessChangeDetection and add new no zone implementation
  frameworks/keyed/angular-cf-new-nozone/.browserslistrc
  frameworks/keyed/angular-cf-new-nozone/.gitignore
  frameworks/keyed/angular-cf-new-nozone/.npmrc
  frameworks/keyed/angular-cf-new-nozone/README.md
  frameworks/keyed/angular-cf-new-nozone/angular.json
  frameworks/keyed/angular-cf-new-nozone/package-lock.json
  frameworks/keyed/angular-cf-new-nozone/package.json
  frameworks/keyed/angular-cf-new-nozone/src/app/app.component.html
  frameworks/keyed/angular-cf-new-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf-new-nozone/src/assets/.gitkeep
  frameworks/keyed/angular-cf-new-nozone/src/index.html
  frameworks/keyed/angular-cf-new-nozone/src/main.ts
  frameworks/keyed/angular-cf-new-nozone/tsconfig.app.json
  frameworks/keyed/angular-cf-new-nozone/tsconfig.json
  frameworks/keyed/angular-cf-signals/src/main.ts
Due: prettier --write, eslint

move the no-zone implementation with provideExperimentalZonelessChangeDetection to new PR
  frameworks/keyed/angular-cf-new-nozone/.browserslistrc
  frameworks/keyed/angular-cf-new-nozone/.gitignore
  frameworks/keyed/angular-cf-new-nozone/.npmrc
  frameworks/keyed/angular-cf-new-nozone/README.md
  frameworks/keyed/angular-cf-new-nozone/angular.json
  frameworks/keyed/angular-cf-new-nozone/package-lock.json
  frameworks/keyed/angular-cf-new-nozone/package.json
  frameworks/keyed/angular-cf-new-nozone/src/app/app.component.html
  frameworks/keyed/angular-cf-new-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf-new-nozone/src/assets/.gitkeep
  frameworks/keyed/angular-cf-new-nozone/src/index.html
  frameworks/keyed/angular-cf-new-nozone/src/main.ts
  frameworks/keyed/angular-cf-new-nozone/tsconfig.app.json
  frameworks/keyed/angular-cf-new-nozone/tsconfig.json
Due: prettier --write, eslint

fix: row generation issue
  frameworks/keyed/sonnet/index.html
  frameworks/keyed/sonnet/package.json
  frameworks/keyed/sonnet/src/App.js
  frameworks/non-keyed/sonnet/index.html
  frameworks/non-keyed/sonnet/package.json
  frameworks/non-keyed/sonnet/src/App.js
Due: prettier --write, eslint

results for chrome 126
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/chromePreferences.json
  webdriver-ts/results.json
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/puppeteerAccess.ts
Due: prettier --write, eslint

update package-lock
  frameworks/keyed/sonnet/package-lock.json
  frameworks/non-keyed/sonnet/package-lock.json
Due: prettier --write

add sonnetjs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

update quel to 0.13.1, add keyed/quel
  frameworks/keyed/quel/index.html
  frameworks/keyed/quel/package-lock.json
  frameworks/keyed/quel/package.json
  frameworks/keyed/quel/src/buildData.js
  frameworks/keyed/quel/src/myappMain.js
  frameworks/keyed/quel/src/quel.min.js
Due: prettier --write, eslint

Update cample to 3.2.0-alpha.48
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint

fix
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint

add viewfly
  frameworks/keyed/viewfly/index.html
  frameworks/keyed/viewfly/package-lock.json
  frameworks/keyed/viewfly/package.json
  frameworks/keyed/viewfly/src/data.ts
  frameworks/keyed/viewfly/src/index.tsx
  frameworks/keyed/viewfly/tsconfig.json
  frameworks/keyed/viewfly/webpack.config.js
Due: prettier --write, eslint

update svelte
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
Due: prettier --write

Update Vue, Vue-Vapor
  frameworks/keyed/vue-jsx/package-lock.json
  frameworks/keyed/vue-jsx/package.json
  frameworks/keyed/vue-pinia/package-lock.json
  frameworks/keyed/vue-pinia/package.json
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue-vapor/src/App.vue
  frameworks/keyed/vue-vapor/vite.config.js
  frameworks/keyed/vue/package-lock.json
  frameworks/keyed/vue/package.json
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
  frameworks/non-keyed/vue-vapor/src/App.vue
  frameworks/non-keyed/vue-vapor/vite.config.js
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
Due: prettier --write, eslint

fix
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

update viewfly
  frameworks/keyed/viewfly/package-lock.json
  frameworks/keyed/viewfly/package.json
  frameworks/keyed/viewfly/src/index.tsx
Due: prettier --write

fix: Update dioxus benchmark
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark.js
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
  frameworks/keyed/dioxus/bundled-dist/index.html
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-7c1300c6684e1811/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-7c1300c6684e1811/src/js/common.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-84af743b887ebc54/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-84af743b887ebc54/inline1.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-84af743b887ebc54/src/eval.js
  frameworks/keyed/dioxus/package.json
  frameworks/keyed/dioxus/src/main.rs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

add trunk install back
  frameworks/keyed/dioxus/package.json
Due: prettier --write

update build
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
Due: none

update build
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
  frameworks/keyed/dioxus/bundled-dist/index.html
Due: prettier --write

improvements
  frameworks/keyed/dioxus/Cargo.toml
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark.js
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
  frameworks/keyed/dioxus/bundled-dist/index.html
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-7c1300c6684e1811/inline0.js
  frameworks/keyed/dioxus/src/main.rs
Due: prettier --write, eslint

results
  frameworks/keyed/dioxus/bundled-dist/index.html
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

memoized selected row
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark.js
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
  frameworks/keyed/dioxus/bundled-dist/index.html
  frameworks/keyed/dioxus/src/main.rs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

clean up code
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
  frameworks/keyed/dioxus/bundled-dist/index.html
  frameworks/keyed/dioxus/src/main.rs
Due: prettier --write

update svelte
  package-lock.json
  package.json
Due: prettier --write

update svelte
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

update svelte, vue. add quel, viewfly
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Add Ravel
  frameworks/non-keyed/ravel/.gitignore
  frameworks/non-keyed/ravel/Cargo.toml
  frameworks/non-keyed/ravel/README.md
  frameworks/non-keyed/ravel/Trunk.toml
  frameworks/non-keyed/ravel/build.sh
  frameworks/non-keyed/ravel/bundled-dist/ravel-benchmark.js
  frameworks/non-keyed/ravel/bundled-dist/ravel-benchmark_bg.wasm
  frameworks/non-keyed/ravel/bundled-dist/snippets/ravel-web-98faac2aa4a53c75/inline0.js
  frameworks/non-keyed/ravel/index.html
  frameworks/non-keyed/ravel/package-lock.json
  frameworks/non-keyed/ravel/package.json
  frameworks/non-keyed/ravel/src/main.rs
  frameworks/non-keyed/ravel/trunk.html
Due: prettier --write, eslint

Update cample to v3.2.1-beta.0
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint
