Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

Rewrite AkashJS benchmark to use framework primitives
  frameworks/keyed/akashjs/index.html
  frameworks/keyed/akashjs/src/App.akash
  frameworks/keyed/akashjs/src/main.ts
Due: prettier --write, eslint

sprae: update to 13.3.6, move back to frameworks
  broken-frameworks/keyed/sprae/src/sprae.js
  broken-frameworks/non-keyed/sprae/src/sprae.js
  frameworks/keyed/sprae/index.html
  frameworks/keyed/sprae/package-lock.json
  frameworks/keyed/sprae/package.json
  frameworks/keyed/sprae/src/main.js
  frameworks/keyed/sprae/src/sprae.js
  frameworks/non-keyed/sprae/index.html
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/main.js
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

Add Vela keyed benchmark
  frameworks/keyed/vela/build.mjs
  frameworks/keyed/vela/index.html
  frameworks/keyed/vela/package-lock.json
  frameworks/keyed/vela/package.json
  frameworks/keyed/vela/src/BenchmarkTable.vela
  frameworks/keyed/vela/src/main.template.js
  frameworks/keyed/vela/src/precompiled-main.js
Due: prettier --write, eslint

Update pota dependency version to ^0.20.233
  frameworks/keyed/pota/package.json
Due: prettier --write

chrome 148 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

added ElementaryUI framework
  frameworks/keyed/elementaryui/.gitignore
  frameworks/keyed/elementaryui/Package.resolved
  frameworks/keyed/elementaryui/Package.swift
  frameworks/keyed/elementaryui/Sources/App/main.swift
  frameworks/keyed/elementaryui/bundled-dist/assets/App-C7f-8WHb.wasm
  frameworks/keyed/elementaryui/bundled-dist/assets/index-D4pJB5Hh.js
  frameworks/keyed/elementaryui/bundled-dist/index.html
  frameworks/keyed/elementaryui/index.html
  frameworks/keyed/elementaryui/package-lock.json
  frameworks/keyed/elementaryui/package.json
  frameworks/keyed/elementaryui/vite.config.js
Due: prettier --write, eslint

update/upgrade-nd-to1.0.158
  frameworks/keyed/native-document/bundle-report.html
  frameworks/keyed/native-document/package-lock.json
  frameworks/keyed/native-document/package.json
  frameworks/keyed/native-document/src/components/Jumbotron.js
  frameworks/keyed/native-document/src/components/RemoveIcon.js
  frameworks/keyed/native-document/src/main.js
  frameworks/keyed/native-document/src/service.js
  frameworks/keyed/native-document/vite.config.js
Due: prettier --write, eslint

feat: Add astro and astro-nanostores tests
  frameworks/keyed/astro-nanostore/.gitignore
  frameworks/keyed/astro-nanostore/README.md
  frameworks/keyed/astro-nanostore/astro.config.mjs
  frameworks/keyed/astro-nanostore/package-lock.json
  frameworks/keyed/astro-nanostore/package.json
  frameworks/keyed/astro-nanostore/pages/index.astro
  frameworks/keyed/astro-nanostore/public/favicon.ico
  frameworks/keyed/astro-nanostore/public/favicon.svg
  frameworks/keyed/astro-nanostore/tsconfig.json
  frameworks/keyed/astro/.gitignore
  frameworks/keyed/astro/README.md
  frameworks/keyed/astro/astro.config.mjs
  frameworks/keyed/astro/package-lock.json
  frameworks/keyed/astro/package.json
  frameworks/keyed/astro/pages/index.astro
  frameworks/keyed/astro/public/favicon.ico
  frameworks/keyed/astro/public/favicon.svg
  frameworks/keyed/astro/tsconfig.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

feat: astro nanostore fine grained
  frameworks/keyed/astro-nanostore-fine-grained/.gitignore
  frameworks/keyed/astro-nanostore-fine-grained/README.md
  frameworks/keyed/astro-nanostore-fine-grained/astro.config.mjs
  frameworks/keyed/astro-nanostore-fine-grained/package-lock.json
  frameworks/keyed/astro-nanostore-fine-grained/package.json
  frameworks/keyed/astro-nanostore-fine-grained/pages/index.astro
  frameworks/keyed/astro-nanostore-fine-grained/public/favicon.ico
  frameworks/keyed/astro-nanostore-fine-grained/public/favicon.svg
  frameworks/keyed/astro-nanostore-fine-grained/tsconfig.json
Due: prettier --write

Rename astro -> astro-lite & inline nanostores store
  frameworks/keyed/astro-lite/.gitignore
  frameworks/keyed/astro-lite/README.md
  frameworks/keyed/astro-lite/astro.config.mjs
  frameworks/keyed/astro-lite/package-lock.json
  frameworks/keyed/astro-lite/package.json
  frameworks/keyed/astro-lite/pages/index.astro
  frameworks/keyed/astro-lite/tsconfig.json
  frameworks/keyed/astro-nanostores/src/pages/index.astro
  frameworks/keyed/astro-nanostores/src/store.js
Due: prettier --write, eslint

Remove unused preact 'h' import
  frameworks/keyed/astro-preact/src/App.jsx
Due: none

Add Astro Nanostores demo and update results
  frameworks/keyed/astro-nanostores/src/dom.js
  frameworks/keyed/astro-nanostores/src/store.js
Due: prettier --write, eslint

Move DOM logic to dom.js and rename template
  frameworks/keyed/astro-nanostores/src/pages/index.astro
Due: none

Add orderedIds and optimize DOM reordering
  frameworks/keyed/astro-nanostores/src/dom.js
  frameworks/keyed/astro-nanostores/src/store.js
Due: prettier --write, eslint

Add astro-nanostores-dom example
  frameworks/keyed/astro-nanostores-dom/.gitignore
  frameworks/keyed/astro-nanostores-dom/README.md
  frameworks/keyed/astro-nanostores-dom/astro.config.mjs
  frameworks/keyed/astro-nanostores-dom/package-lock.json
  frameworks/keyed/astro-nanostores-dom/package.json
  frameworks/keyed/astro-nanostores-dom/src/dom.js
  frameworks/keyed/astro-nanostores-dom/src/pages/index.astro
  frameworks/keyed/astro-nanostores-dom/src/store.js
  frameworks/keyed/astro-nanostores-dom/tsconfig.json
Due: prettier --write, eslint

Add LytJS v6.3.0 framework
  frameworks/keyed/lytjs/README.md
  frameworks/keyed/lytjs/SUBMISSION_GUIDE.md
  frameworks/keyed/lytjs/index.html
  frameworks/keyed/lytjs/package.json
Due: prettier --write

Add LytJS v6.4.0 framework
  frameworks/keyed/lytjs/PR_PREPARATION_GUIDE.md
  frameworks/keyed/lytjs/README.md
  frameworks/keyed/lytjs/index.html
  frameworks/keyed/lytjs/package.json
  frameworks/keyed/lytjs/prepare-pr.bat
  frameworks/keyed/lytjs/prepare-pr.sh
Due: prettier --write

Add plastron-dom v0.0.2 (keyed + non-keyed)
  frameworks/keyed/plastron-dom-v0.0.2/README.md
  frameworks/keyed/plastron-dom-v0.0.2/index.html
  frameworks/keyed/plastron-dom-v0.0.2/main.js
  frameworks/keyed/plastron-dom-v0.0.2/package-lock.json
  frameworks/keyed/plastron-dom-v0.0.2/package.json
  frameworks/keyed/plastron-dom-v0.0.2/src/main.ts
  frameworks/non-keyed/plastron-dom-v0.0.2/README.md
  frameworks/non-keyed/plastron-dom-v0.0.2/index.html
  frameworks/non-keyed/plastron-dom-v0.0.2/main.js
  frameworks/non-keyed/plastron-dom-v0.0.2/package-lock.json
  frameworks/non-keyed/plastron-dom-v0.0.2/package.json
  frameworks/non-keyed/plastron-dom-v0.0.2/src/main.ts
Due: prettier --write, eslint

Update LiteralJS to v8.0.4 - add keyed implementation and update non-keyed
  frameworks/keyed/literaljs/.babelrc
  frameworks/keyed/literaljs/.gitignore
  frameworks/keyed/literaljs/index.html
  frameworks/keyed/literaljs/index.js
  frameworks/keyed/literaljs/package-lock.json
  frameworks/keyed/literaljs/package.json
  frameworks/keyed/literaljs/store.js
Due: prettier --write, eslint

Update LiteralJS to v8.0.4 - add keyed implementation and update non-keyed
  frameworks/keyed/literaljs/index.html
  frameworks/non-keyed/literaljs/index.html
Due: prettier --write

Update LiteralJS to v8.0.5
  frameworks/keyed/literaljs/css
  frameworks/keyed/literaljs/package-lock.json
  frameworks/keyed/literaljs/package.json
  frameworks/non-keyed/literaljs/css
  frameworks/non-keyed/literaljs/package-lock.json
  frameworks/non-keyed/literaljs/package.json
Due: prettier --write

upgraded to ElementaryUI 0.3.0
  frameworks/keyed/elementaryui/Package.resolved
  frameworks/keyed/elementaryui/Package.swift
  frameworks/keyed/elementaryui/bundled-dist/assets/App-C7f-8WHb.wasm
  frameworks/keyed/elementaryui/bundled-dist/assets/App-CZnj3069.wasm
  frameworks/keyed/elementaryui/bundled-dist/assets/index-D4pJB5Hh.js
  frameworks/keyed/elementaryui/bundled-dist/assets/index-bnuUZqyt.js
  frameworks/keyed/elementaryui/bundled-dist/index.html
  frameworks/keyed/elementaryui/package.json
Due: prettier --write, eslint

Delete astro-nanostores-dom; update keyed example
  frameworks/keyed/astro-nanostores-dom/.gitignore
  frameworks/keyed/astro-nanostores-dom/README.md
  frameworks/keyed/astro-nanostores-dom/astro.config.mjs
  frameworks/keyed/astro-nanostores-dom/package-lock.json
  frameworks/keyed/astro-nanostores-dom/package.json
  frameworks/keyed/astro-nanostores-dom/src/dom.js
  frameworks/keyed/astro-nanostores-dom/src/pages/index.astro
  frameworks/keyed/astro-nanostores-dom/src/store.js
  frameworks/keyed/astro-nanostores-dom/tsconfig.json
  frameworks/keyed/astro-nanostores/README.md
  frameworks/keyed/astro-nanostores/astro.config.mjs
  frameworks/keyed/astro-nanostores/package-lock.json
  frameworks/keyed/astro-nanostores/package.json
  frameworks/keyed/astro-nanostores/src/client.js
  frameworks/keyed/astro-nanostores/src/dom.js
  frameworks/keyed/astro-nanostores/src/pages/index.astro
  frameworks/keyed/astro-nanostores/src/store.js
Due: prettier --write, eslint

restore results
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Update results.json
  webdriver-ts/results.json
Due: prettier --write

Remove unused Preact import; add issue metadata
  frameworks/keyed/astro-nanostores/package.json
  frameworks/keyed/astro-preact-nanostores/src/App.jsx
  frameworks/keyed/astro/package.json
Due: prettier --write

Fix select benchmark and bypass install failures
  frameworks/non-keyed/solarite/Solarite.min.js
  frameworks/non-keyed/solarite/main.js
  frameworks/non-keyed/solarite/package.json
Due: prettier --write, eslint

AkashJS: remove addressed issue notes
  frameworks/keyed/akashjs/package.json
Due: prettier --write

update instructions
  .github/copilot-instructions.md
Due: prettier --write

update pota to 0.20.233
  frameworks/keyed/pota/package-lock.json
Due: prettier --write

Add ElementaryUI (keyed)
  frameworks/keyed/elementaryui/package-lock.json
Due: prettier --write

add CSP flag
  frameworks/keyed/elementaryui/package.json
Due: prettier --write

update native-document to 1.0.158
  frameworks/keyed/native-document/package-lock.json
Due: prettier --write

add issue 1139 (CSP) flag to non-keyed/solarite
  frameworks/non-keyed/solarite/package.json
Due: prettier --write

update package-lock.json for non-keyed/solarite
  frameworks/non-keyed/solarite/package-lock.json
Due: prettier --write

rename directories
  frameworks/keyed/plastron-dom/README.md
  frameworks/keyed/plastron-dom/index.html
  frameworks/keyed/plastron-dom/main.js
  frameworks/keyed/plastron-dom/package-lock.json
  frameworks/keyed/plastron-dom/package.json
  frameworks/keyed/plastron-dom/src/main.ts
  frameworks/non-keyed/plastron-dom/README.md
  frameworks/non-keyed/plastron-dom/index.html
  frameworks/non-keyed/plastron-dom/main.js
  frameworks/non-keyed/plastron-dom/package-lock.json
  frameworks/non-keyed/plastron-dom/package.json
  frameworks/non-keyed/plastron-dom/src/main.ts
Due: prettier --write, eslint

update ripple to latest version
  frameworks/keyed/ripple/package-lock.json
  frameworks/keyed/ripple/package.json
  frameworks/keyed/ripple/rollup.config.js
  frameworks/keyed/ripple/src/Main.tsrx
  frameworks/keyed/ripple/src/main.js
  frameworks/keyed/ripple/vite.config.js
Due: prettier --write, eslint
