Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat(plaited): uses new features and improved function for temeplating
  frameworks/keyed/plaited/package-lock.json
  frameworks/keyed/plaited/package.json
  frameworks/keyed/plaited/src/main.tsx
Due: prettier --write

bump
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte-runes/package-lock.json
  frameworks/keyed/svelte-runes/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

keep runes / classic svelte implementation
  frameworks/keyed/svelte-classic/.npmrc
  frameworks/keyed/svelte-classic/index.html
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte-classic/rollup.config.js
  frameworks/keyed/svelte-classic/src/Main.svelte
  frameworks/keyed/svelte-classic/src/main.js
  frameworks/keyed/svelte-runes/.npmrc
  frameworks/keyed/svelte-runes/index.html
  frameworks/keyed/svelte-runes/package-lock.json
  frameworks/keyed/svelte-runes/package.json
  frameworks/keyed/svelte-runes/rollup.config.js
  frameworks/keyed/svelte-runes/src/Main.svelte
  frameworks/keyed/svelte-runes/src/main.js
  frameworks/non-keyed/svelte-classic/.npmrc
  frameworks/non-keyed/svelte-classic/index.html
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
  frameworks/non-keyed/svelte-classic/rollup.config.js
  frameworks/non-keyed/svelte-classic/src/Main.svelte
  frameworks/non-keyed/svelte-classic/src/main.js
  frameworks/non-keyed/svelte/src/main.js
Due: prettier --write, eslint

add link
  frameworks/keyed/svelte-classic/src/Main.svelte
Due: none

update
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/.npmrc
  frameworks/keyed/svelte/index.html
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/keyed/svelte/rollup.config.js
  frameworks/keyed/svelte/src/Main.svelte
  frameworks/keyed/svelte/src/main.js
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write, eslint

fix partial update in non-keyed classic
  frameworks/non-keyed/svelte-classic/src/Main.svelte
Due: none

Init folder structure
  frameworks/non-keyed/sprae/index.html
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/main.js
Due: prettier --write, eslint

Simpler class condition
  frameworks/non-keyed/sprae/index.html
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

update title
  frameworks/keyed/svelte/src/Main.svelte
Due: none

update package.json name
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

Bump version
  frameworks/non-keyed/sprae/package.json
Due: prettier --write

Bump to 8.0.1
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

feat: Version 1.0.14(diff optimize) and Add non-keyed
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/index.html
  frameworks/non-keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/src/main.jsx
  frameworks/non-keyed/frei-hooks/webpack.config.js
Due: prettier --write, eslint

lost the package-lock.json
  frameworks/non-keyed/frei-hooks/package-lock.json
Due: prettier --write

fixed: remove key
  frameworks/non-keyed/frei-hooks/src/main.jsx
Due: none

feat: 优化逻辑、尽早结束diff
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

代码微调
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

next.8
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

add file
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

update results for svelte, sprae, frei
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

update README
  README.md
Due: prettier --write

Update cample to v3.2.0-beta.6
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

frei update version
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

1.0.18
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

Update react-hooks with minor optimisations
  frameworks/keyed/react-hooks/src/main.jsx
Due: none

add quel
  frameworks/non-keyed/quel/index.html
  frameworks/non-keyed/quel/package-lock.json
  frameworks/non-keyed/quel/package.json
  frameworks/non-keyed/quel/src/buildData.js
  frameworks/non-keyed/quel/src/myappMain.js
  frameworks/non-keyed/quel/src/quel.min.js
Due: prettier --write, eslint

update `karyon` version
  frameworks/keyed/karyon/package.json
Due: prettier --write

update `esbuild` version
  frameworks/keyed/karyon/package.json
Due: prettier --write

update `karyon` framework implementation
  frameworks/keyed/karyon/src/app.js
Due: prettier --write, eslint

update cample, plaited, frei-hooks, blazor
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Update Strve to v6.2.0
  frameworks/keyed/strve/index.html
  frameworks/keyed/strve/package-lock.json
  frameworks/keyed/strve/package.json
  frameworks/keyed/strve/src/data.js
  frameworks/keyed/strve/src/main.jsx
Due: prettier --write, eslint

first draft for render duration
  eslint.config.js
  webdriver-ts-results/src/App.css
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/Common.ts
  webdriver-ts-results/src/components/ResultTable.tsx
  webdriver-ts-results/src/components/selection/ModeSelectionPanel/DurationModeSelector.tsx
  webdriver-ts-results/src/components/selection/ModeSelectionPanel/index.tsx
  webdriver-ts-results/src/components/selection/SelectionBar.tsx
  webdriver-ts-results/src/reducer.ts
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksWebdriverAfterframe.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriver.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCDP.ts
  webdriver-ts/src/parseTrace.ts
  webdriver-ts/src/timeline.ts
  webdriver-ts/src/writeResults.ts
Due: prettier --write, eslint

check results
  webdriver-ts-results/src/components/ResultTable.tsx
  webdriver-ts/src/parseTrace.ts
Due: prettier --write, eslint

improve handling of missing values
  webdriver-ts-results/src/reducer.ts
  webdriver-ts-results/src/results.ts
Due: prettier --write, eslint

fix #1222
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/benchmarksWebdriver.ts
  webdriver-ts/src/benchmarksWebdriverAfterframe.ts
  webdriver-ts/src/benchmarksWebdriverCDP.ts
Due: prettier --write, eslint

experimental: add fp and fcp
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksSize.ts
  webdriver-ts/src/forkedBenchmarkRunnerSize.ts
Due: prettier --write, eslint

add package-lock.json
  frameworks/keyed/karyon/package-lock.json
Due: prettier --write

Use vite 5 for results
  webdriver-ts-results/package-lock.json
  webdriver-ts-results/package.json
Due: prettier --write

mutraction implementation
  frameworks/non-keyed/mutraction/.babelrc
  frameworks/non-keyed/mutraction/index.html
  frameworks/non-keyed/mutraction/package-lock.json
  frameworks/non-keyed/mutraction/package.json
  frameworks/non-keyed/mutraction/simple.css
  frameworks/non-keyed/mutraction/src/build-dummy-data.ts
  frameworks/non-keyed/mutraction/src/index.tsx
  frameworks/non-keyed/mutraction/tsconfig.json
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: ./*.{json,md,yml,yaml,html}) or (any of: ./*.{js,cjs,ts})
  eslint: any of: ./*.{js,cjs,ts}
