Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore(server): remove prettier
  server/.prettierignore
  server/package-lock.json
  server/package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Optimize code
  frameworks/keyed/strve/src/main.jsx
Due: none

chore(webdriver): improve tsconfig
  webdriver-ts/src/types/jstat.d.ts
  webdriver-ts/tsconfig.eslint.json
  webdriver-ts/tsconfig.json
Due: prettier --write, eslint

qwik: update and use SSG
  frameworks/keyed/qwik/.gitignore
  frameworks/keyed/qwik/adapters/static/vite.config.ts
  frameworks/keyed/qwik/index.html
  frameworks/keyed/qwik/package-lock.json
  frameworks/keyed/qwik/package.json
  frameworks/keyed/qwik/rollup.config.js
  frameworks/keyed/qwik/src/components/app/index.tsx
  frameworks/keyed/qwik/src/components/router-head/router-head.tsx
  frameworks/keyed/qwik/src/entry.dev.tsx
  frameworks/keyed/qwik/src/entry.preview.tsx
  frameworks/keyed/qwik/src/entry.ssr.tsx
  frameworks/keyed/qwik/src/main.tsx
  frameworks/keyed/qwik/src/root.tsx
  frameworks/keyed/qwik/src/routes/index.tsx
  frameworks/keyed/qwik/src/routes/layout.tsx
  frameworks/keyed/qwik/src/routes/service-worker.ts
  frameworks/keyed/qwik/tsconfig.json
  frameworks/keyed/qwik/vite.config.ts
Due: prettier --write, eslint

qwik: use components to speed up actions
  frameworks/keyed/qwik/src/components/app/index.tsx
Due: none

korvin framework benchmark setup
  frameworks/non-keyed/fre/package-lock.json
  frameworks/non-keyed/korvin/.gitignore
  frameworks/non-keyed/korvin/Cargo.toml
  frameworks/non-keyed/korvin/README.md
  frameworks/non-keyed/korvin/build.sh
  frameworks/non-keyed/korvin/index.html
  frameworks/non-keyed/korvin/js-framework-benchmark-korvin.js
  frameworks/non-keyed/korvin/js-framework-benchmark-korvin_bg.wasm
  frameworks/non-keyed/korvin/package-lock.json
  frameworks/non-keyed/korvin/package.json
  frameworks/non-keyed/korvin/src/lib-old.rs
  frameworks/non-keyed/korvin/src/main.rs
  frameworks/non-keyed/korvin/template.html
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

qwik: don't build css, fix base URL
  frameworks/keyed/qwik/package-lock.json
  frameworks/keyed/qwik/src/components/router-head/router-head.tsx
  frameworks/keyed/qwik/src/entry.ssr.tsx
  frameworks/keyed/qwik/src/root.tsx
Due: prettier --write

feat: migrate to eslint flat config
  .eslintignore
  .eslintrc.json
  eslint.config.js
  package-lock.json
  package.json
  server/.eslintignore
  server/.eslintrc.json
  webdriver-ts-results/.eslintignore
  webdriver-ts-results/.eslintrc.json
  webdriver-ts-results/src/components/ui/Dropdown/index.tsx
  webdriver-ts/.eslintignore
  webdriver-ts/.eslintrc.cjs
Due: prettier --write, eslint

Update cample to v3.2.0-beta.2
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint

Update cample to v3.2.0-beta.2
  README.md
Due: prettier --write

fix readme
  README.md
Due: prettier --write

scroll whole table
  webdriver-ts-results/src/App.css
  webdriver-ts-results/src/components/ResultTable.tsx
  webdriver-ts-results/src/components/tables/CpuResultsTable.tsx
  webdriver-ts-results/src/components/tables/MemResultsTable.tsx
  webdriver-ts-results/src/components/tables/StartupResultsTable.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

refactor(webdriver): replace let and var with const
  eslint.config.js
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksLighthouse.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/benchmarksWebdriver.ts
  webdriver-ts/src/benchmarksWebdriverAfterframe.ts
  webdriver-ts/src/benchmarksWebdriverCDP.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/computeDuration.test.ts
  webdriver-ts/src/createResultJS.ts
  webdriver-ts/src/forkedBenchmarkRunnerLighthouse.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriver.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverAfterframe.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCDP.ts
  webdriver-ts/src/interval.ts
  webdriver-ts/src/isCSPCompliant.ts
  webdriver-ts/src/isKeyed.ts
  webdriver-ts/src/parseTrace.ts
  webdriver-ts/src/playwrightAccess.ts
  webdriver-ts/src/puppeteerAccess.ts
  webdriver-ts/src/timeline.ts
  webdriver-ts/src/webdriverAccess.ts
  webdriver-ts/src/webdriverCDPAccess.ts
  webdriver-ts/src/writeResults.ts
Due: prettier --write, eslint

update cample
  .prettierrc.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

mousedown is cheating - switch to mouseup
  frameworks/non-keyed/korvin/js-framework-benchmark-korvin_bg.wasm
  frameworks/non-keyed/korvin/src/main.rs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

add check for unusually long delay between mousedown and click (is there someone cheating?)
  webdriver-ts/src/timeline.ts
Due: prettier --write, eslint

chore: remove eslint's packages from sub-repos
  server/package-lock.json
  server/package.json
  webdriver-ts-results/package-lock.json
  webdriver-ts-results/package.json
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
Due: prettier --write

change to mouseup to click
  frameworks/non-keyed/korvin/js-framework-benchmark-korvin_bg.wasm
  frameworks/non-keyed/korvin/src/main.rs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

fix warning message
  webdriver-ts/src/createResultJS.ts
Due: prettier --write, eslint

first batch of #1421: archive frameworks
  README.md
Due: prettier --write

archive forgo
  README.md
Due: prettier --write

improve README #1458
  README.md
Due: prettier --write

chore: update vue to 3.3.6 and webpack
  frameworks/keyed/vue/package-lock.json
  frameworks/keyed/vue/package.json
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
Due: prettier --write

remove error if unusually long time between mousedown and click
  webdriver-ts/src/timeline.ts
Due: prettier --write, eslint

feat(eslint): add eslint-plugin-unicorn
  eslint.config.js
  package-lock.json
  package.json
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/benchmarksWebdriver.ts
  webdriver-ts/src/benchmarksWebdriverAfterframe.ts
  webdriver-ts/src/benchmarksWebdriverCDP.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/createResultJS.ts
  webdriver-ts/src/forkedBenchmarkRunnerLighthouse.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriver.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverAfterframe.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCDP.ts
  webdriver-ts/src/isCSPCompliant.ts
  webdriver-ts/src/isKeyed.ts
  webdriver-ts/src/parseTrace.ts
  webdriver-ts/src/timeline.ts
  webdriver-ts/src/webdriverAccess.ts
  webdriver-ts/src/webdriverCDPAccess.ts
  webdriver-ts/src/writeResults.ts
Due: prettier --write, eslint

chore(webdrier): format some files
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksLighthouse.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/computeDuration.test.ts
  webdriver-ts/src/createResultJS.ts
  webdriver-ts/src/forkedBenchmarkRunnerLighthouse.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriver.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverAfterframe.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCDP.ts
  webdriver-ts/src/isCSPCompliant.ts
  webdriver-ts/src/isKeyed.ts
  webdriver-ts/src/lighthouseConfig.ts
  webdriver-ts/src/parseTrace.ts
  webdriver-ts/src/playwrightAccess.ts
  webdriver-ts/src/puppeteerAccess.ts
  webdriver-ts/src/webdriverAccess.ts
  webdriver-ts/src/webdriverCDPAccess.ts
Due: prettier --write, eslint

fix(webdriver): name all files in CamelCase style
  package.json
  webdriver-ts/package.json
  webdriver-ts/src/benchmarksWebdriverCdp.ts
  webdriver-ts/src/createResultJs.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCdp.ts
  webdriver-ts/src/isCspCompliant.ts
  webdriver-ts/src/webdriverCdpAccess.ts
Due: prettier --write, eslint

refactor(webdriver): replace unnecessary if..esle with ternary
  eslint.config.js
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/isKeyed.ts
  webdriver-ts/src/webdriverAccess.ts
  webdriver-ts/src/webdriverCDPAccess.ts
  webdriver-ts/src/webdriverCdpAccess.ts
Due: prettier --write, eslint

feat(eslint): add eslint-plugin-unicorn
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint

fix(webdriver): rename files in CamelCase style
  package.json
  webdriver-ts/package.json
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksWebdriverCdp.ts
  webdriver-ts/src/createResultJs.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCdp.ts
  webdriver-ts/src/isCspCompliant.ts
  webdriver-ts/src/webdriverCdpAccess.ts
Due: prettier --write, eslint

chore: bump node version to 20.9.0
  .nvmrc
  README.md
Due: prettier --write

DooHTML-DOM-v0.92.1-beta
  frameworks/keyed/doohtml-dom/js/Main.class.js
  frameworks/keyed/doohtml-dom/js/doo.html.min.js
  frameworks/keyed/doohtml/js/Main.class.js
  frameworks/keyed/doohtml/js/doo.html.min.js
  frameworks/non-keyed/doohtml/js/Main.class.js
  frameworks/non-keyed/doohtml/js/doo.html.min.js
Due: prettier --write, eslint

fixed ver in package.json
  frameworks/keyed/doohtml-dom/package.json
  frameworks/keyed/doohtml/package.json
  frameworks/non-keyed/doohtml/package.json
Due: prettier --write

update legend state to new version
  frameworks/keyed/legend-state/package-lock.json
  frameworks/keyed/legend-state/package.json
  frameworks/non-keyed/legend-state-optimized/package-lock.json
  frameworks/non-keyed/legend-state-optimized/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./*.{json,md,yml,yaml,html}) or (any of: ./*.{js,cjs,ts})
  eslint: any of: ./*.{js,cjs,ts}
