Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix(keyed): align directory name with the keyed/ layout convention (version lives in metadata; harness composes the display name)
  frameworks/keyed/openelement/eslint.config.js
  frameworks/keyed/openelement/index.html
  frameworks/keyed/openelement/package-lock.json
  frameworks/keyed/openelement/package.json
  frameworks/keyed/openelement/src/data.ts
  frameworks/keyed/openelement/src/main.tsx
  frameworks/keyed/openelement/src/register.ts
  frameworks/keyed/openelement/vite.config.js
Due: prettier --write, eslint

update mjs benchmark entry
  frameworks/keyed/mjs/build.mjs
  frameworks/keyed/mjs/package-lock.json
  frameworks/keyed/mjs/package.json
Due: prettier --write

feat(keyed): add cortex-wasm high-performance Rust WebAssembly implementation
  frameworks/keyed/cortex-wasm/README.md
  frameworks/keyed/cortex-wasm/app.js
  frameworks/keyed/cortex-wasm/cortex_dom_arena.wasm
  frameworks/keyed/cortex-wasm/index.html
  frameworks/keyed/cortex-wasm/package.json
Due: prettier --write, eslint

feat(angular): upgrade to version 22.2
  frameworks/keyed/angular-cf-new-nozone/package-lock.json
  frameworks/keyed/angular-cf-new-nozone/package.json
  frameworks/keyed/angular-cf-signals-nozone/package-lock.json
  frameworks/keyed/angular-cf-signals-nozone/package.json
  frameworks/keyed/angular-cf-signals/package-lock.json
  frameworks/keyed/angular-cf-signals/package.json
  frameworks/keyed/angular-cf/package-lock.json
  frameworks/keyed/angular-cf/package.json
Due: prettier --write

bump hydro-js to latest
  frameworks/keyed/hydro-js/app.js
  frameworks/keyed/hydro-js/index.html
  frameworks/keyed/hydro-js/package-lock.json
  frameworks/keyed/hydro-js/package.json
  frameworks/keyed/hydro-js/src/app.tsx
  frameworks/keyed/hydro-js/src/index.html
  frameworks/non-keyed/hydro-js/app.js
  frameworks/non-keyed/hydro-js/index.html
  frameworks/non-keyed/hydro-js/package-lock.json
  frameworks/non-keyed/hydro-js/package.json
  frameworks/non-keyed/hydro-js/src/app.tsx
  frameworks/non-keyed/hydro-js/src/index.html
Due: prettier --write, eslint

feat(keyed): add yoya-ui entries (compiled AST + runtime-only)
  frameworks/keyed/yoya-ui-ast/index.html
  frameworks/keyed/yoya-ui-ast/package-lock.json
  frameworks/keyed/yoya-ui-ast/package.json
  frameworks/keyed/yoya-ui-ast/rollup.config.js
  frameworks/keyed/yoya-ui-ast/src/main.js
  frameworks/keyed/yoya-ui-runtime/index.html
  frameworks/keyed/yoya-ui-runtime/package-lock.json
  frameworks/keyed/yoya-ui-runtime/package.json
  frameworks/keyed/yoya-ui-runtime/src/main.js
Due: prettier --write, eslint

chore: update keyed/fable-ripple to 1.0.0-beta.5
  frameworks/keyed/fable-ripple/.config/dotnet-tools.json
  frameworks/keyed/fable-ripple/App.fsproj
  frameworks/keyed/fable-ripple/bundeled-dist/app.js
  frameworks/keyed/fable-ripple/package.json
  frameworks/keyed/fable-ripple/src/App.fs
Due: prettier --write, eslint

chore(keyed): bump yoya-ui to 0.7.6 — compiler /rollup entry, no unplugin
  frameworks/keyed/yoya-ui-ast/package-lock.json
  frameworks/keyed/yoya-ui-ast/package.json
  frameworks/keyed/yoya-ui-ast/rollup.config.js
  frameworks/keyed/yoya-ui-runtime/package-lock.json
  frameworks/keyed/yoya-ui-runtime/package.json
Due: prettier --write, eslint

chore(keyed): entry package versions 0.7.0 → 0.7.6（与依赖对齐）
  frameworks/keyed/yoya-ui-ast/package-lock.json
  frameworks/keyed/yoya-ui-ast/package.json
  frameworks/keyed/yoya-ui-runtime/package-lock.json
  frameworks/keyed/yoya-ui-runtime/package.json
Due: prettier --write

chore: update keyed/fable-ripple to 1.0.0-beta.6
  frameworks/keyed/fable-ripple/App.fsproj
  frameworks/keyed/fable-ripple/bundeled-dist/app.js
  frameworks/keyed/fable-ripple/package.json
Due: prettier --write, eslint

bump ElementaryUI version to 0.8.0
  frameworks/keyed/elementaryui/Package.resolved
  frameworks/keyed/elementaryui/Package.swift
  frameworks/keyed/elementaryui/bundled-dist/assets/App-CZnj3069.wasm
  frameworks/keyed/elementaryui/bundled-dist/assets/App-Ck9lkmaQ.wasm
  frameworks/keyed/elementaryui/bundled-dist/assets/index-Dup2zEm0.js
  frameworks/keyed/elementaryui/bundled-dist/assets/index-bnuUZqyt.js
  frameworks/keyed/elementaryui/bundled-dist/index.html
  frameworks/keyed/elementaryui/index.html
  frameworks/keyed/elementaryui/package-lock.json
  frameworks/keyed/elementaryui/package.json
Due: prettier --write, eslint

update farm-react to 0.1.0-beta.14
  frameworks/keyed/farm-react/package-lock.json
  frameworks/keyed/farm-react/package.json
Due: prettier --write

bump preact to 11.0.0
  frameworks/keyed/preact-classes/package-lock.json
  frameworks/keyed/preact-classes/package.json
  frameworks/keyed/preact-classes/webpack.config.js
  frameworks/keyed/preact-hooks/package-lock.json
  frameworks/keyed/preact-hooks/package.json
  frameworks/keyed/preact-kr-observable/package-lock.json
  frameworks/keyed/preact-kr-observable/package.json
  frameworks/keyed/preact-signals/package-lock.json
  frameworks/keyed/preact-signals/package.json
Due: prettier --write, eslint

update farm-react to 0.1.0-beta.15
  frameworks/keyed/farm-react/package-lock.json
  frameworks/keyed/farm-react/package.json
Due: prettier --write

use frameworkVersionFromPackage
  frameworks/keyed/openelement/package-lock.json
  frameworks/keyed/openelement/package.json
Due: prettier --write

Revert unrelated webdriver-ts/package-lock.json churn from PR #2105
  webdriver-ts/package-lock.json
Due: prettier --write

use frameworkVersionFromPackage and add repoURL
  frameworks/keyed/mjs/package-lock.json
  frameworks/keyed/mjs/package.json
Due: prettier --write

Add repoURL to README
  README.md
Due: prettier --write

chane to default syle URL
  frameworks/keyed/hydro-js/index.html
  frameworks/keyed/hydro-js/src/index.html
  frameworks/non-keyed/hydro-js/index.html
  frameworks/non-keyed/hydro-js/src/index.html
Due: prettier --write

update package-lock.json
  frameworks/keyed/fable-ripple/package-lock.json
Due: prettier --write

Add ArtScript (keyed)
  frameworks/keyed/artscript/index.html
  frameworks/keyed/artscript/package-lock.json
  frameworks/keyed/artscript/package.json
  frameworks/keyed/artscript/src/app.art
Due: prettier --write

add #800
  frameworks/keyed/yoya-ui-ast/package.json
  frameworks/keyed/yoya-ui-runtime/package.json
Due: prettier --write

add repoURL
  frameworks/keyed/artscript/package.json
Due: prettier --write

add 800 flag
  frameworks/keyed/preact-kr-observable/package.json
Due: prettier --write

smaller font, no decoration for links
  webdriver-ts-results/src/assets/styles/global.css
  webdriver-ts-results/src/components/ResultTable/ResultTable.tsx
Due: none

Chrome 154 results
  webdriver-ts-results/overview.html
  webdriver-ts-results/package.json
  webdriver-ts-results/public/sitemap.xml
  webdriver-ts-results/release.mjs
  webdriver-ts-results/releases.json
  webdriver-ts-results/releases.mjs
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts-results/templates/llms.txt
  webdriver-ts-results/templates/sitemap.xml
  webdriver-ts-results/vite.config.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

chrome 154 results
  package.json
Due: prettier --write

add review-skill, update release process
  .agents/skills/review-pr/SKILL.MD
  .claude
  .gitignore
  docs/WEBSITE.md
  push_results.sh
  webdriver-ts-results/release.mjs
Due: prettier --write

improve styles
  webdriver-ts-results/src/assets/styles/global.css
Due: none

updated to inferno v10
  frameworks/keyed/inferno/.babelrc
  frameworks/keyed/inferno/.npmrc
  frameworks/keyed/inferno/package-lock.json
  frameworks/keyed/inferno/package.json
  frameworks/keyed/inferno/rollup.config.js
  frameworks/non-keyed/inferno/.babelrc
  frameworks/non-keyed/inferno/.npmrc
  frameworks/non-keyed/inferno/package-lock.json
  frameworks/non-keyed/inferno/package.json
  frameworks/non-keyed/inferno/rollup.config.js
Due: prettier --write, eslint

remove antd and refactor css
  webdriver-ts-results/package-lock.json
  webdriver-ts-results/package.json
  webdriver-ts-results/src/App.css
  webdriver-ts-results/src/assets/styles/global.css
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTable.tsx
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/BenchmarkSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/BenchmarkSelectorCategory.tsx
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/BenchmarkSelectorList.tsx
  webdriver-ts-results/src/components/SelectionToolbar/CopyPasteControls/CopyPasteControls.css
  webdriver-ts-results/src/components/SelectionToolbar/CopyPasteControls/CopyPasteControls.tsx
  webdriver-ts-results/src/components/SelectionToolbar/FrameworkSelector/FrameworkSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/FrameworkSelector/FrameworkSelectorList.tsx
  webdriver-ts-results/src/components/SelectionToolbar/IssueSelector/IssueSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/IssueSelector/IssueSelectorList.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/DisplayModeSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/DurationModeSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/ModeSelectors.css
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/ModeSelectors.tsx
  webdriver-ts-results/src/components/SelectionToolbar/SelectionToolbar.css
  webdriver-ts-results/src/components/SelectionToolbar/SelectionToolbar.tsx
  webdriver-ts-results/src/components/SelectionToolbar/SelectorContentContainer/SelectionContentContainer.tsx
  webdriver-ts-results/src/components/SelectionToolbar/SelectorContentContainer/SelectorContentContainer.css
  webdriver-ts-results/src/components/SelectionToolbar/SelectorDialog.tsx
  webdriver-ts-results/src/components/tables/GeomMeanRow.tsx
  webdriver-ts-results/src/index.css
  webdriver-ts-results/src/index.tsx
Due: prettier --write

fix compare style
  webdriver-ts-results/src/App.css
Due: none

feat: add keyed Udodi benchmark implementation
  frameworks/keyed/udodi/index.html
  frameworks/keyed/udodi/package-lock.json
  frameworks/keyed/udodi/package.json
  frameworks/keyed/udodi/src/Main.js
Due: prettier --write, eslint

bump cydon to 0.2.0
  frameworks/non-keyed/cydon/package-lock.json
  frameworks/non-keyed/cydon/package.json
  frameworks/non-keyed/cydon/src/main.js
Due: prettier --write, eslint

artscript: 0.2.7
  frameworks/keyed/artscript/package-lock.json
  frameworks/keyed/artscript/package.json
Due: prettier --write

Add Lithent (keyed)
  frameworks/keyed/lithent/index.html
  frameworks/keyed/lithent/package-lock.json
  frameworks/keyed/lithent/package.json
  frameworks/keyed/lithent/src/main.tsx
  frameworks/keyed/lithent/tsconfig.json
  frameworks/keyed/lithent/vite.config.js
Due: prettier --write, eslint

Update Udodi benchmark to v1.1.4
  frameworks/keyed/udodi/package-lock.json
  frameworks/keyed/udodi/package.json
Due: prettier --write

Update Marionette implementations to published 5.0.0
  frameworks/keyed/marionette-backbone/package-lock.json
  frameworks/keyed/marionette-backbone/package.json
  frameworks/keyed/marionette-backbone/src/Main.js
  frameworks/keyed/marionette/package-lock.json
  frameworks/keyed/marionette/package.json
  frameworks/keyed/marionette/src/Main.js
Due: prettier --write, eslint

add rwc (keyed)
  frameworks/keyed/rwc/index.html
  frameworks/keyed/rwc/package-lock.json
  frameworks/keyed/rwc/package.json
  frameworks/keyed/rwc/src/main.ts
Due: prettier --write, eslint

rwc: English comments
  frameworks/keyed/rwc/src/main.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: ./*.{json,md,yml,yaml,html}) or (any of: ./*.{js,cjs,ts})
  eslint: any of: ./*.{js,cjs,ts}
