Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

upgrade fntags to 1.1.0 use rollup to tree shake the bundle and avoid anything that's unused
  frameworks/keyed/fntags/build.js
  frameworks/keyed/fntags/package-lock.json
  frameworks/keyed/fntags/package.json
  frameworks/keyed/fntags/rollup.config.js
  frameworks/keyed/fntags/src/Main.js
Due: prettier --write, eslint

experimental instructions for PRs
  .github/copilot-instructions.md
Due: prettier --write

Mention GitHub Copilot's experimental PR review
  README.md
Due: prettier --write

chore: update deps
  frameworks/keyed/vue-jsx-compiler/package-lock.json
  frameworks/keyed/vue-jsx-compiler/package.json
Due: prettier --write

chore: remove minify
  frameworks/keyed/vue-jsx-compiler/vite.config.js
Due: prettier --write, eslint

update spheres, fntags, add vue-jsx-compiler
  frameworks/keyed/fntags/package-lock.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

doohtml-lite-v0.98.3-jan-1-2026
  frameworks/keyed/doohtml-lite/src/main.js
Due: prettier --write, eslint

Converted shadowroot doohtml to functional
  frameworks/keyed/doohtml/index.html
  frameworks/keyed/doohtml/js/Main.class.js
  frameworks/keyed/doohtml/js/doo.html.min.js
  frameworks/keyed/doohtml/lib/doohtml.mjs
  frameworks/keyed/doohtml/package-lock.json
  frameworks/keyed/doohtml/package.json
  frameworks/keyed/doohtml/src/main.js
  frameworks/keyed/doohtml/templates/main.html
Due: prettier --write, eslint

fixed const
  frameworks/keyed/doohtml-lite/src/main.js
Due: prettier --write, eslint

fixed version miss match
  frameworks/keyed/doohtml/package-lock.json
  frameworks/keyed/doohtml/package.json
Due: prettier --write

Added Wallace 0.8.0
  frameworks/non-keyed/wallace/babel.config.cjs
  frameworks/non-keyed/wallace/index.html
  frameworks/non-keyed/wallace/package-lock.json
  frameworks/non-keyed/wallace/package.json
  frameworks/non-keyed/wallace/src/main.jsx
  frameworks/non-keyed/wallace/webpack.config.js
Due: prettier --write, eslint

chore: update @thyn/vite-plugin and @thyn/core to version 0.0.228
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
Due: prettier --write

chore: update dependencies for improved performance and features
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
Due: prettier --write

chore: update @thyn/core to version 0.0.237
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
Due: prettier --write

chore: update @thyn/core and @thyn/vite-plugin to latest versions
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
Due: prettier --write

chore: update @thyn/core and @thyn/vite-plugin to version 0.0.245
  frameworks/keyed/thyn/package-lock.json
Due: prettier --write

update thyn, doohtml. Add wallace
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

improve github copilot instructions
  .github/copilot-instructions.md
Due: prettier --write

update @thyn/core and @thyn/vite-plugin to version 0.0.302 and refactor data handling in App.thyn and Row.thyn
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
  frameworks/keyed/thyn/src/App.thyn
  frameworks/keyed/thyn/src/Row.thyn
  frameworks/keyed/thyn/src/state.thyn.js
Due: prettier --write, eslint

Upgrade Native Document to 1.0.76
  frameworks/keyed/native-document/package-lock.json
  frameworks/keyed/native-document/package.json
Due: prettier --write

update dioxus dep to latest version
  frameworks/keyed/dioxus/Cargo.toml
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark.js
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
  frameworks/keyed/dioxus/bundled-dist/index.html
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-cli-config-c2775606adf80e62/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-7e2aed97ebee2c55/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-7e2aed97ebee2c55/src/js/common.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-9ac3b5e174d5b843/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-9ac3b5e174d5b843/src/js/common.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-ce7056f341163470/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-ce7056f341163470/src/js/hydrate.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-ce7056f341163470/src/js/patch_console.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-ce7056f341163470/src/js/set_attribute.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-10186f9fcc0b4418/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-90b865b1369c74f4/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-90b865b1369c74f4/inline1.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-90b865b1369c74f4/src/eval.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-fe956e4b19891335/inline0.js
  frameworks/keyed/dioxus/index.html
  frameworks/keyed/dioxus/package.json
Due: prettier --write, eslint

Props passthrough
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
  frameworks/keyed/thyn/src/App.thyn
  frameworks/keyed/thyn/src/Row.thyn
Due: prettier --write

Use #props directive
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
  frameworks/keyed/thyn/src/App.thyn
Due: prettier --write

update @thyn/core and @thyn/vite-plugin to version 0.0.311
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
Due: prettier --write

chrome 144 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Updated non-keyed/wallace to 0.11.0
  frameworks/non-keyed/wallace/package-lock.json
  frameworks/non-keyed/wallace/package.json
  frameworks/non-keyed/wallace/src/main.jsx
Due: prettier --write

Added keyed/wallace at 0.11.0
  frameworks/keyed/wallace/babel.config.cjs
  frameworks/keyed/wallace/index.html
  frameworks/keyed/wallace/package-lock.json
  frameworks/keyed/wallace/package.json
  frameworks/keyed/wallace/src/main.jsx
  frameworks/keyed/wallace/webpack.config.js
Due: prettier --write, eslint

endr@0.2.4
  frameworks/keyed/endr/package-lock.json
  frameworks/keyed/endr/package.json
Due: prettier --write

endr@0.2.5
  frameworks/keyed/endr/package-lock.json
  frameworks/keyed/endr/package.json
Due: prettier --write

endr@0.2.6
  frameworks/keyed/endr/package-lock.json
  frameworks/keyed/endr/package.json
Due: prettier --write

Small tweak to avoid mixing repeaters
  frameworks/keyed/wallace/src/main.jsx
Due: none

use customURL
  frameworks/keyed/dioxus/package.json
Due: prettier --write

update dioxus, thyn, native-document, endr, wallace
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Update sprae
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

Updated Wallace to v0.12.0
  frameworks/keyed/wallace/babel.config.cjs
  frameworks/keyed/wallace/package-lock.json
  frameworks/keyed/wallace/package.json
  frameworks/non-keyed/wallace/babel.config.cjs
  frameworks/non-keyed/wallace/package-lock.json
  frameworks/non-keyed/wallace/package.json
Due: prettier --write, eslint

Move dummy row to top of table to prevent columns squashing
  webdriver-ts-results/src/components/ResultTable/ResultTable.tsx
  webdriver-ts-results/src/components/tables/CpuResultsTable.tsx
Due: none

Add Thane framework implementation (keyed)
  frameworks/keyed/thane/benchmark.ts
  frameworks/keyed/thane/index.html
  frameworks/keyed/thane/main.ts
  frameworks/keyed/thane/package-lock.json
  frameworks/keyed/thane/package.json
  frameworks/keyed/thane/tsconfig.json
  frameworks/keyed/thane/vite.config.js
  frameworks/keyed/wcf/package.json
Due: prettier --write, eslint

Added thane implementation
  frameworks/keyed/thane/benchmark.ts
  frameworks/keyed/thane/index.html
  frameworks/keyed/thane/main.ts
  frameworks/keyed/thane/package-lock.json
  frameworks/keyed/thane/package.json
  frameworks/keyed/thane/tsconfig.json
  frameworks/keyed/thane/vite.config.js
Due: prettier --write, eslint

update dependencies
  server/package-lock.json
  server/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./*.{json,md,yml,yaml,html}) or (any of: ./*.{js,cjs,ts})
  eslint: any of: ./*.{js,cjs,ts}
