Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

update svelte, mikado, strve, frei
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Update Mikado
  frameworks/keyed/mikado-proxy/package-lock.json
  frameworks/keyed/mikado-proxy/package.json
  frameworks/keyed/mikado-proxy/src/main.js
  frameworks/keyed/mikado/package-lock.json
  frameworks/keyed/mikado/package.json
  frameworks/keyed/mikado/src/main.js
  frameworks/non-keyed/mikado/package-lock.json
  frameworks/non-keyed/mikado/package.json
  frameworks/non-keyed/mikado/src/main.js
Due: prettier --write, eslint

remove useCallback
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/keyed/frei-hooks/src/main.jsx
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/src/main.jsx
Due: prettier --write

Update uhtml to v4.4
  frameworks/keyed/uhtml/package-lock.json
  frameworks/keyed/uhtml/package.json
  frameworks/non-keyed/uhtml/package-lock.json
  frameworks/non-keyed/uhtml/package.json
Due: prettier --write

Use number for row key
  frameworks/keyed/rendrjs/src/main.js
Due: prettier --write, eslint

Update rendrjs version
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
Due: prettier --write

Update rendrjs-atoms
  frameworks/keyed/rendrjs-atoms/package-lock.json
  frameworks/keyed/rendrjs-atoms/package.json
  frameworks/keyed/rendrjs-atoms/src/Row.js
  frameworks/keyed/rendrjs-atoms/src/Table.js
Due: prettier --write, eslint

Add goui
  frameworks/keyed/goui/README.md
  frameworks/keyed/goui/build/index.html
  frameworks/keyed/goui/build/main.wasm
  frameworks/keyed/goui/go.mod
  frameworks/keyed/goui/go.sum
  frameworks/keyed/goui/goui.yml
  frameworks/keyed/goui/package-lock.json
  frameworks/keyed/goui/package.json
  frameworks/keyed/goui/public/index.html
  frameworks/keyed/goui/src/app/app.go
  frameworks/keyed/goui/src/app/jumbotron.go
  frameworks/keyed/goui/src/app/row.go
  frameworks/keyed/goui/src/data/data.go
  frameworks/keyed/goui/src/main.go
Due: prettier --write

Update readme
  frameworks/keyed/goui/README.md
Due: prettier --write

Comment out dev line in go mod
  frameworks/keyed/goui/go.mod
  frameworks/keyed/goui/go.sum
Due: none

update rendrjs, uhtml, mikado and frei
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

update mikado
  frameworks/keyed/mikado-proxy/package-lock.json
  frameworks/keyed/mikado-proxy/package.json
  frameworks/keyed/mikado/package-lock.json
  frameworks/keyed/mikado/package.json
  frameworks/non-keyed/mikado/package-lock.json
  frameworks/non-keyed/mikado/package.json
Due: prettier --write

update mikado
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Update goui versionn
  frameworks/keyed/goui/build/index.html
  frameworks/keyed/goui/build/main.wasm
  frameworks/keyed/goui/go.mod
  frameworks/keyed/goui/go.sum
  frameworks/keyed/goui/goui.yml
  frameworks/keyed/goui/src/app/app.go
  frameworks/keyed/goui/src/app/jumbotron.go
  frameworks/keyed/goui/src/app/row.go
Due: prettier --write

Use singletons
  frameworks/keyed/goui/build/index.html
  frameworks/keyed/goui/build/main.wasm
  frameworks/keyed/goui/src/app/app.go
  frameworks/keyed/goui/src/app/jumbotron.go
  frameworks/keyed/goui/src/app/row.go
  webdriver-ts/src/benchmarksCommon.ts
Due: prettier --write, eslint

Revert iterations change
  webdriver-ts/src/benchmarksCommon.ts
Due: prettier --write, eslint

Update rendrjs versions
  frameworks/keyed/rendrjs-atoms/package-lock.json
  frameworks/keyed/rendrjs-atoms/package.json
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
Due: prettier --write

Update rendrjs version
  frameworks/keyed/rendrjs-atoms/package-lock.json
  frameworks/keyed/rendrjs-atoms/package.json
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
Due: prettier --write

Optimize dom interactions
  frameworks/keyed/goui/build/index.html
  frameworks/keyed/goui/build/main.wasm
Due: prettier --write

Simplify src
  frameworks/keyed/goui/build/main.wasm
Due: none

Fix leaked resources bug
  frameworks/keyed/goui/build/index.html
  frameworks/keyed/goui/build/main.wasm
Due: prettier --write

Better memory usage
  frameworks/keyed/goui/build/main.wasm
Due: none

dark version upgrade
  frameworks/keyed/dark/package-lock.json
  frameworks/keyed/dark/package.json
  frameworks/keyed/dark/src/index.ts
  frameworks/keyed/dark/src/index.tsx
  frameworks/keyed/dark/src/store.ts
  frameworks/keyed/dark/tsconfig.json
  frameworks/keyed/dark/webpack.config.js
Due: prettier --write, eslint

Update Mikado v0.8.327
  frameworks/keyed/mikado-proxy/package-lock.json
  frameworks/keyed/mikado-proxy/package.json
  frameworks/keyed/mikado-proxy/src/template/item.html
  frameworks/keyed/mikado/package-lock.json
  frameworks/keyed/mikado/package.json
  frameworks/keyed/mikado/src/template/item.html
  frameworks/non-keyed/mikado/package-lock.json
  frameworks/non-keyed/mikado/package.json
  frameworks/non-keyed/mikado/src/template/item.html
Due: prettier --write

#1586: hydro-js is broken
  broken-frameworks/keyed/hydro-js/app.js
  broken-frameworks/keyed/hydro-js/index.html
  broken-frameworks/keyed/hydro-js/package-lock.json
  broken-frameworks/keyed/hydro-js/package.json
  broken-frameworks/keyed/hydro-js/src/app.tsx
  broken-frameworks/keyed/hydro-js/src/index.html
  broken-frameworks/keyed/hydro-js/tsconfig.json
  broken-frameworks/keyed/hydro-js/utils/moveFiles.js
  broken-frameworks/non-keyed/hydro-js/app.js
  broken-frameworks/non-keyed/hydro-js/index.html
  broken-frameworks/non-keyed/hydro-js/package-lock.json
  broken-frameworks/non-keyed/hydro-js/package.json
  broken-frameworks/non-keyed/hydro-js/src/app.tsx
  broken-frameworks/non-keyed/hydro-js/src/index.html
  broken-frameworks/non-keyed/hydro-js/tsconfig.json
  broken-frameworks/non-keyed/hydro-js/utils/moveFiles.js
Due: prettier --write, eslint

chrome 121 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/components/ResultTable.tsx
  webdriver-ts-results/src/components/tables/SizeResultsTable.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

update preact
  frameworks/keyed/preact-classes/package-lock.json
  frameworks/keyed/preact-classes/package.json
  frameworks/keyed/preact-classes/webpack.config.js
  frameworks/keyed/preact-hooks/package-lock.json
  frameworks/keyed/preact-hooks/package.json
  frameworks/keyed/preact-signals/package-lock.json
  frameworks/keyed/preact-signals/package.json
Due: prettier --write, eslint

update stencil to v4.11
  frameworks/keyed/stencil/package-lock.json
  frameworks/keyed/stencil/package.json
Due: prettier --write

merge 1.1.4
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/keyed/frei-hooks/src/main.jsx
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/src/main.jsx
Due: prettier --write

1.1.5
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

fix: #1586 hydro-js build-step
  broken-frameworks/keyed/hydro-js/app.js
  broken-frameworks/keyed/hydro-js/utils/moveFiles.js
  broken-frameworks/non-keyed/hydro-js/app.js
  broken-frameworks/non-keyed/hydro-js/utils/moveFiles.js
  frameworks/keyed/hydro-js/app.js
  frameworks/keyed/hydro-js/index.html
  frameworks/keyed/hydro-js/package-lock.json
  frameworks/keyed/hydro-js/package.json
  frameworks/keyed/hydro-js/src/app.tsx
  frameworks/keyed/hydro-js/src/index.html
  frameworks/keyed/hydro-js/tsconfig.json
  frameworks/keyed/hydro-js/utils/moveFiles.js
  frameworks/non-keyed/hydro-js/app.js
  frameworks/non-keyed/hydro-js/index.html
  frameworks/non-keyed/hydro-js/package-lock.json
  frameworks/non-keyed/hydro-js/package.json
  frameworks/non-keyed/hydro-js/src/app.tsx
  frameworks/non-keyed/hydro-js/src/index.html
  frameworks/non-keyed/hydro-js/tsconfig.json
  frameworks/non-keyed/hydro-js/utils/moveFiles.js
Due: prettier --write, eslint

update leptos
  frameworks/keyed/leptos/Cargo.toml
  frameworks/keyed/leptos/bundled-dist/js-framework-benchmark-leptos.js
  frameworks/keyed/leptos/bundled-dist/js-framework-benchmark-leptos_bg.wasm
  frameworks/keyed/leptos/package.json
Due: prettier --write, eslint

Add pota
  frameworks/keyed/pota/.gitignore
  frameworks/keyed/pota/index.html
  frameworks/keyed/pota/package.json
  frameworks/keyed/pota/rollup.config.js
  frameworks/keyed/pota/src/main.jsx
  frameworks/keyed/pota/tsconfig.json
Due: prettier --write, eslint

update GXT to 0.37
  frameworks/keyed/gxt/package-lock.json
  frameworks/keyed/gxt/package.json
  frameworks/keyed/gxt/src/Button.gts
  frameworks/keyed/gxt/src/RemoveIcon.gts
  frameworks/keyed/gxt/src/Row.gts
  frameworks/keyed/gxt/tsconfig.json
  frameworks/keyed/gxt/vite.config.mts
Due: prettier --write

Update cample to v3.2.0-alpha.6
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

Update cample to v3.2.0-alpha.7
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

feat: vue-vapor
  frameworks/non-keyed/vue-vapor/index-dev.html
  frameworks/non-keyed/vue-vapor/index.html
  frameworks/non-keyed/vue-vapor/jsconfig.json
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
  frameworks/non-keyed/vue-vapor/src/App.vue
  frameworks/non-keyed/vue-vapor/src/data.js
  frameworks/non-keyed/vue-vapor/src/main.js
  frameworks/non-keyed/vue-vapor/vite.config.js
Due: prettier --write, eslint

revert frei-hooks update
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

update many frameworks
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
  webdriver-ts/src/createResultJS.ts
Due: prettier --write, eslint

frei update 1.1.6
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./*.{json,md,yml,yaml,html}) or (any of: ./*.{js,cjs,ts})
  eslint: any of: ./*.{js,cjs,ts}
