Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

Bump
  frameworks/keyed/michijs/package.json
Due: prettier --write

updated results for chrome 130
  frameworks/keyed/pota/package-lock.json
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
  webdriver-ts/results.json
Due: prettier --write, eslint

bump sonnet to 0.0.33
  frameworks/keyed/sonnet/package-lock.json
  frameworks/keyed/sonnet/package.json
  frameworks/non-keyed/sonnet/package-lock.json
  frameworks/non-keyed/sonnet/package.json
Due: prettier --write

bumped keyed/mikado
  frameworks/keyed/mikado/package-lock.json
  frameworks/keyed/mikado/package.json
Due: prettier --write

bumped keyed/mikado-proxy
  frameworks/keyed/mikado-proxy/package-lock.json
  frameworks/keyed/mikado-proxy/package.json
Due: prettier --write

bumped non-keyed/mikado
  frameworks/non-keyed/mikado/package-lock.json
  frameworks/non-keyed/mikado/package.json
Due: prettier --write

update solid and solid-store
  frameworks/keyed/solid-store/package-lock.json
  frameworks/keyed/solid-store/package.json
  frameworks/keyed/solid/package-lock.json
  frameworks/keyed/solid/package.json
Due: prettier --write

add #1139 and update package lock
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
Due: prettier --write

remove non-keyed sonnet
  frameworks/non-keyed/sonnet/index.html
  frameworks/non-keyed/sonnet/package-lock.json
  frameworks/non-keyed/sonnet/package.json
  frameworks/non-keyed/sonnet/src/App.js
  frameworks/non-keyed/sonnet/src/Main.js
  frameworks/non-keyed/sonnet/vite.config.js
Due: prettier --write, eslint

update sonnet, mikado, solid, michijs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Update to spheres v0.11
  frameworks/keyed/spheres/index.html
  frameworks/keyed/spheres/local.html
  frameworks/keyed/spheres/package-lock.json
  frameworks/keyed/spheres/package.json
  frameworks/keyed/spheres/src/app.ts
  frameworks/keyed/spheres/src/state.ts
Due: prettier --write, eslint

Bump - performance improvements
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
  frameworks/keyed/michijs/src/index.tsx
Due: prettier --write

Replaced type Row for interface Row
  frameworks/keyed/michijs/src/index.tsx
Due: none

Bump - more performance improvements
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
  frameworks/keyed/michijs/src/index.tsx
Due: prettier --write

Bump
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
Due: prettier --write

Bump - Removed CSP issue
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
Due: prettier --write

Bump
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
  frameworks/keyed/michijs/src/index.tsx
Due: prettier --write

feature: add @rvjs/core v0.3.0 benchmark
  frameworks/keyed/rvjs/dist/assets/index-ZrFCfpqp.js
  frameworks/keyed/rvjs/dist/index.html
  frameworks/keyed/rvjs/index.html
  frameworks/keyed/rvjs/package-lock.json
  frameworks/keyed/rvjs/package.json
  frameworks/keyed/rvjs/src/App.jsx
  frameworks/keyed/rvjs/src/App.ts
  frameworks/keyed/rvjs/src/main.jsx
  frameworks/keyed/rvjs/src/main.ts
  frameworks/keyed/rvjs/src/vite-env.d.ts
  frameworks/keyed/rvjs/tsconfig.json
  frameworks/keyed/rvjs/vite.config.js
Due: prettier --write, eslint

fix: fix project name
  frameworks/keyed/rvjs/package.json
Due: prettier --write

Add keyed/strve-rv
  frameworks/keyed/strve-rv/.gitignore
  frameworks/keyed/strve-rv/index.html
  frameworks/keyed/strve-rv/package-lock.json
  frameworks/keyed/strve-rv/package.json
  frameworks/keyed/strve-rv/src/data.js
  frameworks/keyed/strve-rv/src/main.jsx
  frameworks/keyed/strve-rv/webpack.config.js
Due: prettier --write, eslint

fix: update library version
  frameworks/keyed/rvjs/package-lock.json
  frameworks/keyed/rvjs/package.json
Due: prettier --write

Update cample to v3.2.1-beta.1
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint

add kr-observable
  frameworks/keyed/react-kr-observable/index.html
  frameworks/keyed/react-kr-observable/package-lock.json
  frameworks/keyed/react-kr-observable/package.json
  frameworks/keyed/react-kr-observable/rollup.config.mjs
  frameworks/keyed/react-kr-observable/src/Main.jsx
  frameworks/keyed/react-kr-observable/src/Row.jsx
  frameworks/keyed/react-kr-observable/src/RowStore.js
  frameworks/keyed/react-kr-observable/src/RowsStore.js
  frameworks/keyed/react-kr-observable/src/data.js
Due: prettier --write, eslint

Update pota
  frameworks/keyed/pota/package.json
Due: prettier --write

add 801 note
  frameworks/keyed/strve-rv/package.json
Due: prettier --write

update implementations
  frameworks/keyed/pota/package-lock.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Adjust the main logic code
  frameworks/keyed/strve-rv/src/main.jsx
Due: none

port of todomvc to start
  frameworks/keyed/react-livestore/.eslintrc.cjs
  frameworks/keyed/react-livestore/index.html
  frameworks/keyed/react-livestore/package.json
  frameworks/keyed/react-livestore/pnpm-lock.yaml
  frameworks/keyed/react-livestore/public/_headers
  frameworks/keyed/react-livestore/src/Root.tsx
  frameworks/keyed/react-livestore/src/ambient.d.ts
  frameworks/keyed/react-livestore/src/components/Footer.tsx
  frameworks/keyed/react-livestore/src/components/Header.tsx
  frameworks/keyed/react-livestore/src/components/MainSection.tsx
  frameworks/keyed/react-livestore/src/livestore.worker.ts
  frameworks/keyed/react-livestore/src/main.tsx
  frameworks/keyed/react-livestore/src/schema/index.ts
  frameworks/keyed/react-livestore/src/schema/mutations.ts
  frameworks/keyed/react-livestore/src/types.ts
  frameworks/keyed/react-livestore/tsconfig.json
  frameworks/keyed/react-livestore/vercel.json
  frameworks/keyed/react-livestore/vite.config.ts
Due: prettier --write, eslint

chore: update deps
  frameworks/keyed/vue/package-lock.json
  frameworks/keyed/vue/package.json
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
Due: prettier --write

bau-0.90 keyed
  frameworks/keyed/bau/.npmrc
  frameworks/keyed/bau/css/currentStyle.css
  frameworks/keyed/bau/css/main.css
  frameworks/keyed/bau/index.html
  frameworks/keyed/bau/main.js
  frameworks/keyed/bau/package-lock.json
  frameworks/keyed/bau/package.json
  frameworks/keyed/bau/vite.config.js
  frameworks/non-keyed/bau/package-lock.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

bau-0.90 keyed
  frameworks/keyed/bau/.npmrc
  frameworks/keyed/bau/css/currentStyle.css
  frameworks/keyed/bau/css/main.css
  frameworks/keyed/bau/index.html
  frameworks/keyed/bau/main.js
  frameworks/keyed/bau/package-lock.json
  frameworks/keyed/bau/package.json
  frameworks/keyed/bau/vite.config.js
  frameworks/non-keyed/bau/package-lock.json
Due: prettier --write, eslint

update pota
  frameworks/keyed/pota/package.json
  frameworks/keyed/pota/src/main.jsx
Due: prettier --write

forgot to checkin pota package-lock
  frameworks/keyed/pota/package-lock.json
Due: prettier --write

add package-lock
  frameworks/keyed/pota/package-lock.json
Due: prettier --write

merge PRs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

move to non-keyed
  frameworks/non-keyed/bau/.npmrc
  frameworks/non-keyed/bau/css/currentStyle.css
  frameworks/non-keyed/bau/css/main.css
  frameworks/non-keyed/bau/index.html
  frameworks/non-keyed/bau/main.js
  frameworks/non-keyed/bau/package-lock.json
  frameworks/non-keyed/bau/package.json
  frameworks/non-keyed/bau/vite.config.js
Due: prettier --write, eslint

use bauUpdate
  frameworks/non-keyed/bau/main.js
  frameworks/non-keyed/bau/package.json
Due: prettier --write, eslint

bau 0.92 faster swap
  frameworks/non-keyed/bau/package-lock.json
  frameworks/non-keyed/bau/package.json
Due: prettier --write
