Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

1.0.39
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

Add Reken framework
  frameworks/non-keyed/reken/index.html
  frameworks/non-keyed/reken/js/Main.js
  frameworks/non-keyed/reken/js/reken.js
  frameworks/non-keyed/reken/package-lock.json
  frameworks/non-keyed/reken/package.json
Due: prettier --write, eslint

1.0.40
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

Update rendrjs version
  frameworks/keyed/rendrjs-atoms/package-lock.json
  frameworks/keyed/rendrjs-atoms/package.json
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
Due: prettier --write

[glimmer-next]
  frameworks/keyed/gxt/.gitignore
  frameworks/keyed/gxt/.prettierignore
  frameworks/keyed/gxt/.prettierrc.cjs
  frameworks/keyed/gxt/index.html
  frameworks/keyed/gxt/package-lock.json
  frameworks/keyed/gxt/package.json
  frameworks/keyed/gxt/src/App.gts
  frameworks/keyed/gxt/src/App.gts.d.ts
  frameworks/keyed/gxt/src/Button.gts
  frameworks/keyed/gxt/src/RemoveIcon.gts
  frameworks/keyed/gxt/src/Row.gts
  frameworks/keyed/gxt/src/main.ts
  frameworks/keyed/gxt/src/utils.ts
  frameworks/keyed/gxt/src/vite-env.d.ts
  frameworks/keyed/gxt/tsconfig.json
  frameworks/keyed/gxt/types/index.d.ts
  frameworks/keyed/gxt/vite.config.mts
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

fix reken: replace symlink with actual file
  frameworks/non-keyed/reken/js/reken.js
Due: prettier --write, eslint

add generated files
  frameworks/keyed/hydro-js/app.js
  frameworks/non-keyed/hydro-js/app.js
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

update sprae, frei, svelte. Add reken, bui and gxt
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

1.0.41
  frameworks/keyed/frei-hooks/index.html
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/index.html
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

Disable default browser check in puppeteer
  webdriver-ts/src/puppeteerAccess.ts
Due: prettier --write, eslint

upgrade Svelte to 5.0.0-next.33
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

feat: use provide zoneless api
  frameworks/keyed/angular-cf-nozone/package-lock.json
  frameworks/keyed/angular-cf-nozone/package.json
  frameworks/keyed/angular-cf-nozone/src/app/app.component.html
  frameworks/keyed/angular-cf-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf-nozone/src/main.ts
Due: prettier --write, eslint

update glimmer-next [fix remove rows regression]
  frameworks/keyed/gxt/package-lock.json
  frameworks/keyed/gxt/package.json
  frameworks/keyed/gxt/src/main.ts
  frameworks/keyed/gxt/vite.config.mts
Due: prettier --write, eslint

update Mikado
  frameworks/keyed/mikado-proxy/package-lock.json
  frameworks/keyed/mikado-proxy/package.json
  frameworks/keyed/mikado-proxy/src/main.js
  frameworks/keyed/mikado-proxy/src/template/item.html
  frameworks/keyed/mikado/package-lock.json
  frameworks/keyed/mikado/package.json
  frameworks/keyed/mikado/src/main.js
  frameworks/keyed/mikado/src/template/item.html
  frameworks/non-keyed/mikado/package-lock.json
  frameworks/non-keyed/mikado/package.json
  frameworks/non-keyed/mikado/src/main.js
Due: prettier --write, eslint

Fix preloadicon bug; update version
  frameworks/keyed/rendrjs-atoms/package-lock.json
  frameworks/keyed/rendrjs-atoms/package.json
  frameworks/keyed/rendrjs-atoms/src/RemoveIcon.js
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/main.js
Due: prettier --write, eslint

1.0.42
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

1.0.43
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

Fix indentation inconsistency
  webdriver-ts/src/benchmarksPuppeteer.ts
Due: prettier --write, eslint

Derive checks from config.WARMUP_COUNT
  webdriver-ts/src/benchmarksPuppeteer.ts
Due: prettier --write, eslint

Make warmup count configurable for each benchmark
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksLighthouse.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/benchmarksSize.ts
  webdriver-ts/src/benchmarksWebdriver.ts
  webdriver-ts/src/benchmarksWebdriverAfterframe.ts
  webdriver-ts/src/benchmarksWebdriverCDP.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/createResultJS.ts
Due: prettier --write, eslint

Revert warmup counts back to 5
  webdriver-ts/src/benchmarksCommon.ts
Due: prettier --write, eslint

Remove unneeded import
  webdriver-ts/src/benchmarksCommon.ts
Due: prettier --write, eslint

Revert sample count back to 16
  webdriver-ts/src/common.ts
Due: prettier --write, eslint

update index.html
  frameworks/keyed/mikado-proxy/index.html
  frameworks/keyed/mikado/index.html
  frameworks/non-keyed/mikado/index.html
Due: prettier --write

Update frameworks/keyed/angular-cf-nozone/src/app/app.component.html
  frameworks/keyed/angular-cf-nozone/src/app/app.component.html
Due: prettier --write

fix angular signals
  frameworks/keyed/angular-cf-nozone/src/app/app.component.html
  frameworks/keyed/angular-cf-nozone/src/app/app.component.ts
Due: prettier --write, eslint

#1566 for playwright, webdrivercdp and webdriverAfterframe
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksWebdriver.ts
  webdriver-ts/src/benchmarksWebdriverAfterframe.ts
  webdriver-ts/src/benchmarksWebdriverCDP.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriver.ts
Due: prettier --write, eslint

bump svelte for .35
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

update angular-cf-nozone, mikado, frei, svelte, gxt, rendrjs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

add useCallback
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/keyed/frei-hooks/src/main.jsx
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/src/main.jsx
Due: prettier --write

更新个中版本
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

revert angular-cf-nozone
  frameworks/keyed/angular-cf-nozone/package-lock.json
  frameworks/keyed/angular-cf-nozone/package.json
  frameworks/keyed/angular-cf-nozone/src/app/app.component.html
  frameworks/keyed/angular-cf-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf-nozone/src/main.ts
Due: prettier --write, eslint

cleanup benchmark driver
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/forkedBenchmarkRunnerLighthouse.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerSize.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverAfterframe.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCDP.ts
Due: prettier --write, eslint

svelte: update on:click on onclick
  frameworks/keyed/svelte/src/Main.svelte
Due: none

cleanup and add new lighthouse metrics
  package.json
  webdriver-ts-results/src/reducer.ts
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
  webdriver-ts/src/benchmarksLighthouse.ts
  webdriver-ts/src/forkedBenchmarkRunnerLighthouse.ts
  webdriver-ts/src/timeline.ts
Due: prettier --write, eslint

Revert cpu iterations accidental change
  webdriver-ts/src/common.ts
Due: prettier --write, eslint

more lighthouse metrics
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

update mikado v0.8.222
  frameworks/keyed/mikado-proxy/package-lock.json
  frameworks/keyed/mikado-proxy/package.json
  frameworks/keyed/mikado-proxy/src/data.js
  frameworks/keyed/mikado/package-lock.json
  frameworks/keyed/mikado/package.json
  frameworks/non-keyed/mikado/package-lock.json
  frameworks/non-keyed/mikado/package.json
Due: prettier --write, eslint

Update Strve v6.6.6
  frameworks/keyed/strve/package-lock.json
  frameworks/keyed/strve/package.json
  frameworks/keyed/strve/src/main.jsx
Due: prettier --write
