Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Rename preact -> preact-classes
  frameworks/keyed/preact-classes/.babelrc
  frameworks/keyed/preact-classes/index.html
  frameworks/keyed/preact-classes/package-lock.json
  frameworks/keyed/preact-classes/package.json
  frameworks/keyed/preact-classes/preact.test.js
  frameworks/keyed/preact-classes/src/Main.jsx
  frameworks/keyed/preact-classes/src/Row.jsx
  frameworks/keyed/preact-classes/src/Store.es6.js
  frameworks/keyed/preact-classes/test/preact.test.js
  frameworks/keyed/preact-classes/test/setup.js
  frameworks/keyed/preact-classes/webpack.config.js
Due: prettier --write, eslint

move store updates outside of functional component
  frameworks/keyed/preact-signals/src/main.jsx
Due: none

non-keyed fre is broken
  broken-frameworks/non-keyed/fre/.npmrc
  broken-frameworks/non-keyed/fre/index.html
  broken-frameworks/non-keyed/fre/package-lock.json
  broken-frameworks/non-keyed/fre/package.json
  broken-frameworks/non-keyed/fre/src/main.jsx
  broken-frameworks/non-keyed/fre/webpack.config.js
Due: prettier --write, eslint

CPUBenchmark: run each iteration in new page
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
Due: prettier --write, eslint

results for chrome 118
  .prettierignore
  .prettierrc.json
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/Common.ts
  webdriver-ts-results/src/components/tables/CpuResultsTable.tsx
  webdriver-ts-results/src/components/tables/GeomMeanRow.tsx
  webdriver-ts-results/src/components/tables/MemResultsTable.tsx
  webdriver-ts-results/src/components/tables/StartupResultsTable.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/createResultJS.ts
  webdriver-ts/src/playwrightAccess.ts
  webdriver-ts/src/puppeteerAccess.ts
Due: prettier --write, eslint

results for chrome 118
  webdriver-ts-results/src/Common.ts
Due: prettier --write, eslint

optimize preact signals
  frameworks/keyed/preact-signals/src/main.jsx
Due: none

fix #1426
  broken-frameworks/non-keyed/fre/.npmrc
  broken-frameworks/non-keyed/fre/index.html
  broken-frameworks/non-keyed/fre/package-lock.json
  broken-frameworks/non-keyed/fre/package.json
  broken-frameworks/non-keyed/fre/src/main.jsx
  broken-frameworks/non-keyed/fre/webpack.config.js
Due: prettier --write, eslint

initial qwik implementation
  frameworks/keyed/qwik/index.html
  frameworks/keyed/qwik/package-lock.json
  frameworks/keyed/qwik/package.json
  frameworks/keyed/qwik/rollup.config.js
  frameworks/keyed/qwik/src/main.tsx
  frameworks/keyed/qwik/tsconfig.json
Due: prettier --write, eslint

update version use prod instead of dev
  frameworks/keyed/qwik/package-lock.json
  frameworks/keyed/qwik/package.json
  frameworks/keyed/qwik/rollup.config.js
Due: prettier --write, eslint

update lit, lit-html
  frameworks/keyed/lit-html/package-lock.json
  frameworks/keyed/lit-html/package.json
  frameworks/keyed/lit-html/rollup.config.js
  frameworks/keyed/lit/package-lock.json
  frameworks/keyed/lit/package.json
  frameworks/non-keyed/lit-html/package-lock.json
  frameworks/non-keyed/lit-html/package.json
  frameworks/non-keyed/lit-html/rollup.config.js
  frameworks/non-keyed/lit/package-lock.json
  frameworks/non-keyed/lit/package.json
Due: prettier --write, eslint

update legend state
  frameworks/keyed/legend-state/package-lock.json
  frameworks/keyed/legend-state/package.json
  frameworks/non-keyed/legend-state-optimized/package-lock.json
  frameworks/non-keyed/legend-state-optimized/package.json
Due: prettier --write

fix wasm-bindgen version
  frameworks/keyed/wasm-bindgen/package.json
Due: prettier --write

update art to v1.1.0
  frameworks/keyed/art/package-lock.json
  frameworks/keyed/art/package.json
Due: prettier --write

switch angular to the built-in control flow
  frameworks/keyed/angular/src/app/app.component.html
  frameworks/keyed/angular/src/app/app.component.ts
Due: prettier --write, eslint

update angular to 17-rc
  frameworks/keyed/angular/angular.json
  frameworks/keyed/angular/package-lock.json
  frameworks/keyed/angular/package.json
Due: prettier --write

update angular-nozone to 17-rc
  frameworks/keyed/angular-nozone/angular.json
  frameworks/keyed/angular-nozone/package-lock.json
  frameworks/keyed/angular-nozone/package.json
Due: prettier --write

switch angular-nozone to the built-in control flow
  frameworks/keyed/angular-nozone/src/app/app.component.html
  frameworks/keyed/angular-nozone/src/app/app.component.ts
Due: prettier --write, eslint

don't make signals for labels
  frameworks/keyed/angular-cf-signals/src/app/app.component.html
  frameworks/keyed/angular-cf-signals/src/app/app.component.ts
Due: prettier --write, eslint

chore: update prettier config
  .prettierignore
  .prettierrc.json
Due: prettier --write

chore(webdriver): format code
  webdriver-ts/csv_export.js
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksLighthouse.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/benchmarksWebdriver.ts
  webdriver-ts/src/benchmarksWebdriverAfterframe.ts
  webdriver-ts/src/benchmarksWebdriverCDP.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/computeDuration.test.ts
  webdriver-ts/src/createResultJS.ts
  webdriver-ts/src/forkedBenchmarkRunnerLighthouse.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriver.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverAfterframe.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCDP.ts
  webdriver-ts/src/interval.ts
  webdriver-ts/src/isCSPCompliant.ts
  webdriver-ts/src/isKeyed.ts
  webdriver-ts/src/lighthouseConfig.ts
  webdriver-ts/src/parseTrace.ts
  webdriver-ts/src/playwrightAccess.ts
  webdriver-ts/src/puppeteerAccess.ts
  webdriver-ts/src/timeline.ts
  webdriver-ts/src/typings/dot.d.ts
  webdriver-ts/src/typings/jstat.d.ts
  webdriver-ts/src/webdriverAccess.ts
  webdriver-ts/src/webdriverCDPAccess.ts
  webdriver-ts/src/writeResults.ts
Due: prettier --write, eslint

Remove typo
  README.md
Due: prettier --write

marko5 initial
  frameworks/keyed/marko5/.gitignore
  frameworks/keyed/marko5/README.md
  frameworks/keyed/marko5/package-lock.json
  frameworks/keyed/marko5/package.json
  frameworks/keyed/marko5/src/components/mouse-mask.marko
  frameworks/keyed/marko5/src/routes/+layout.marko
  frameworks/keyed/marko5/src/routes/_index/+meta.json
  frameworks/keyed/marko5/src/routes/_index/+page.marko
  frameworks/keyed/marko5/src/routes/_index/logo.svg
  frameworks/keyed/marko5/src/routes/favicon.png
Due: prettier --write

intial
  frameworks/keyed/marko5/src/routes/_index/+page.marko
Due: none

container
  frameworks/keyed/marko5/src/routes/_index/+page.marko
Due: none

satisfy constraint for keyed behavior
  frameworks/keyed/s2/src/bench.js
Due: prettier --write, eslint

add marko5
  frameworks/keyed/marko5/README.md
  frameworks/keyed/marko5/index.html
  frameworks/keyed/marko5/package-lock.json
  frameworks/keyed/marko5/package.json
  frameworks/keyed/marko5/src/components/content.component.js
  frameworks/keyed/marko5/src/components/content.marko
  frameworks/keyed/marko5/src/components/mouse-mask.marko
  frameworks/keyed/marko5/src/components/row.marko
  frameworks/keyed/marko5/src/routes/+layout.marko
  frameworks/keyed/marko5/src/routes/_index/+page.marko
  frameworks/keyed/marko5/vite.config.js
Due: prettier --write, eslint

chore(webdriver): remove .dot and .ejs templates
  webdriver-ts/check.dot
  webdriver-ts/index.ejs
  webdriver-ts/package.json
  webdriver-ts/src/typings/dot.d.ts
  webdriver-ts/table.dot
Due: prettier --write, eslint

production build
  frameworks/keyed/marko5/index.html
  frameworks/keyed/marko5/package.json
Due: prettier --write

refactor(web-ts): improve code according to Typescript styleguide
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/createResultJS.ts
  webdriver-ts/src/forkedBenchmarkRunnerLighthouse.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriver.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverAfterframe.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCDP.ts
  webdriver-ts/src/timeline.ts
  webdriver-ts/src/writeResults.ts
Due: prettier --write, eslint

refactor(web-ts): declare benchmark ids in enum
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksLighthouse.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/benchmarksWebdriver.ts
  webdriver-ts/src/benchmarksWebdriverAfterframe.ts
  webdriver-ts/src/benchmarksWebdriverCDP.ts
  webdriver-ts/src/parseTrace.ts
Due: prettier --write, eslint

refactor(webdriver): remove unused variables
  webdriver-ts/.eslintrc.cjs
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/benchmarksWebdriverCDP.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCDP.ts
  webdriver-ts/src/isCSPCompliant.ts
  webdriver-ts/src/isKeyed.ts
  webdriver-ts/src/parseTrace.ts
  webdriver-ts/src/timeline.ts
  webdriver-ts/src/webdriverAccess.ts
Due: prettier --write, eslint

overwrite marko 4 with marko 5
  frameworks/keyed/marko/.gitignore
  frameworks/keyed/marko/README.md
  frameworks/keyed/marko/index.html
  frameworks/keyed/marko/package-lock.json
  frameworks/keyed/marko/package.json
  frameworks/keyed/marko/rollup.config.js
  frameworks/keyed/marko/src/client.js
  frameworks/keyed/marko/src/components/content.component.js
  frameworks/keyed/marko/src/components/content.marko
  frameworks/keyed/marko/src/components/row.marko
  frameworks/keyed/marko/src/main/component.js
  frameworks/keyed/marko/src/main/components/row.marko
  frameworks/keyed/marko/src/main/index.marko
  frameworks/keyed/marko/src/routes/+layout.marko
  frameworks/keyed/marko/src/routes/_index/+meta.json
  frameworks/keyed/marko/src/routes/_index/+page.marko
  frameworks/keyed/marko/src/routes/_index/logo.svg
  frameworks/keyed/marko/src/routes/favicon.png
  frameworks/keyed/marko/vite.config.js
  frameworks/keyed/marko5/.gitignore
  frameworks/keyed/marko5/index.html
  frameworks/keyed/marko5/package-lock.json
  frameworks/keyed/marko5/package.json
Due: prettier --write, eslint

add custom url
  frameworks/keyed/marko/index.html
  frameworks/keyed/marko/package.json
Due: prettier --write

remove logo
  frameworks/keyed/marko/src/routes/+layout.marko
  frameworks/keyed/marko/src/routes/_index/logo.svg
  frameworks/keyed/marko/src/routes/favicon.png
Due: none

remove meta
  frameworks/keyed/marko/src/routes/_index/+meta.json
Due: prettier --write

format
  frameworks/keyed/marko/src/components/content.component.js
Due: prettier --write, eslint

chore(webdriver): enable some of tsconfig's strict rules
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/common.ts
  webdriver-ts/tsconfig.json
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: ./*.{json,md,yml,yaml,html}) or (any of: ./*.{js,cjs,ts})
  eslint: any of: ./*.{js,cjs,ts}
