Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore(server): bump deps
  server/package-lock.json
  server/package.json
Due: prettier --write

refactor(server): use the decorator to control the CSP
  server/app.ts
  server/src/csp/cspControllers.ts
  server/src/csp/cspDecorator.ts
  server/src/fastify.d.ts
  server/src/static/staticRouter.ts
Due: prettier --write, eslint

Changed Angular docs to angular.dev
  frameworks/keyed/angular-cf-nozone/package.json
  frameworks/keyed/angular-cf-signals/package.json
  frameworks/keyed/angular-cf/package.json
  frameworks/keyed/angular-ngfor/package.json
Due: prettier --write

chrome 128 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

fix non-keyed
  frameworks/non-keyed/vue-jsx-vapor/package-lock.json
  frameworks/non-keyed/vue-jsx-vapor/package.json
  frameworks/non-keyed/vue-jsx-vapor/vite.config.js
Due: prettier --write, eslint

add package-lock
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package-lock.json
Due: prettier --write

add react-compiler-hooks benchmark
  frameworks/keyed/react-compiler-hooks/index.html
  frameworks/keyed/react-compiler-hooks/package-lock.json
  frameworks/keyed/react-compiler-hooks/package.json
  frameworks/keyed/react-compiler-hooks/src/main.jsx
  frameworks/keyed/react-compiler-hooks/src/utils.js
  frameworks/keyed/react-compiler-hooks/webpack.config.js
Due: prettier --write, eslint

add package-lock
  frameworks/keyed/pota/package-lock.json
Due: prettier --write

small fixes
  eslint.config.js
  package.json
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/isCSPCompliant.ts
  webdriver-ts/src/isKeyed.ts
  webdriver-ts/src/playwrightAccess.ts
  webdriver-ts/src/puppeteerAccess.ts
Due: prettier --write, eslint

updated results
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

chore: update lwc to v7.2.6
  frameworks/keyed/lwc/package-lock.json
  frameworks/keyed/lwc/package.json
Due: prettier --write

fix(frameworks): no rollup modules for different OS found
  frameworks/keyed/alpine/package-lock.json
  frameworks/keyed/blockdom/package-lock.json
  frameworks/keyed/crank/package-lock.json
  frameworks/keyed/knockout/package-lock.json
  frameworks/keyed/ko-jsx/package-lock.json
  frameworks/keyed/lit-html/package-lock.json
  frameworks/keyed/lit/package-lock.json
  frameworks/keyed/malina/package-lock.json
  frameworks/keyed/marionette-backbone/package-lock.json
  frameworks/keyed/marionette/package-lock.json
  frameworks/keyed/mobx-jsx/package-lock.json
  frameworks/keyed/pota/package-lock.json
  frameworks/keyed/scarlets-frame/package-lock.json
  frameworks/keyed/sinuous/package-lock.json
  frameworks/keyed/udomsay-esx/package-lock.json
  frameworks/keyed/udomsay-tpl/package-lock.json
  frameworks/keyed/uhtml/package-lock.json
  frameworks/non-keyed/alins/package-lock.json
  frameworks/non-keyed/cydon/package-lock.json
  frameworks/non-keyed/lit-html/package-lock.json
  frameworks/non-keyed/redom/package-lock.json
  frameworks/non-keyed/scarlets-frame/package-lock.json
  frameworks/non-keyed/udomsay-esx/package-lock.json
  frameworks/non-keyed/uhtml/package-lock.json
Due: prettier --write

fix build errors
  frameworks/keyed/vuerx-jsx/package-lock.json
  frameworks/keyed/vuerx-jsx/rollup.config.js
  frameworks/non-keyed/scarlets-frame/package.json
Due: prettier --write, eslint

update results
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

update vue
  frameworks/keyed/vue/package-lock.json
  frameworks/keyed/vue/package.json
Due: prettier --write

update vue
  frameworks/keyed/vue-pinia/package-lock.json
  frameworks/keyed/vue-pinia/package.json
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
Due: prettier --write

update gtx to 0.0.57
  frameworks/keyed/gxt/package-lock.json
  frameworks/keyed/gxt/package.json
  frameworks/keyed/gxt/src/Row.gts
  frameworks/keyed/gxt/vite.config.mts
Due: prettier --write

update vue-vapor
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue-vapor/src/App.vue
  frameworks/keyed/vue-vapor/vite.config.js
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
  frameworks/non-keyed/vue-vapor/pnpm-lock.yaml
  frameworks/non-keyed/vue-vapor/src/App.vue
Due: prettier --write, eslint

Chrome 129 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
  webdriver-ts/results.json
Due: prettier --write, eslint

minor improvments
  frameworks/keyed/doohtml-dom/js/Main.class.js
  frameworks/keyed/doohtml/js/Main.class.js
Due: prettier --write, eslint

changed let to const
  frameworks/keyed/doohtml/js/Main.class.js
Due: prettier --write, eslint

reverted clear
  frameworks/keyed/doohtml-dom/js/Main.class.js
  frameworks/keyed/doohtml/js/Main.class.js
Due: prettier --write, eslint

chore: update
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue-vapor/pnpm-lock.yaml
  frameworks/keyed/vue-vapor/src/App.vue
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
  frameworks/non-keyed/vue-vapor/pnpm-lock.yaml
  frameworks/non-keyed/vue-vapor/src/App.vue
Due: prettier --write

update lwc, gxt, vue-vapor, doohtml
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

another run for vanillajs, doohtml, vue-vapor, lwc and gxt
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

version update
  frameworks/non-keyed/mutraction/package-lock.json
  frameworks/non-keyed/mutraction/package.json
Due: prettier --write

remove extraneous dep
  frameworks/non-keyed/mutraction/package-lock.json
  frameworks/non-keyed/mutraction/package.json
Due: prettier --write

feature: add rvjs benchmark
  frameworks/keyed/rvjs/.gitignore
  frameworks/keyed/rvjs/dist/assets/index-ZrFCfpqp.js
  frameworks/keyed/rvjs/dist/index.html
  frameworks/keyed/rvjs/index.html
  frameworks/keyed/rvjs/package-lock.json
  frameworks/keyed/rvjs/package.json
  frameworks/keyed/rvjs/src/App.ts
  frameworks/keyed/rvjs/src/main.ts
  frameworks/keyed/rvjs/src/vite-env.d.ts
  frameworks/keyed/rvjs/tsconfig.json
  frameworks/keyed/rvjs/vite.config.js
Due: prettier --write, eslint

Fix NaN% and broken compare (#1749)
  webdriver-ts-results/src/Common.ts
Due: prettier --write, eslint

Fix typo
  webdriver-ts-results/src/Common.ts
Due: prettier --write, eslint

feat: update viewfly to v1.0.2
  frameworks/keyed/viewfly/package-lock.json
  frameworks/keyed/viewfly/package.json
  frameworks/keyed/viewfly/src/index.tsx
  frameworks/keyed/viewfly/tsconfig.json
Due: prettier --write

update viewfly and mutraction-dom
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

fix NaN% and broken compare #1749
  webdriver-ts-results/src/Common.ts
Due: prettier --write, eslint

fix Add horizontal scrollbar to the website #1746
  webdriver-ts-results/src/assets/styles/global.css
Due: none

Upgrade to Svelte 5 final
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

Update main.jsx
  frameworks/keyed/pota/src/main.jsx
Due: none

update stuff
  frameworks/keyed/pota/index.html
  frameworks/keyed/pota/package.json
  frameworks/keyed/pota/rollup.config.js
  frameworks/keyed/pota/src/main.jsx
Due: prettier --write, eslint

Bump to v2
  frameworks/keyed/michijs-map/michi.config.ts
  frameworks/keyed/michijs-map/package-lock.json
  frameworks/keyed/michijs-map/package.json
  frameworks/keyed/michijs-map/public/index.html
  frameworks/keyed/michijs-map/src/index.tsx
  frameworks/keyed/michijs-map/tsconfig.json
  frameworks/keyed/michijs/michi.config.ts
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
  frameworks/keyed/michijs/src/index.tsx
  frameworks/keyed/michijs/tsconfig.json
Due: prettier --write, eslint

Bump dev-server
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./*.{json,md,yml,yaml,html}) or (any of: ./*.{js,cjs,ts})
  eslint: any of: ./*.{js,cjs,ts}
