Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update spheres to v0.24
  frameworks/keyed/spheres/package-lock.json
  frameworks/keyed/spheres/package.json
  frameworks/keyed/spheres/src/app.ts
  frameworks/keyed/spheres/src/state.ts
Due: prettier --write, eslint

update thyn, spheres
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

fix unflagged handling for benchmark selection
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/BenchmarkSelectorCategory.tsx
  webdriver-ts-results/src/components/SelectionToolbar/SelectorContentContainer/SelectionContentContainer.tsx
Due: none

chore: upgrade vapor to 3.6.0-alpha.2
  frameworks/keyed/vue-jsx-vapor/package-lock.json
  frameworks/keyed/vue-jsx-vapor/package.json
  frameworks/keyed/vue-jsx-vapor/src/App.jsx
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/non-keyed/vue-jsx-vapor/package-lock.json
  frameworks/non-keyed/vue-jsx-vapor/package.json
  frameworks/non-keyed/vue-jsx-vapor/src/App.jsx
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
Due: prettier --write

chore: update
  frameworks/keyed/vue-jsx-vapor/package-lock.json
  frameworks/keyed/vue-jsx-vapor/package.json
  frameworks/keyed/vue-jsx-vapor/src/App.jsx
  frameworks/keyed/vue-jsx/package-lock.json
  frameworks/keyed/vue-jsx/package.json
  frameworks/keyed/vue-jsx/vite.config.js
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue/package-lock.json
  frameworks/keyed/vue/package.json
  frameworks/non-keyed/vue-jsx-vapor/package-lock.json
  frameworks/non-keyed/vue-jsx-vapor/package.json
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
Due: prettier --write, eslint

chore: update
  frameworks/non-keyed/vue-jsx-vapor/src/App.jsx
Due: none

Remove old size benchmarks filter
  webdriver-ts-results/src/components/ResultTable/ResultTable.tsx
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/BenchmarkSelector.tsx
  webdriver-ts-results/src/store.ts
Due: prettier --write, eslint

use key instead of deprecated crank-key
  frameworks/keyed/crank/src/main.jsx
Due: none

Endr@0.2.0
  frameworks/keyed/endr/package.json
  frameworks/keyed/endr/src/index.js
Due: prettier --write, eslint

update pota
  frameworks/keyed/pota/package.json
  frameworks/keyed/pota/src/main.jsx
Due: prettier --write

Update keyed/mettle
  frameworks/keyed/mettle/package-lock.json
  frameworks/keyed/mettle/package.json
  frameworks/keyed/mettle/src/main.jsx
  frameworks/keyed/mettle/webpack.config.js
Due: prettier --write, eslint

bump
  frameworks/keyed/pota/package.json
Due: prettier --write

update to latest hydro-js version
  frameworks/keyed/hydro-js/app.js
  frameworks/keyed/hydro-js/index.html
  frameworks/keyed/hydro-js/package-lock.json
  frameworks/keyed/hydro-js/package.json
  frameworks/keyed/hydro-js/src/app.tsx
  frameworks/keyed/hydro-js/src/index.html
  frameworks/non-keyed/hydro-js/app.js
  frameworks/non-keyed/hydro-js/index.html
  frameworks/non-keyed/hydro-js/package-lock.json
  frameworks/non-keyed/hydro-js/package.json
  frameworks/non-keyed/hydro-js/src/app.tsx
  frameworks/non-keyed/hydro-js/src/index.html
Due: prettier --write, eslint

chore: add .npmrc
  frameworks/keyed/vue-jsx-vapor/.npmrc
  frameworks/keyed/vue-jsx-vapor/package-lock.json
  frameworks/keyed/vue-jsx-vapor/package.json
  frameworks/keyed/vue-jsx/.npmrc
  frameworks/keyed/vue-vapor/.npmrc
  frameworks/keyed/vue/.npmrc
  frameworks/non-keyed/vue-jsx-vapor/.npmrc
  frameworks/non-keyed/vue-jsx-vapor/package-lock.json
  frameworks/non-keyed/vue-jsx-vapor/package.json
  frameworks/non-keyed/vue-vapor/.npmrc
  frameworks/non-keyed/vue/.npmrc
Due: prettier --write

Update package-lock.json for endr framework
  frameworks/keyed/endr/package-lock.json
Due: prettier --write

Update package-lock.json for pota framework
  frameworks/keyed/pota/package-lock.json
Due: prettier --write

Copilot instructions for merging :)
  .github/copilot-instructions.md
Due: prettier --write

updated results
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

update endr results
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Update pota
  frameworks/keyed/pota/package.json
Due: prettier --write

Updated uhtml to v5
  frameworks/keyed/uhtml/package-lock.json
  frameworks/keyed/uhtml/package.json
  frameworks/keyed/uhtml/rollup.config.js
  frameworks/keyed/uhtml/src/index.js
  frameworks/keyed/uhtml/src/jumbotron.js
  frameworks/keyed/uhtml/src/table-delegate.js
  frameworks/keyed/uhtml/src/table-tr.js
  frameworks/keyed/uhtml/src/table.js
  frameworks/non-keyed/uhtml/package-lock.json
  frameworks/non-keyed/uhtml/package.json
  frameworks/non-keyed/uhtml/rollup.config.js
  frameworks/non-keyed/uhtml/src/index.js
  frameworks/non-keyed/uhtml/src/jumbotron.js
  frameworks/non-keyed/uhtml/src/table-delegate.js
  frameworks/non-keyed/uhtml/src/table.js
  frameworks/non-keyed/uhtml/src/utils.js
Due: prettier --write, eslint

Regenerate package-lock.json for pota after package.json update in PR #1911
  frameworks/keyed/pota/package-lock.json
Due: prettier --write

Regenerate dist/index.js for uhtml after rebuild-ci
  frameworks/keyed/uhtml/src/index.js
Due: prettier --write, eslint

duplicate those files
  frameworks/keyed/uhtml/src/jumbotron.js
  frameworks/keyed/uhtml/src/utils.js
Due: prettier --write, eslint

update hellajs to 0.14.0
  frameworks/keyed/hellajs/package-lock.json
  frameworks/keyed/hellajs/package.json
  frameworks/keyed/hellajs/rollup.config.mjs
  frameworks/keyed/hellajs/src/main.js
  frameworks/keyed/hellajs/src/main.jsx
Due: prettier --write, eslint

update hellajs dom version
  frameworks/keyed/hellajs/package-lock.json
  frameworks/keyed/hellajs/package.json
Due: prettier --write

update @hellajs/dom to version 0.14.2
  frameworks/keyed/hellajs/package-lock.json
  frameworks/keyed/hellajs/package.json
Due: prettier --write

chrome 139 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
  webdriver-ts/results.json
  webdriver-ts/tsconfig.json
Due: prettier --write, eslint

fix #1904
  webdriver-ts-results/src/Common.ts
  webdriver-ts-results/src/results.ts
  webdriver-ts/src/createResultJS.ts
Due: prettier --write, eslint

update Hellajs dom to 0.14.7
  frameworks/keyed/hellajs/package-lock.json
  frameworks/keyed/hellajs/package.json
Due: prettier --write

remove unused effect from helljs
  frameworks/keyed/hellajs/src/main.jsx
Due: none

refactor: simplify ActionButton component and usage in Bench
  frameworks/keyed/hellajs/src/main.jsx
Due: none

feat: add native-document implementation for benchmark
  frameworks/keyed/native-document/index.html
  frameworks/keyed/native-document/package-lock.json
  frameworks/keyed/native-document/package.json
  frameworks/keyed/native-document/src/components/Jumbotron.js
  frameworks/keyed/native-document/src/components/RemoveIcon.js
  frameworks/keyed/native-document/src/data.js
  frameworks/keyed/native-document/src/main.js
  frameworks/keyed/native-document/src/service.js
  frameworks/keyed/native-document/vite.config.js
Due: prettier --write, eslint

feat(perf): upgrade native document and use merge to add more rows
  frameworks/keyed/native-document/package-lock.json
  frameworks/keyed/native-document/package.json
  frameworks/keyed/native-document/src/service.js
Due: prettier --write, eslint

refactor: remove manual lifecycle cleanup, rely on GC
  frameworks/keyed/native-document/src/main.js
Due: prettier --write, eslint

Update preact to v10.27.1
  frameworks/keyed/preact-classes/package-lock.json
  frameworks/keyed/preact-classes/package.json
  frameworks/keyed/preact-hooks/package-lock.json
  frameworks/keyed/preact-hooks/package.json
  frameworks/keyed/preact-kr-observable/package-lock.json
  frameworks/keyed/preact-kr-observable/package.json
  frameworks/keyed/preact-signals/package-lock.json
  frameworks/keyed/preact-signals/package.json
Due: prettier --write

Update signals
  frameworks/keyed/preact-signals/package-lock.json
  frameworks/keyed/preact-signals/package.json
  frameworks/keyed/preact-signals/src/main.jsx
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./*.{json,md,yml,yaml,html}) or (any of: ./*.{js,cjs,ts})
  eslint: any of: ./*.{js,cjs,ts}
