Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore(web): remove vite-plugin-singlefile
  webdriver-ts-results/package-lock.json
  webdriver-ts-results/package.json
  webdriver-ts-results/vite.config.ts
Due: prettier --write, eslint

添加 dom pool
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

删除无用变量 & 枚举，代码清晰
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

精简代码
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

update package.json repository
  frameworks/keyed/mikado-proxy/package-lock.json
  frameworks/keyed/mikado-proxy/package.json
  frameworks/keyed/mikado-proxy/src/template/app.html
  frameworks/keyed/mikado/package-lock.json
  frameworks/keyed/mikado/package.json
  frameworks/keyed/mikado/src/data.js
  frameworks/keyed/mikado/src/template/app.html
  frameworks/non-keyed/mikado/package-lock.json
  frameworks/non-keyed/mikado/package.json
  frameworks/non-keyed/mikado/src/data.js
  frameworks/non-keyed/mikado/src/template/app.es6.js
  frameworks/non-keyed/mikado/src/template/item.es6.js
Due: prettier --write, eslint

refactor: upgrade dlightjs to the latest alpha version
  frameworks/keyed/dlightjs-subview/package-lock.json
  frameworks/keyed/dlightjs-subview/package.json
  frameworks/keyed/dlightjs-subview/src/data.js
  frameworks/keyed/dlightjs-subview/src/main.js
  frameworks/keyed/dlightjs/package-lock.json
  frameworks/keyed/dlightjs/package.json
  frameworks/keyed/dlightjs/src/data.js
  frameworks/keyed/dlightjs/src/main.js
  frameworks/non-keyed/dlightjs/package-lock.json
  frameworks/non-keyed/dlightjs/package.json
  frameworks/non-keyed/dlightjs/src/data.js
  frameworks/non-keyed/dlightjs/src/main.js
Due: prettier --write, eslint

1.0.27
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

- slightly more favorable options - shallower propref chains
  frameworks/non-keyed/mutraction/src/index.tsx
Due: none

1.0.28
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

Updates for 0.25
  frameworks/non-keyed/mutraction/package.json
  frameworks/non-keyed/mutraction/src/index.tsx
Due: prettier --write

update package lock
  frameworks/non-keyed/mutraction/package-lock.json
Due: prettier --write

feat: add vue-jsx
  frameworks/keyed/vue-jsx/index.html
  frameworks/keyed/vue-jsx/jsconfig.json
  frameworks/keyed/vue-jsx/package-lock.json
  frameworks/keyed/vue-jsx/package.json
  frameworks/keyed/vue-jsx/src/App.tsx
  frameworks/keyed/vue-jsx/src/data.js
  frameworks/keyed/vue-jsx/src/main.js
  frameworks/keyed/vue-jsx/vite.config.js
Due: prettier --write, eslint

chore: add css
  frameworks/keyed/vue-jsx/index.html
Due: prettier --write

fix: index html import error
  frameworks/keyed/vue-jsx/index.html
  frameworks/keyed/vue-jsx/src/App.tsx
Due: prettier --write

feat: add result name
  frameworks/keyed/vue-jsx/package.json
Due: prettier --write

feat: add memo optimize
  frameworks/keyed/vue-jsx/src/App.jsx
  frameworks/keyed/vue-jsx/src/useMemo.js
  webdriver-ts/src/puppeteerAccess.ts
Due: prettier --write, eslint

Upgrade Vue to 3.4
  frameworks/keyed/vue-pinia/package-lock.json
  frameworks/keyed/vue-pinia/package.json
  frameworks/keyed/vue/package-lock.json
  frameworks/keyed/vue/package.json
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
Due: prettier --write

feat: remove extra memo
  frameworks/keyed/vue-jsx/package-lock.json
  frameworks/keyed/vue-jsx/src/App.jsx
  frameworks/keyed/vue-jsx/src/useMemo.js
Due: prettier --write, eslint

refactor: upgrade dlightjs to the latest alpha version - v35
  frameworks/keyed/dlightjs-subview/package-lock.json
  frameworks/keyed/dlightjs-subview/package.json
  frameworks/keyed/dlightjs/package-lock.json
  frameworks/keyed/dlightjs/package.json
Due: prettier --write

优化props比对逻辑
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

add hotfix version
  frameworks/keyed/mikado-proxy/package-lock.json
  frameworks/keyed/mikado-proxy/package.json
  frameworks/keyed/mikado/package-lock.json
  frameworks/keyed/mikado/package.json
  frameworks/non-keyed/mikado/package-lock.json
  frameworks/non-keyed/mikado/package.json
Due: prettier --write

refactor: upgrade dlightjs to the latest alpha version - fix aria attr
  frameworks/keyed/dlightjs-subview/package-lock.json
  frameworks/keyed/dlightjs-subview/package.json
  frameworks/keyed/dlightjs/package-lock.json
  frameworks/keyed/dlightjs/package.json
Due: prettier --write

refactor: upgrade non-keyed dlightjs impl to the latest alpha version
  frameworks/non-keyed/dlightjs/package-lock.json
  frameworks/non-keyed/dlightjs/package.json
Due: prettier --write

attempt to fix + update vue
  frameworks/keyed/vue-jsx/package-lock.json
  frameworks/keyed/vue-jsx/package.json
  frameworks/keyed/vue-jsx/src/App.jsx
Due: prettier --write

update frei-hooks. dlight, mikado. add vue-jsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Add keyed/strve-reactivity
  frameworks/keyed/strve-reactivity/.gitignore
  frameworks/keyed/strve-reactivity/index.html
  frameworks/keyed/strve-reactivity/package-lock.json
  frameworks/keyed/strve-reactivity/package.json
  frameworks/keyed/strve-reactivity/src/data.js
  frameworks/keyed/strve-reactivity/src/main.jsx
  frameworks/keyed/strve-reactivity/webpack.config.js
Due: prettier --write, eslint

fix vue 3.4
  frameworks/keyed/vue-pinia/package-lock.json
  frameworks/keyed/vue-pinia/package.json
  frameworks/keyed/vue-pinia/webpack.config.js
  frameworks/keyed/vue/package-lock.json
  frameworks/keyed/vue/package.json
  frameworks/keyed/vue/webpack.config copy.js
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
  frameworks/non-keyed/vue/webpack.config.js
Due: prettier --write, eslint

Update rendrjs version
  frameworks/keyed/rendrjs-atoms/package-lock.json
  frameworks/keyed/rendrjs-atoms/package.json
  frameworks/keyed/rendrjs-atoms/src/Jumbotron.js
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/main.js
Due: prettier --write, eslint

Remove comments
  frameworks/keyed/rendrjs/src/main.js
Due: prettier --write, eslint

Update rendrjs version
  frameworks/keyed/rendrjs-atoms/package-lock.json
  frameworks/keyed/rendrjs-atoms/package.json
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
Due: prettier --write

1.0.35
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

添加缓存复用 fiber 能力，避免重复创建
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

update vue
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

update frei-hooks, strve-reactivity, rendrjs-atoms and rendrjs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Add Non-Keyed BUI
  frameworks/non-keyed/bui/app.json
  frameworks/non-keyed/bui/gulpfile.js
  frameworks/non-keyed/bui/index.html
  frameworks/non-keyed/bui/package-lock.json
  frameworks/non-keyed/bui/package.json
  frameworks/non-keyed/bui/src/css/bui.css
  frameworks/non-keyed/bui/src/index.html
  frameworks/non-keyed/bui/src/index.js
  frameworks/non-keyed/bui/src/js/bui.js
Due: prettier --write, eslint

update frei
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

upgrade to Svelte 5.0.0-next.28
  README.md
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/keyed/svelte/src/Main.svelte
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

Update sprae
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
Due: prettier --write

1.0.38
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./*.{json,md,yml,yaml,html}) or (any of: ./*.{js,cjs,ts})
  eslint: any of: ./*.{js,cjs,ts}
