Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

修改冲突
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

Update package.json
  frameworks/keyed/pota/package.json
Due: prettier --write

improve memory usage and deletion
  frameworks/keyed/pota/package.json
Due: prettier --write

update url
  frameworks/keyed/pota/package.json
Due: prettier --write

Add frameworks/keyed/laminar
  frameworks/keyed/laminar/.gitignore
  frameworks/keyed/laminar/LICENSE.md
  frameworks/keyed/laminar/build.sbt
  frameworks/keyed/laminar/dist/assets/index-3ddc6d45.js
  frameworks/keyed/laminar/dist/assets/index-3ddc6d45.js.map
  frameworks/keyed/laminar/dist/index.html
  frameworks/keyed/laminar/index.html
  frameworks/keyed/laminar/index.js
  frameworks/keyed/laminar/package-lock.json
  frameworks/keyed/laminar/package.json
  frameworks/keyed/laminar/project/build.properties
  frameworks/keyed/laminar/project/plugins.sbt
  frameworks/keyed/laminar/src/main/scala/app/JsApp.scala
  frameworks/keyed/laminar/src/main/scala/app/app.scala
  frameworks/keyed/laminar/vite-plugins/inject-html-vars.js
  frameworks/keyed/laminar/vite.config.js
Due: prettier --write, eslint

修改
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

1.1.8
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

feat: vue vapor
  frameworks/keyed/vue-vapor/index-dev.html
  frameworks/keyed/vue-vapor/index.html
  frameworks/keyed/vue-vapor/jsconfig.json
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue-vapor/src/App.vue
  frameworks/keyed/vue-vapor/src/data.js
  frameworks/keyed/vue-vapor/src/main.js
  frameworks/keyed/vue-vapor/vite.config.js
Due: prettier --write, eslint

cleanup & upgrade deps
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue-vapor/vite.config.js
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
  frameworks/non-keyed/vue-vapor/vite.config.js
Due: prettier --write, eslint

chore: upgrade deps
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package-lock.json
Due: prettier --write

Update cample to v3.2.0-alpha.8
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

Update Sling.js to version 21.0.1
  frameworks/non-keyed/slingjs/index.html
  frameworks/non-keyed/slingjs/package-lock.json
  frameworks/non-keyed/slingjs/package.json
  frameworks/non-keyed/slingjs/src/controller.js
Due: prettier --write, eslint

Move vue to vite, and add vapor
  frameworks/keyed/vue-vapor/.gitignore
  frameworks/keyed/vue-vapor/.npmrc
  frameworks/keyed/vue-vapor/index.html
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue-vapor/public/vite.svg
  frameworks/keyed/vue-vapor/src/App.vue
  frameworks/keyed/vue-vapor/src/data.js
  frameworks/keyed/vue-vapor/src/main.js
  frameworks/keyed/vue-vapor/vite.config.js
  frameworks/keyed/vue/.gitignore
  frameworks/keyed/vue/README.md
  frameworks/keyed/vue/package.json
  frameworks/keyed/vue/public/vite.svg
  frameworks/keyed/vue/src/main.js
  frameworks/keyed/vue/vite.config.js
  frameworks/keyed/vue/webpack.config copy.js
  frameworks/keyed/vue/webpack.config.js
Due: prettier --write, eslint

also moved non-keyed vue to vite
  frameworks/non-keyed/vue/index.html
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
  frameworks/non-keyed/vue/src/main.js
  frameworks/non-keyed/vue/vite.config.js
  frameworks/non-keyed/vue/webpack.config.js
Due: prettier --write, eslint

move vue-pinia to vite
  frameworks/keyed/vue-pinia/index.html
  frameworks/keyed/vue-pinia/package-lock.json
  frameworks/keyed/vue-pinia/package.json
  frameworks/keyed/vue-pinia/src/App.vue
  frameworks/keyed/vue-pinia/src/main.js
  frameworks/keyed/vue-pinia/vite.config.js
  frameworks/keyed/vue-pinia/webpack.config.js
Due: prettier --write, eslint

link to vapor repo
  frameworks/keyed/vue-vapor/package.json
Due: prettier --write

Optimize frameworks/keyed/laminar
  frameworks/keyed/laminar/dist/assets/index-3ddc6d45.js
  frameworks/keyed/laminar/dist/assets/index-3ddc6d45.js.map
  frameworks/keyed/laminar/dist/assets/index-84d215d4.js
  frameworks/keyed/laminar/dist/assets/index-84d215d4.js.map
  frameworks/keyed/laminar/dist/index.html
  frameworks/keyed/laminar/package.json
  frameworks/keyed/laminar/src/main/scala/app/JsApp.scala
  frameworks/keyed/laminar/src/main/scala/app/app.scala
Due: prettier --write, eslint

fix vapor
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue-vapor/src/App.vue
Due: prettier --write

remove vapor
  frameworks/keyed/vue-vapor/.gitignore
  frameworks/keyed/vue-vapor/.npmrc
  frameworks/keyed/vue-vapor/index.html
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue-vapor/public/vite.svg
  frameworks/keyed/vue-vapor/src/App.vue
  frameworks/keyed/vue-vapor/src/data.js
  frameworks/keyed/vue-vapor/src/main.js
  frameworks/keyed/vue-vapor/vite.config.js
Due: prettier --write, eslint

update cample to v.3.2.0-alpha.10
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

chore: update deps
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
Due: prettier --write

refactor: remove v-memo
  frameworks/keyed/vue-vapor/src/App.vue
  frameworks/non-keyed/vue-vapor/src/App.vue
Due: none

update cample to v3.2.0-alpha.11
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

add package.json
  frameworks/keyed/pota/package-lock.json
Due: prettier --write

update cample, frei, vue, pota, add vue-vapor
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Rename frameworks/keyed/laminar/dist to bundled-dist
  frameworks/keyed/laminar/bundled-dist/assets/index-84d215d4.js
  frameworks/keyed/laminar/bundled-dist/assets/index-84d215d4.js.map
  frameworks/keyed/laminar/bundled-dist/index.html
  frameworks/keyed/laminar/package.json
  frameworks/keyed/laminar/vite.config.js
Due: prettier --write, eslint

frei 1.1.9
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

update cample to v.3.2.0-alpha.12
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

[Ember]: Use native onclick
  frameworks/keyed/ember/app/components/my-table.gjs
Due: none

Bump to Svelte next.61
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte-classic/src/Main.svelte
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
  frameworks/non-keyed/svelte-classic/src/Main.svelte
Due: prettier --write

svelte next.64
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

chrome 122 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
  webdriver-ts/src/benchmarksCommon.ts
Due: prettier --write, eslint

feat: update dlight version + remove subview implementation
  frameworks/keyed/dlightjs-subview/index.html
  frameworks/keyed/dlightjs-subview/package-lock.json
  frameworks/keyed/dlightjs-subview/package.json
  frameworks/keyed/dlightjs-subview/rollup.config.js
  frameworks/keyed/dlightjs-subview/src/main.js
  frameworks/keyed/dlightjs/package-lock.json
  frameworks/keyed/dlightjs/package.json
  frameworks/keyed/dlightjs/src/main.js
  frameworks/non-keyed/dlightjs/package-lock.json
  frameworks/non-keyed/dlightjs/package.json
  frameworks/non-keyed/dlightjs/src/main.js
Due: prettier --write, eslint

Bump all vue entries
  frameworks/keyed/vue-jsx/package-lock.json
  frameworks/keyed/vue-jsx/package.json
  frameworks/keyed/vue-pinia/package-lock.json
  frameworks/keyed/vue-pinia/package.json
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue/package-lock.json
  frameworks/keyed/vue/package.json
  frameworks/keyed/vuerx-jsx/package-lock.json
  frameworks/keyed/vuerx-jsx/package.json
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
Due: prettier --write

update cample to 3.2.0-alpha.14
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

refactor, style: use ant design for website styling
  webdriver-ts-results/package-lock.json
  webdriver-ts-results/package.json
  webdriver-ts-results/src/App.css
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/Common.ts
  webdriver-ts-results/src/components/ResultTable.tsx
  webdriver-ts-results/src/components/selection/BenchmarkSelector/BenchmarkSelectorCategory.tsx
  webdriver-ts-results/src/components/selection/BenchmarkSelector/BenchmarkSelectorList.tsx
  webdriver-ts-results/src/components/selection/BenchmarkSelector/index.tsx
  webdriver-ts-results/src/components/selection/CopyPasteSelection/CopyPasteSelection.css
  webdriver-ts-results/src/components/selection/CopyPasteSelection/index.tsx
  webdriver-ts-results/src/components/selection/FrameworkSelector/FrameworkSelectorCategory.tsx
  webdriver-ts-results/src/components/selection/FrameworkSelector/FrameworkSelectorList.tsx
  webdriver-ts-results/src/components/selection/FrameworkSelector/index.tsx
  webdriver-ts-results/src/components/selection/ModeSelectionPanel/DisplayModeSelector.tsx
  webdriver-ts-results/src/components/selection/ModeSelectionPanel/DurationModeSelector.tsx
  webdriver-ts-results/src/components/selection/ModeSelectionPanel/ModeSelectionPanel.css
  webdriver-ts-results/src/components/selection/ModeSelectionPanel/index.tsx
  webdriver-ts-results/src/components/selection/SelectionBar/SelectionBar.css
  webdriver-ts-results/src/components/selection/SelectionBar/index.tsx
  webdriver-ts-results/src/components/selection/SelectorContentContainer/SelectorContentContainer.css
  webdriver-ts-results/src/components/selection/SelectorContentContainer/index.tsx
  webdriver-ts-results/src/components/ui/Dropdown/Dropdown.css
  webdriver-ts-results/src/components/ui/Dropdown/index.tsx
  webdriver-ts-results/src/index.tsx
  webdriver-ts-results/src/reducer.ts
  webdriver-ts-results/tsconfig.json
Due: prettier --write, eslint

refactor: change the directory structure of components
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/components/BoxPlotTable/index.ts
  webdriver-ts-results/src/components/ResultTable/ResultTable.tsx
  webdriver-ts-results/src/components/ResultTable/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/BenchmarkSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/BenchmarkSelectorCategory.tsx
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/BenchmarkSelectorList.tsx
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/CopyPasteControls/CopyPasteControls.css
  webdriver-ts-results/src/components/SelectionToolbar/CopyPasteControls/CopyPasteControls.tsx
  webdriver-ts-results/src/components/SelectionToolbar/CopyPasteControls/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/FrameworkSelector/FrameworkSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/FrameworkSelector/FrameworkSelectorCategory.tsx
  webdriver-ts-results/src/components/SelectionToolbar/FrameworkSelector/FrameworkSelectorList.tsx
  webdriver-ts-results/src/components/SelectionToolbar/FrameworkSelector/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/DisplayModeSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/DurationModeSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/ModeSelectionPanel.css
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/ModeSelectionPanel.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/SelectionToolbar.css
  webdriver-ts-results/src/components/SelectionToolbar/SelectionToolbar.tsx
  webdriver-ts-results/src/components/SelectionToolbar/SelectorContentContainer/SelectionContentContainer.tsx
  webdriver-ts-results/src/components/SelectionToolbar/SelectorContentContainer/SelectorContentContainer.css
  webdriver-ts-results/src/components/SelectionToolbar/SelectorContentContainer/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/index.ts
  webdriver-ts-results/src/components/selection/SelectionBar/index.tsx
  webdriver-ts-results/src/reducer.ts
  webdriver-ts-results/tsconfig.json
Due: prettier --write, eslint

chore: remove assets dir
  webdriver-ts-results/src/assets/icons/CopyIcon.tsx
  webdriver-ts-results/src/assets/icons/PasteIcon.tsx
  webdriver-ts-results/src/assets/icons/index.ts
Due: prettier --write, eslint

refactor: use aliases everywhere.
  webdriver-ts-results/src/components/tables/CompareRow.tsx
  webdriver-ts-results/src/components/tables/CpuResultsTable.tsx
  webdriver-ts-results/src/components/tables/GeomMeanRow.tsx
  webdriver-ts-results/src/components/tables/MemResultsTable.tsx
  webdriver-ts-results/src/components/tables/SizeResultsTable.tsx
  webdriver-ts-results/src/components/tables/StartupResultsTable.tsx
  webdriver-ts-results/src/components/tables/ValueResultRow.tsx
Due: none
