Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

Add rendrjs
  frameworks/keyed/rendrjs/.eslintrc.js
  frameworks/keyed/rendrjs/.gitignore
  frameworks/keyed/rendrjs/index.html
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/App.js
  frameworks/keyed/rendrjs/src/Button.js
  frameworks/keyed/rendrjs/src/Jumbotron.js
  frameworks/keyed/rendrjs/src/Row.js
  frameworks/keyed/rendrjs/src/main.js
  frameworks/keyed/rendrjs/webpack.config.js
Due: prettier --write, eslint

Use fixed versions in package.json
  frameworks/keyed/rendrjs/.eslintrc.js
  frameworks/keyed/rendrjs/package.json
Due: prettier --write, eslint

Add OpenUi5
  frameworks/non-keyed/openui5/index.html
  frameworks/non-keyed/openui5/package-lock.json
  frameworks/non-keyed/openui5/package.json
  frameworks/non-keyed/openui5/ui5.yaml
  frameworks/non-keyed/openui5/webapp/Component.js
  frameworks/non-keyed/openui5/webapp/controller/App.controller.js
  frameworks/non-keyed/openui5/webapp/controller/DataList.controller.js
  frameworks/non-keyed/openui5/webapp/css/style.css
  frameworks/non-keyed/openui5/webapp/element/MyColumnListItem.js
  frameworks/non-keyed/openui5/webapp/element/MyColumnListItemRenderer.js
  frameworks/non-keyed/openui5/webapp/element/MyLink.js
  frameworks/non-keyed/openui5/webapp/element/MyLinkRenderer.js
  frameworks/non-keyed/openui5/webapp/element/MyTable.js
  frameworks/non-keyed/openui5/webapp/element/MyTableRenderer.js
  frameworks/non-keyed/openui5/webapp/index.html
  frameworks/non-keyed/openui5/webapp/index.js
  frameworks/non-keyed/openui5/webapp/manifest.json
  frameworks/non-keyed/openui5/webapp/view/App.view.xml
  frameworks/non-keyed/openui5/webapp/view/DataList.view.xml
  frameworks/non-keyed/openui5/webapp/view/MyButtonVAdd.js
  frameworks/non-keyed/openui5/webapp/view/MyButtonVClear.js
  frameworks/non-keyed/openui5/webapp/view/MyButtonVRun.js
  frameworks/non-keyed/openui5/webapp/view/MyButtonVRunLots.js
  frameworks/non-keyed/openui5/webapp/view/MyButtonVSwapRows.js
  frameworks/non-keyed/openui5/webapp/view/MyButtonVUpdate.js
Due: prettier --write, eslint

update legend-state, vue, add korvin, renderjs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

removed keyed non-keyed implementation
  frameworks/non-keyed/doohtml/index.html
  frameworks/non-keyed/doohtml/js/Main.class.js
  frameworks/non-keyed/doohtml/js/doo.html.min.js
  frameworks/non-keyed/doohtml/package-lock.json
  frameworks/non-keyed/doohtml/package.json
  frameworks/non-keyed/doohtml/templates/main.html
Due: prettier --write, eslint

old ver
  frameworks/non-keyed/doohtml/js/doo.html.min.js
Due: prettier --write, eslint

old version
  frameworks/non-keyed/doohtml/js/Main.class.js
Due: prettier --write, eslint

old veriosn
  frameworks/non-keyed/doohtml/package.json
Due: prettier --write

update doohtml
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

fix results (NaN value)
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Fix swap bug fix
  frameworks/keyed/rendrjs/src/App.js
Due: prettier --write, eslint

Fixed Case of Tabke
  frameworks/non-keyed/openui5/webapp/element/MyTable.js
Due: prettier --write, eslint

remove table header
  frameworks/non-keyed/openui5/webapp/element/MyTableRenderer.js
Due: prettier --write, eslint

remove login buttin center table
  frameworks/non-keyed/openui5/index.html
  frameworks/non-keyed/openui5/webapp/index.html
  frameworks/non-keyed/openui5/webapp/view/App.view.xml
Due: prettier --write

get table structure
  frameworks/non-keyed/openui5/webapp/element/MyObjectIdentifier.js
  frameworks/non-keyed/openui5/webapp/element/MyObjectIdentifierRenderer.js
  frameworks/non-keyed/openui5/webapp/element/MyTableRenderer.js
  frameworks/non-keyed/openui5/webapp/element/MyText.js
  frameworks/non-keyed/openui5/webapp/element/MyTextRenderer.js
  frameworks/non-keyed/openui5/webapp/view/DataList.view.xml
Due: prettier --write, eslint

Update cample to v3.2.0-beta.4
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

feat(preact-hook, preact-signals): use memo for row commponent
  frameworks/keyed/preact-hooks/src/main.jsx
  frameworks/keyed/preact-signals/src/main.jsx
Due: none

chore: fix typo
  frameworks/keyed/preact-hooks/src/main.jsx
  frameworks/keyed/preact-signals/index.html
Due: prettier --write

Fix key field
  frameworks/non-keyed/openui5/webapp/element/MyObjectIdentifierRenderer.js
  frameworks/non-keyed/openui5/webapp/view/DataList.view.xml
Due: prettier --write, eslint

moved from non-keyed to keyed
  frameworks/keyed/openui5/index.html
  frameworks/keyed/openui5/package-lock.json
  frameworks/keyed/openui5/package.json
  frameworks/keyed/openui5/ui5.yaml
  frameworks/keyed/openui5/webapp/Component.js
  frameworks/keyed/openui5/webapp/controller/App.controller.js
  frameworks/keyed/openui5/webapp/controller/DataList.controller.js
  frameworks/keyed/openui5/webapp/css/style.css
  frameworks/keyed/openui5/webapp/element/MyColumnListItem.js
  frameworks/keyed/openui5/webapp/element/MyColumnListItemRenderer.js
  frameworks/keyed/openui5/webapp/element/MyLink.js
  frameworks/keyed/openui5/webapp/element/MyLinkRenderer.js
  frameworks/keyed/openui5/webapp/element/MyObjectIdentifier.js
  frameworks/keyed/openui5/webapp/element/MyObjectIdentifierRenderer.js
  frameworks/keyed/openui5/webapp/element/MyTable.js
  frameworks/keyed/openui5/webapp/element/MyTableRenderer.js
  frameworks/keyed/openui5/webapp/element/MyText.js
  frameworks/keyed/openui5/webapp/element/MyTextRenderer.js
  frameworks/keyed/openui5/webapp/index.html
  frameworks/keyed/openui5/webapp/index.js
  frameworks/keyed/openui5/webapp/manifest.json
  frameworks/keyed/openui5/webapp/view/App.view.xml
  frameworks/keyed/openui5/webapp/view/DataList.view.xml
  frameworks/keyed/openui5/webapp/view/MyButtonVAdd.js
  frameworks/keyed/openui5/webapp/view/MyButtonVClear.js
  frameworks/keyed/openui5/webapp/view/MyButtonVRun.js
  frameworks/keyed/openui5/webapp/view/MyButtonVRunLots.js
  frameworks/keyed/openui5/webapp/view/MyButtonVSwapRows.js
  frameworks/keyed/openui5/webapp/view/MyButtonVUpdate.js
Due: prettier --write, eslint

remove jstat from webdriver-ts
  webdriver-ts/package.json
  webdriver-ts/src/common.ts
  webdriver-ts/src/computeDuration.test.ts
  webdriver-ts/src/parseTrace.ts
  webdriver-ts/src/writeResults.ts
Due: prettier --write, eslint

first draft to measure compressed and uncompressed size
  server/app.js
  server/package-lock.json
  server/package.json
  server/src/responseSize/responseSizeController.js
  server/src/responseSize/responseSizeRouter.js
Due: prettier --write, eslint

move back
  frameworks/non-keyed/openui5/index.html
  frameworks/non-keyed/openui5/package-lock.json
  frameworks/non-keyed/openui5/package.json
  frameworks/non-keyed/openui5/ui5.yaml
  frameworks/non-keyed/openui5/webapp/Component.js
  frameworks/non-keyed/openui5/webapp/controller/App.controller.js
  frameworks/non-keyed/openui5/webapp/controller/DataList.controller.js
  frameworks/non-keyed/openui5/webapp/css/style.css
  frameworks/non-keyed/openui5/webapp/element/MyColumnListItem.js
  frameworks/non-keyed/openui5/webapp/element/MyColumnListItemRenderer.js
  frameworks/non-keyed/openui5/webapp/element/MyLink.js
  frameworks/non-keyed/openui5/webapp/element/MyLinkRenderer.js
  frameworks/non-keyed/openui5/webapp/element/MyObjectIdentifier.js
  frameworks/non-keyed/openui5/webapp/element/MyObjectIdentifierRenderer.js
  frameworks/non-keyed/openui5/webapp/element/MyTable.js
  frameworks/non-keyed/openui5/webapp/element/MyTableRenderer.js
  frameworks/non-keyed/openui5/webapp/element/MyText.js
  frameworks/non-keyed/openui5/webapp/element/MyTextRenderer.js
  frameworks/non-keyed/openui5/webapp/index.html
  frameworks/non-keyed/openui5/webapp/index.js
  frameworks/non-keyed/openui5/webapp/manifest.json
  frameworks/non-keyed/openui5/webapp/view/App.view.xml
  frameworks/non-keyed/openui5/webapp/view/DataList.view.xml
  frameworks/non-keyed/openui5/webapp/view/MyButtonVAdd.js
  frameworks/non-keyed/openui5/webapp/view/MyButtonVClear.js
  frameworks/non-keyed/openui5/webapp/view/MyButtonVRun.js
  frameworks/non-keyed/openui5/webapp/view/MyButtonVRunLots.js
  frameworks/non-keyed/openui5/webapp/view/MyButtonVSwapRows.js
  frameworks/non-keyed/openui5/webapp/view/MyButtonVUpdate.js
Due: prettier --write, eslint

define the version
  frameworks/non-keyed/openui5/package.json
Due: prettier --write

remove default class hardcode td css
  frameworks/non-keyed/openui5/webapp/element/MyColumnListItemRenderer.js
Due: prettier --write, eslint

refactor(webdriver): many code improvements
  eslint.config.js
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/benchmarksWebdriver.ts
  webdriver-ts/src/benchmarksWebdriverAfterframe.ts
  webdriver-ts/src/benchmarksWebdriverCdp.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/createResultJs.ts
  webdriver-ts/src/forkedBenchmarkRunnerLighthouse.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriver.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverAfterframe.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCdp.ts
  webdriver-ts/src/isCspCompliant.ts
  webdriver-ts/src/isKeyed.ts
  webdriver-ts/src/parseTrace.ts
  webdriver-ts/src/timeline.ts
  webdriver-ts/src/webdriverAccess.ts
  webdriver-ts/src/webdriverCdpAccess.ts
  webdriver-ts/src/writeResults.ts
Due: prettier --write, eslint

chore(webdriver): format code
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksLighthouse.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/computeDuration.test.ts
  webdriver-ts/src/createResultJs.ts
  webdriver-ts/src/forkedBenchmarkRunnerLighthouse.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriver.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverAfterframe.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCdp.ts
  webdriver-ts/src/isCspCompliant.ts
  webdriver-ts/src/isKeyed.ts
  webdriver-ts/src/lighthouseConfig.ts
  webdriver-ts/src/parseTrace.ts
  webdriver-ts/src/playwrightAccess.ts
  webdriver-ts/src/puppeteerAccess.ts
  webdriver-ts/src/webdriverAccess.ts
  webdriver-ts/src/webdriverCdpAccess.ts
Due: prettier --write, eslint

chore(webdriver): remove dockerode
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
Due: prettier --write

fix(web): disappearing border on the left side of tables when scrolling
  webdriver-ts-results/src/App.css
Due: none

fix #1469
  frameworks/keyed/react-hooks-use-transition/src/main.jsx
  frameworks/keyed/react-hooks/src/main.jsx
  frameworks/keyed/react-recoil/src/main.jsx
  frameworks/keyed/react-redux-hooks-immutable/src/main.jsx
  frameworks/keyed/react-redux-hooks/src/main.jsx
  frameworks/keyed/react-redux-rematch/src/main.jsx
  frameworks/keyed/react-redux/src/main.jsx
  frameworks/keyed/react-rxjs/src/main.jsx
  frameworks/keyed/react-tagged-state/src/main.jsx
  frameworks/keyed/react-tracked/src/main.jsx
  frameworks/keyed/react/src/main.jsx
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

update renderjs, most react implementations
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

archive choo
  README.md
Due: prettier --write

add note to results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

span + aria hidden remove
  frameworks/non-keyed/openui5/webapp/element/MyLinkRenderer.js
Due: prettier --write, eslint

add css classes
  frameworks/non-keyed/openui5/webapp/element/MyTableRenderer.js
  frameworks/non-keyed/openui5/webapp/view/DataList.view.xml
Due: prettier --write, eslint

chore: remove duplicate `dev` scripts
  frameworks/keyed/better-react/package.json
Due: prettier --write

chore(root): bump commander
  package-lock.json
  package.json
Due: prettier --write

chore(root): format code
  cli/check-obsolete.js
  cli/cleanup.js
  cli/configure-styles.js
  cli/copy.js
  cli/update-lockfiles.js
  cli/zip.js
  rebuild-all.js
  rebuild-build-single.js
  rebuild-check-single.js
  rebuild-single.js
  utils/frameworks/index.js
Due: prettier --write, eslint
