Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

Cleanup Svelte 4 implementation
  frameworks/keyed/svelte/src/Main.svelte
Due: none

fix(web-ts): importing jstat as CJS
  webdriver-ts/src/writeResults.ts
Due: prettier --write, eslint

Update Sycamore to 0.9.0-beta.2
  frameworks/keyed/sycamore/Cargo.toml
  frameworks/keyed/sycamore/bundled-dist/js-framework-benchmark-sycamore.js
  frameworks/keyed/sycamore/bundled-dist/js-framework-benchmark-sycamore_bg.wasm
  frameworks/keyed/sycamore/package.json
  frameworks/keyed/sycamore/src/lib.rs
Due: prettier --write, eslint

feat(web-ts-results): add vite-tsconfig-paths
  webdriver-ts-results/package-lock.json
  webdriver-ts-results/package.json
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTable.tsx
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTableRow.tsx
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTableRows.tsx
  webdriver-ts-results/src/components/selection/BenchmarkSelector/BenchmarkSelectorCategory.tsx
  webdriver-ts-results/src/components/selection/BenchmarkSelector/BenchmarkSelectorList.tsx
  webdriver-ts-results/src/components/selection/BenchmarkSelector/index.tsx
  webdriver-ts-results/src/components/selection/CopyPasteSelection.tsx
  webdriver-ts-results/src/components/selection/FrameworkSelector/FrameworkSelectorCategory.tsx
  webdriver-ts-results/src/components/selection/FrameworkSelector/FrameworkSelectorList.tsx
  webdriver-ts-results/src/components/selection/FrameworkSelector/index.tsx
  webdriver-ts-results/src/components/selection/ModeSelectionPanel/DisplayModeSelector.tsx
  webdriver-ts-results/src/components/selection/ModeSelectionPanel/DurationModeSelector.tsx
  webdriver-ts-results/src/components/selection/ModeSelectionPanel/index.tsx
  webdriver-ts-results/tsconfig.json
  webdriver-ts-results/vite.config.ts
Due: prettier --write, eslint

refactor(web-ts-results): add React.StrictMode
  webdriver-ts-results/src/index.tsx
Due: none

Update cample to v3.2.0-beta.0
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint

fix
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint

Update README
  README.md
Due: prettier --write

fix remove row
  frameworks/keyed/svelte/src/Main.svelte
Due: none

bump-ember-v5.3
  frameworks/keyed/ember/app/components/my-table.hbs
  frameworks/keyed/ember/app/index.html
  frameworks/keyed/ember/package-lock.json
  frameworks/keyed/ember/package.json
Due: prettier --write

bump ember-source
  frameworks/keyed/ember/config/ember-cli-update.json
  frameworks/keyed/ember/package-lock.json
  frameworks/keyed/ember/package.json
Due: prettier --write

update leptos, cample, sycamore, svelte
  .gitignore
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Bump solid 1.8
  frameworks/keyed/solid/package-lock.json
  frameworks/keyed/solid/package.json
Due: prettier --write

issue #1402
  broken-frameworks/keyed/bobril/.bbrc
  broken-frameworks/keyed/bobril/.vscode/settings.json
  broken-frameworks/keyed/bobril/index.html
  broken-frameworks/keyed/bobril/package-lock.json
  broken-frameworks/keyed/bobril/package.json
  broken-frameworks/keyed/bobril/src/app.ts
  broken-frameworks/keyed/bobril/src/store.ts
  broken-frameworks/keyed/bobril/tsconfig.json
Due: prettier --write, eslint

Update README.md
  README.md
Due: prettier --write

adds OWL framework
  frameworks/keyed/owl/index.html
  frameworks/keyed/owl/package-lock.json
  frameworks/keyed/owl/package.json
  frameworks/keyed/owl/src/Root.js
  frameworks/keyed/owl/src/data.js
  frameworks/keyed/owl/src/main.js
  frameworks/keyed/owl/webpack.config.js
Due: prettier --write, eslint

Update bobril to latest version
  broken-frameworks/keyed/bobril/.bbrc
  broken-frameworks/keyed/bobril/package-lock.json
  broken-frameworks/keyed/bobril/package.json
Due: prettier --write

bump stencil 2 to 4
  frameworks/keyed/stencil/package-lock.json
  frameworks/keyed/stencil/package.json
Due: prettier --write

Incorrect selection functionality for mikado, san, oldskull, reflex
  broken-frameworks/keyed/mikado/.gitignore
  broken-frameworks/keyed/mikado/index.html
  broken-frameworks/keyed/mikado/package-lock.json
  broken-frameworks/keyed/mikado/package.json
  broken-frameworks/keyed/mikado/src/data.js
  broken-frameworks/keyed/mikado/src/main.js
  broken-frameworks/keyed/mikado/src/template/app.html
  broken-frameworks/keyed/mikado/src/template/item.html
  broken-frameworks/keyed/mikado/task/build.js
  broken-frameworks/keyed/oldskull/index.html
  broken-frameworks/keyed/oldskull/package-lock.json
  broken-frameworks/keyed/oldskull/package.json
  broken-frameworks/keyed/oldskull/src/Application.ts
  broken-frameworks/keyed/oldskull/src/BenchmarkController.ts
  broken-frameworks/keyed/oldskull/src/BenchmarkView.ts
  broken-frameworks/keyed/oldskull/src/ItemCollectionView.ts
  broken-frameworks/keyed/oldskull/src/ItemModel.ts
  broken-frameworks/keyed/oldskull/src/ItemView.ts
  broken-frameworks/keyed/oldskull/src/main.ts
  broken-frameworks/keyed/oldskull/src/utils.ts
  broken-frameworks/keyed/oldskull/tsconfig.json
  broken-frameworks/keyed/oldskull/webpack.config.js
  broken-frameworks/keyed/reflex/.babelrc
  broken-frameworks/keyed/reflex/.gitignore
  broken-frameworks/keyed/reflex/.npmrc
  broken-frameworks/keyed/reflex/index.html
  broken-frameworks/keyed/reflex/package-lock.json
  broken-frameworks/keyed/reflex/package.json
  broken-frameworks/keyed/reflex/src/main.jsx
  broken-frameworks/keyed/reflex/tsconfig.json
  broken-frameworks/keyed/reflex/webpack.config.js
  broken-frameworks/keyed/san/.browserslistrc
  broken-frameworks/keyed/san/index.html
  broken-frameworks/keyed/san/package-lock.json
  broken-frameworks/keyed/san/package.json
  broken-frameworks/keyed/san/src/App.js
  broken-frameworks/keyed/san/src/main.es6.js
  broken-frameworks/keyed/san/src/store.es6.js
  broken-frameworks/keyed/san/webpack.config.js
Due: prettier --write, eslint

Update cample to v3.2.0-beta.1
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

Remove forgo
  frameworks/keyed/forgo/index.html
  frameworks/keyed/forgo/package-lock.json
  frameworks/keyed/forgo/package.json
  frameworks/keyed/forgo/src/main.tsx
  frameworks/keyed/forgo/tsconfig.json
Due: prettier --write

Remove choo
  frameworks/keyed/choo/index.html
  frameworks/keyed/choo/package-lock.json
  frameworks/keyed/choo/package.json
  frameworks/keyed/choo/src/index.js
  frameworks/keyed/choo/src/rowsView.js
  frameworks/keyed/choo/src/store.js
  frameworks/keyed/choo/src/utils.js
Due: prettier --write, eslint

Remove bdc
  frameworks/keyed/bdc/index.html
  frameworks/keyed/bdc/package-lock.json
  frameworks/keyed/bdc/package.json
  frameworks/keyed/bdc/rollup.config.js
  frameworks/keyed/bdc/src/app.js
Due: prettier --write, eslint

react-loops
  frameworks/keyed/react-loops/esbuild.config.js
  frameworks/keyed/react-loops/index.html
  frameworks/keyed/react-loops/package-lock.json
  frameworks/keyed/react-loops/package.json
  frameworks/keyed/react-loops/src/main.jsx
Due: prettier --write, eslint

select correct versions
  frameworks/keyed/react-loops/package.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Revert "select correct versions"
  frameworks/keyed/react-loops/package.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

fix version
  frameworks/keyed/react-loops/package.json
Due: prettier --write

Add vue-pinia
  frameworks/keyed/vue-pinia/index.html
  frameworks/keyed/vue-pinia/package-lock.json
  frameworks/keyed/vue-pinia/package.json
  frameworks/keyed/vue-pinia/src/App.vue
  frameworks/keyed/vue-pinia/src/data.js
  frameworks/keyed/vue-pinia/src/main.js
  frameworks/keyed/vue-pinia/src/store.js
  frameworks/keyed/vue-pinia/webpack.config.js
Due: prettier --write, eslint

Try some workaround to disable types autodetection in TypeScript
  broken-frameworks/keyed/bobril/.bbrc
  broken-frameworks/keyed/bobril/index.html
Due: prettier --write

build works again
  frameworks/keyed/bobril/.bbrc
  frameworks/keyed/bobril/.vscode/settings.json
  frameworks/keyed/bobril/index.html
  frameworks/keyed/bobril/package-lock.json
  frameworks/keyed/bobril/package.json
  frameworks/keyed/bobril/src/app.ts
  frameworks/keyed/bobril/src/store.ts
  frameworks/keyed/bobril/tsconfig.json
Due: prettier --write, eslint

update homepage
  frameworks/keyed/fre/package.json
Due: prettier --write

bdc-nonkeyed
  frameworks/non-keyed/bdc/index.html
  frameworks/non-keyed/bdc/package-lock.json
  frameworks/non-keyed/bdc/package.json
  frameworks/non-keyed/bdc/rollup.config.js
  frameworks/non-keyed/bdc/src/app.js
Due: prettier --write, eslint

chore: update s2 to use published version from npm
  frameworks/keyed/s2/package-lock.json
  frameworks/keyed/s2/package.json
  frameworks/keyed/s2/src/bench.js
Due: prettier --write, eslint

chore: update art to v1.0.0
  frameworks/keyed/art/package-lock.json
  frameworks/keyed/art/package.json
Due: prettier --write

Update Silkenweb to latest version (0.6.0)
  frameworks/keyed/silkenweb/Cargo.lock
  frameworks/keyed/silkenweb/Cargo.toml
  frameworks/keyed/silkenweb/Trunk.toml
  frameworks/keyed/silkenweb/bundled-dist/index.html
  frameworks/keyed/silkenweb/bundled-dist/js-framework-benchmark-silkenweb-c1debd87db51acf2_bg.wasm
  frameworks/keyed/silkenweb/bundled-dist/js-framework-benchmark-silkenweb-fa1762b6e678dcf6.js
  frameworks/keyed/silkenweb/bundled-dist/js-framework-benchmark-silkenweb-fa1762b6e678dcf6_bg.wasm
  frameworks/keyed/silkenweb/package.json
Due: prettier --write, eslint

Add Preact Signals
  frameworks/keyed/preact-signals/index.html
  frameworks/keyed/preact-signals/package-lock.json
  frameworks/keyed/preact-signals/package.json
  frameworks/keyed/preact-signals/rollup.config.js
  frameworks/keyed/preact-signals/src/main.jsx
Due: prettier --write, eslint

cleanup
  frameworks/keyed/preact-signals/src/main.jsx
Due: none

preact-hooks
  frameworks/keyed/preact-hooks/index.html
  frameworks/keyed/preact-hooks/package-lock.json
  frameworks/keyed/preact-hooks/package.json
  frameworks/keyed/preact-hooks/rollup.config.js
  frameworks/keyed/preact-hooks/src/main.jsx
Due: prettier --write, eslint
