Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

feat(vue-jsx-vapor): update deps
  broken-frameworks/non-keyed/vue-jsx-vapor/package-lock.json
  frameworks/keyed/vue-jsx-vapor/package.json
  frameworks/keyed/vue-jsx-vapor/src/App.jsx
  frameworks/keyed/vue-jsx-vapor/src/data.js
  frameworks/keyed/vue-jsx-vapor/src/main.js
  frameworks/keyed/vue-jsx-vapor/vite.config.js
  frameworks/non-keyed/vue-jsx-vapor/index-dev.html
  frameworks/non-keyed/vue-jsx-vapor/index.html
  frameworks/non-keyed/vue-jsx-vapor/jsconfig.json
  frameworks/non-keyed/vue-jsx-vapor/package-lock.json
  frameworks/non-keyed/vue-jsx-vapor/package.json
  frameworks/non-keyed/vue-jsx-vapor/src/App.jsx
  frameworks/non-keyed/vue-jsx-vapor/src/data.js
  frameworks/non-keyed/vue-jsx-vapor/src/main.js
  frameworks/non-keyed/vue-jsx-vapor/vite.config.js
Due: prettier --write, eslint

fix(vue-vapor): update deps
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue-vapor/src/App.vue
  frameworks/keyed/vue-vapor/src/main.js
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
  frameworks/non-keyed/vue-vapor/src/App.vue
  frameworks/non-keyed/vue-vapor/src/main.js
Due: prettier --write, eslint

Added framework zune
  frameworks/keyed/zune/index.html
  frameworks/keyed/zune/package-lock.json
  frameworks/keyed/zune/package.json
Due: prettier --write

Added framework zune
  frameworks/keyed/zune/index.html
  frameworks/keyed/zune/package.json
  frameworks/keyed/zune/src/components/bench.js
  frameworks/keyed/zune/src/config.js
  frameworks/keyed/zune/src/core/api.js
  frameworks/keyed/zune/src/core/build.js
  frameworks/keyed/zune/src/core/clear.js
  frameworks/keyed/zune/src/core/content.js
  frameworks/keyed/zune/src/core/each.js
  frameworks/keyed/zune/src/core/evt.js
  frameworks/keyed/zune/src/core/evtGroup.js
  frameworks/keyed/zune/src/core/form.js
  frameworks/keyed/zune/src/core/hash.js
  frameworks/keyed/zune/src/core/init.js
  frameworks/keyed/zune/src/core/main.js
  frameworks/keyed/zune/src/core/popstate.js
  frameworks/keyed/zune/src/core/prestate.js
  frameworks/keyed/zune/src/core/readFile.js
  frameworks/keyed/zune/src/core/scroll.js
  frameworks/keyed/zune/src/core/selector.js
  frameworks/keyed/zune/src/core/sleep.js
  frameworks/keyed/zune/src/core/spa.js
  frameworks/keyed/zune/src/core/spy.js
  frameworks/keyed/zune/src/core/state.js
  frameworks/keyed/zune/src/core/stream.js
  frameworks/keyed/zune/src/core/tpl.js
Due: prettier --write, eslint

doohtml-lite-v0.96.1 Initial preparation to convert Doo from class based to function based
  frameworks/keyed/doohtml-lite/index.html
  frameworks/keyed/doohtml-lite/js/doo.html.fn.min.js
  frameworks/keyed/doohtml-lite/package-lock.json
  frameworks/keyed/doohtml-lite/package.json
  frameworks/keyed/doohtml-lite/src/DooConfig.js
  frameworks/keyed/doohtml-lite/src/DooFn.js
  frameworks/keyed/doohtml-lite/src/main.js
Due: prettier --write, eslint

Performance improvement
  frameworks/keyed/preact-kr-observable/package.json
  frameworks/keyed/preact-kr-observable/src/RowsStore.js
  frameworks/keyed/react-kr-observable/package-lock.json
  frameworks/keyed/react-kr-observable/package.json
  frameworks/keyed/react-kr-observable/src/RowsStore.js
  frameworks/keyed/react-kr-observable/src/data.js
Due: prettier --write, eslint

Performance improvement
  frameworks/keyed/react-kr-observable/src/Main.jsx
Due: none

feat: use v-text
  frameworks/keyed/vue-jsx-vapor/package-lock.json
  frameworks/keyed/vue-jsx-vapor/package.json
  frameworks/keyed/vue-jsx-vapor/src/App.jsx
  frameworks/non-keyed/vue-jsx-vapor/package-lock.json
  frameworks/non-keyed/vue-jsx-vapor/package.json
  frameworks/non-keyed/vue-jsx-vapor/src/App.jsx
Due: prettier --write

chore: update deps
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
Due: prettier --write

add package-lock
  frameworks/keyed/preact-kr-observable/package-lock.json
  frameworks/keyed/react-kr-observable/package-lock.json
Due: prettier --write

add package-lock
  frameworks/keyed/zune/package-lock.json
Due: prettier --write

remove 1139
  frameworks/keyed/doohtml-lite/package.json
Due: prettier --write

update results
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

feat: update purescript-halogen
  frameworks/non-keyed/halogen/index.html
  frameworks/non-keyed/halogen/package.json
  frameworks/non-keyed/halogen/packages.dhall
  frameworks/non-keyed/halogen/spago.dhall
  frameworks/non-keyed/halogen/spago.lock
  frameworks/non-keyed/halogen/spago.yaml
  frameworks/non-keyed/halogen/src/Main.js
  frameworks/non-keyed/halogen/src/Main.purs
Due: prettier --write, eslint

feat: deku -> add
  frameworks/non-keyed/deku/.gitignore
  frameworks/non-keyed/deku/index.html
  frameworks/non-keyed/deku/package-lock.json
  frameworks/non-keyed/deku/package.json
  frameworks/non-keyed/deku/spago.lock
  frameworks/non-keyed/deku/spago.yaml
  frameworks/non-keyed/deku/src/Main.js
  frameworks/non-keyed/deku/src/Main.purs
Due: prettier --write, eslint

Bump signals and moved bundling with gcc and esbuild
  frameworks/keyed/vanillajs-signals/.gitignore
  frameworks/keyed/vanillajs-signals/michi.config.ts
  frameworks/keyed/vanillajs-signals/package-lock.json
  frameworks/keyed/vanillajs-signals/package.json
  frameworks/keyed/vanillajs-signals/tsconfig.json
Due: prettier --write, eslint

doohtml-lite-v0.96.2-march-30-2025
  frameworks/keyed/doohtml-lite/index copy.html
  frameworks/keyed/doohtml-lite/js/doo.html.fn.min.js
  frameworks/keyed/doohtml-lite/lib/doohtml.lite.min.js
  frameworks/keyed/doohtml-lite/package-lock.json
  frameworks/keyed/doohtml-lite/package.json
  frameworks/keyed/doohtml-lite/src/DooConfig.js
  frameworks/keyed/doohtml-lite/src/DooFn.js
  frameworks/keyed/doohtml-lite/src/main.js
Due: prettier --write, eslint

Update sprae
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
Due: prettier --write

Bump
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
Due: prettier --write

remove copy of index.html
  frameworks/keyed/doohtml-lite/index copy.html
Due: prettier --write

chrome 135 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

add package-lock
  frameworks/non-keyed/halogen/package-lock.json
Due: prettier --write

add modified files
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

update sprae, doohtml-lite, purescript-halogen
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

deku: update deps
  frameworks/non-keyed/deku/package.json
Due: prettier --write

chore: remove useless import of ngFor
  frameworks/keyed/angular-cf-signals-nozone/src/app/app.component.ts
Due: prettier --write, eslint

feat: nanoviews library
  frameworks/keyed/nanoviews/index.html
  frameworks/keyed/nanoviews/package-lock.json
  frameworks/keyed/nanoviews/package.json
  frameworks/keyed/nanoviews/rollup.config.js
  frameworks/keyed/nanoviews/src/main.js
Due: prettier --write, eslint

chore: upgrade plaited to 7.0.0
  frameworks/keyed/plaited/package-lock.json
  frameworks/keyed/plaited/package.json
  frameworks/keyed/plaited/src/main.tsx
Due: prettier --write

doohtml-lite-v0.97.5-april-13-2025
  frameworks/keyed/doohtml-lite/index.html
  frameworks/keyed/doohtml-lite/lib/doohtml.lite.min.js
  frameworks/keyed/doohtml-lite/lib/doohtml.mjs
  frameworks/keyed/doohtml-lite/package-lock.json
  frameworks/keyed/doohtml-lite/package.json
  frameworks/keyed/doohtml-lite/src/main.js
Due: prettier --write, eslint

minor modification to build data
  frameworks/keyed/doohtml-lite/src/main.js
Due: prettier --write, eslint

add hellajs
  frameworks/non-keyed/hellajs/index.html
  frameworks/non-keyed/hellajs/package-lock.json
  frameworks/non-keyed/hellajs/package.json
  frameworks/non-keyed/hellajs/src/main.js
Due: prettier --write, eslint

refactor: Change angular-cf-nozone to do the same DOM reconciliation as other Angular benchmarks
  frameworks/keyed/angular-cf-nozone/src/app/app.component.ts
Due: prettier --write, eslint

feat: Add benchmark for several successive updates
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCDP.ts
  webdriver-ts/src/parseTrace.ts
  webdriver-ts/src/timeline.ts
Due: prettier --write, eslint

fix: undefined error
  frameworks/keyed/plaited/package-lock.json
  frameworks/keyed/plaited/package.json
  frameworks/keyed/plaited/src/main.tsx
Due: prettier --write

add hellajs homepage
  frameworks/non-keyed/hellajs/package.json
Due: prettier --write

feat: deku -> add footer
  frameworks/non-keyed/deku/src/Main.purs
Due: none

add package-lock
  frameworks/non-keyed/deku/package-lock.json
Due: prettier --write
