Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

Update Solarite to 0.8.0
  frameworks/keyed/solarite/Solarite.min.js
  frameworks/keyed/solarite/main.js
  frameworks/keyed/solarite/package.json
  frameworks/non-keyed/solarite/Solarite.min.js
  frameworks/non-keyed/solarite/package.json
Due: prettier --write, eslint

Update WildflowerJS entries to v1.4.0
  frameworks/keyed/wildflowerjs-pool/package.json
  frameworks/keyed/wildflowerjs-pool/src/wildflower.lite.min.js
  frameworks/keyed/wildflowerjs/package.json
  frameworks/keyed/wildflowerjs/src/wildflower.mini.min.js
Due: prettier --write, eslint

react-supergrain: drop tbody remount so isKeyed detects keyed rows (#2)
  frameworks/keyed/react-supergrain/src/main.tsx
Due: none

add notes
  frameworks/keyed/domphy/package.json
Due: prettier --write

incremental run
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

remove flags
  frameworks/keyed/magnet/package.json
Due: prettier --write

Update sprae to 13.8.5
  frameworks/keyed/sprae/package-lock.json
  frameworks/keyed/sprae/package.json
  frameworks/keyed/sprae/src/sprae.js
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

Update sprae to 13.9.0
  frameworks/keyed/sprae/package-lock.json
  frameworks/keyed/sprae/package.json
  frameworks/keyed/sprae/src/sprae.js
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

Update sprae to 13.9.1
  frameworks/keyed/sprae/package-lock.json
  frameworks/keyed/sprae/package.json
  frameworks/keyed/sprae/src/sprae.js
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

feat: add DriftJS keyed framework implementation
  frameworks/keyed/drift/index.html
  frameworks/keyed/drift/package-lock.json
  frameworks/keyed/drift/package.json
  frameworks/keyed/drift/src/App.drift
  frameworks/keyed/drift/src/main.js
  frameworks/keyed/drift/vite.config.js
Due: prettier --write, eslint

chore(non-keyed/vode): bump version to 1.11.6
  frameworks/non-keyed/vode/main.mjs
  frameworks/non-keyed/vode/package-lock.json
  frameworks/non-keyed/vode/package.json
  frameworks/non-keyed/vode/src/main.ts
Due: prettier --write, eslint

feat(keyed/vode): add keyed/vode 1.11.6
  frameworks/keyed/vode/index.html
  frameworks/keyed/vode/main.mjs
  frameworks/keyed/vode/package-lock.json
  frameworks/keyed/vode/package.json
  frameworks/keyed/vode/src/data.ts
  frameworks/keyed/vode/src/main.ts
Due: prettier --write, eslint

css/bootstrap/dist/js/bootstrap.js: Fix XSS in Alert, Carousel, Collapse, Dropdown and Modal
  css/bootstrap/dist/js/bootstrap.js
Due: prettier --write, eslint

Add keyed PyJS implementations
  frameworks/keyed/pyjs-ui/.gitignore
  frameworks/keyed/pyjs-ui/bundled-dist/index.html
  frameworks/keyed/pyjs-ui/bundled-dist/main.js
  frameworks/keyed/pyjs-ui/bundled-dist/style.css
  frameworks/keyed/pyjs-ui/index.html
  frameworks/keyed/pyjs-ui/package-lock.json
  frameworks/keyed/pyjs-ui/package.json
  frameworks/keyed/pyjs-ui/src/main.py
  frameworks/keyed/pyjs-ui/style.css
  frameworks/keyed/pyjs/.gitignore
  frameworks/keyed/pyjs/bundled-dist/index.html
  frameworks/keyed/pyjs/bundled-dist/main.js
  frameworks/keyed/pyjs/index.html
  frameworks/keyed/pyjs/package-lock.json
  frameworks/keyed/pyjs/package.json
  frameworks/keyed/pyjs/src/main.py
Due: prettier --write, eslint

chore(vue): drop data-label and delegate the per-row click handlers
  frameworks/keyed/vue-jsx-vapor/src/App.jsx
  frameworks/keyed/vue-vapor/src/App.vue
  frameworks/keyed/vue/src/App.vue
  frameworks/non-keyed/vue-jsx-vapor/src/App.jsx
  frameworks/non-keyed/vue-vapor/src/App.vue
  frameworks/non-keyed/vue/src/App.vue
Due: none

chore(vue-vapor): update vue to 3.6.0-rc.5
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
Due: prettier --write

Add Nix.js keyed implementation
  frameworks/keyed/nix-js/.gitignore
  frameworks/keyed/nix-js/index.html
  frameworks/keyed/nix-js/package-lock.json
  frameworks/keyed/nix-js/package.json
  frameworks/keyed/nix-js/src/main.ts
  frameworks/keyed/nix-js/tsconfig.json
  frameworks/keyed/nix-js/vite.config.ts
Due: prettier --write, eslint

fix: CVE-2023-45133 security vulnerability
  broken-frameworks/keyed/million/package-lock.json
  broken-frameworks/keyed/million/package.json
Due: prettier --write

chore(marionette): update keyed implementation to v5 beta1
  frameworks/keyed/marionette/.babelrc
  frameworks/keyed/marionette/package-lock.json
  frameworks/keyed/marionette/package.json
  frameworks/keyed/marionette/src/Main.js
  frameworks/keyed/marionette/src/mn-morphdom-renderer.js
  frameworks/keyed/marionette/src/rowtemplate.js
Due: prettier --write, eslint

Add Farm.js (React) keyed implementation
  frameworks/keyed/farm-react/README.md
  frameworks/keyed/farm-react/index.html
  frameworks/keyed/farm-react/package-lock.json
  frameworks/keyed/farm-react/package.json
  frameworks/keyed/farm-react/src/main.tsx
  frameworks/keyed/farm-react/tsconfig.json
  frameworks/keyed/farm-react/vite.config.ts
Due: prettier --write, eslint

Use ARM64-capable PyJS npm launcher 0.4.1
  frameworks/keyed/pyjs-ui/bundled-dist/main.js
  frameworks/keyed/pyjs-ui/package-lock.json
  frameworks/keyed/pyjs-ui/package.json
  frameworks/keyed/pyjs-ui/src/main.py
  frameworks/keyed/pyjs/bundled-dist/main.js
  frameworks/keyed/pyjs/package-lock.json
  frameworks/keyed/pyjs/package.json
  frameworks/keyed/pyjs/src/main.py
Due: prettier --write, eslint

Update WildflowerJS entries to v1.5.1
  frameworks/keyed/wildflowerjs-pool/README.md
  frameworks/keyed/wildflowerjs-pool/index.html
  frameworks/keyed/wildflowerjs-pool/package.json
  frameworks/keyed/wildflowerjs-pool/src/wildflower.lite.min.js
  frameworks/keyed/wildflowerjs-pool/src/wildflower.mini-pool.min.js
  frameworks/keyed/wildflowerjs/package.json
  frameworks/keyed/wildflowerjs/src/wildflower.mini.min.js
Due: prettier --write, eslint

Keyed Places.js v0.1.0
  frameworks/keyed/places-js/index.html
  frameworks/keyed/places-js/package-lock.json
  frameworks/keyed/places-js/package.json
  frameworks/keyed/places-js/src/eventHandlerComponent.js
  frameworks/keyed/places-js/src/lib/places-js-latest.js
  frameworks/keyed/places-js/src/main.js
  frameworks/keyed/places-js/src/store.js
Due: prettier --write, eslint

Updated thane's version
  frameworks/keyed/thane/package.json
  frameworks/keyed/thane/vite.config.js
Due: prettier --write, eslint

updated package.lock
  frameworks/keyed/thane/package-lock.json
Due: prettier --write

feat: add keyed/fable-ripple implementation
  frameworks/keyed/fable-ripple/.config/dotnet-tools.json
  frameworks/keyed/fable-ripple/.gitignore
  frameworks/keyed/fable-ripple/App.fsproj
  frameworks/keyed/fable-ripple/build.mjs
  frameworks/keyed/fable-ripple/bundeled-dist/app.js
  frameworks/keyed/fable-ripple/index.html
  frameworks/keyed/fable-ripple/package-lock.json
  frameworks/keyed/fable-ripple/package.json
  frameworks/keyed/fable-ripple/src/App.fs
Due: prettier --write, eslint

Update DriftJS to 0.0.14 and point URLs to driftjs-org
  frameworks/keyed/drift/package-lock.json
  frameworks/keyed/drift/package.json
Due: prettier --write

feat: refresh results website and add SEO metadata
  README.md
  docs/RESULT_CREATION.md
  docs/WEBSITE.md
  push_results.sh
  webdriver-ts-results/index.html
  webdriver-ts-results/overview.html
  webdriver-ts-results/public/llms.txt
  webdriver-ts-results/public/sitemap.xml
  webdriver-ts-results/robots.txt
  webdriver-ts-results/src/App.css
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/assets/styles/global.css
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTable.tsx
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTableChart.tsx
  webdriver-ts-results/src/components/ResultTable/ResultTable.tsx
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/BenchmarkSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/CopyPasteControls/CopyPasteControls.css
  webdriver-ts-results/src/components/SelectionToolbar/CopyPasteControls/CopyPasteControls.tsx
  webdriver-ts-results/src/components/SelectionToolbar/FrameworkSelector/FrameworkSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/IssueSelector/IssueSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/DisplayModeSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/DurationModeSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/ModeSelectors.css
  webdriver-ts-results/src/components/SelectionToolbar/SelectionToolbar.css
  webdriver-ts-results/src/components/SelectionToolbar/SelectionToolbar.tsx
  webdriver-ts-results/src/components/SelectionToolbar/SelectorContentContainer/SelectionContentContainer.tsx
  webdriver-ts-results/src/components/SelectionToolbar/SelectorContentContainer/SelectorContentContainer.css
  webdriver-ts-results/src/components/tables/CompareRow.tsx
  webdriver-ts-results/src/components/tables/CpuResultsTable.tsx
  webdriver-ts-results/src/components/tables/MemResultsTable.tsx
  webdriver-ts-results/src/components/tables/SizeResultsTable.tsx
  webdriver-ts-results/src/components/tables/StartupResultsTable.tsx
  webdriver-ts-results/src/index.css
  webdriver-ts-results/src/index.tsx
  webdriver-ts-results/src/overview.css
  webdriver-ts-results/src/store.ts
  webdriver-ts-results/vite.config.ts
Due: prettier --write, eslint

commit vode build output
  frameworks/keyed/vode/main.mjs
  frameworks/non-keyed/vode/main.mjs
Due: none

make port configurable
  server/index.ts
  server/js-framework-benchmark-server.service
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/createResultJS.ts
  webdriver-ts/src/isCSPCompliant.ts
  webdriver-ts/src/isKeyed.ts
  webdriver-ts/src/parseTrace.ts
Due: prettier --write, eslint

add repoURL
  frameworks/keyed/pyjs-ui/package.json
  frameworks/keyed/pyjs/package.json
Due: prettier --write

update package-lock
  frameworks/keyed/marionette/package-lock.json
Due: prettier --write

add repoURL
  frameworks/keyed/places-js/package.json
Due: prettier --write

add codeberg info fetching
  cli/check-status.js
Due: prettier --write, eslint

update farm-react to 0.1.0-beta.11
  frameworks/keyed/farm-react/package-lock.json
  frameworks/keyed/farm-react/package.json
Due: prettier --write

update results
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Refine results website
  webdriver-ts-results/overview.html
  webdriver-ts-results/src/App.css
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/assets/styles/global.css
  webdriver-ts-results/src/overview.css
Due: prettier --write

feat(keyed): add OpenElement keyed implementation
  frameworks/keyed/openelement-v1.0.0-alpha.4/eslint.config.js
  frameworks/keyed/openelement-v1.0.0-alpha.4/index.html
  frameworks/keyed/openelement-v1.0.0-alpha.4/package-lock.json
  frameworks/keyed/openelement-v1.0.0-alpha.4/package.json
  frameworks/keyed/openelement-v1.0.0-alpha.4/src/data.ts
  frameworks/keyed/openelement-v1.0.0-alpha.4/src/main.tsx
  frameworks/keyed/openelement-v1.0.0-alpha.4/src/register.ts
  frameworks/keyed/openelement-v1.0.0-alpha.4/vite.config.js
Due: prettier --write, eslint

chore(keyed): set frameworkVersion in metadata
  frameworks/keyed/openelement-v1.0.0-alpha.4/package.json
Due: prettier --write
