Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

convert bs-button to gjs
  frameworks/keyed/ember/app/components/bs-button.gjs
  frameworks/keyed/ember/app/components/bs-button.hbs
Due: none

convert my-table to gjs
  frameworks/keyed/ember/app/components/my-table.gjs
  frameworks/keyed/ember/app/components/my-table.hbs
  frameworks/keyed/ember/app/components/my-table.js
Due: prettier --write, eslint

deps: upgrade ember-cli-babel
  frameworks/keyed/ember/package-lock.json
  frameworks/keyed/ember/package.json
Due: prettier --write

deps: downgrade eti to v3
  frameworks/keyed/ember/package-lock.json
  frameworks/keyed/ember/package.json
Due: prettier --write

chore: remove outdated table-row test
  frameworks/keyed/ember/tests/integration/components/table-row/component-test.js
Due: prettier --write, eslint

fix: bs button import
  frameworks/keyed/ember/app/components/my-table.gjs
Due: none

fix: add eq import
  frameworks/keyed/ember/app/components/my-table.gjs
Due: none

feat: add frei-hooks
  frameworks/keyed/frei-hooks/index.html
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/keyed/frei-hooks/src/main.jsx
  frameworks/keyed/frei-hooks/webpack.config.js
Due: prettier --write, eslint

chore: use absolute imports
  frameworks/keyed/ember/app/components/my-table.gjs
Due: none

chore: use plain function as helper
  frameworks/keyed/ember/app/components/my-table.gjs
  frameworks/keyed/ember/app/helpers/eq.js
  frameworks/keyed/ember/app/services/state.js
Due: prettier --write, eslint

qwik: optimize
  frameworks/keyed/qwik/README.md
  frameworks/keyed/qwik/package-lock.json
  frameworks/keyed/qwik/src/components/app/index.tsx
  frameworks/keyed/qwik/src/root.tsx
Due: prettier --write

bump angular stable 17
  frameworks/keyed/angular-cf-nozone/package-lock.json
  frameworks/keyed/angular-cf-nozone/package.json
  frameworks/keyed/angular-cf-signals/package-lock.json
  frameworks/keyed/angular-cf-signals/package.json
  frameworks/keyed/angular-cf/package-lock.json
  frameworks/keyed/angular-cf/package.json
  frameworks/keyed/angular-ngfor/package-lock.json
  frameworks/keyed/angular-ngfor/package.json
Due: prettier --write

better titles
  frameworks/keyed/angular-cf-nozone/src/index.html
  frameworks/keyed/angular-cf-signals/src/index.html
  frameworks/keyed/angular-cf/src/index.html
  frameworks/keyed/angular-ngfor/src/index.html
Due: prettier --write

title ngfor
  frameworks/keyed/angular-ngfor/src/index.html
Due: prettier --write

ngfor title
  frameworks/keyed/angular-ngfor/src/index.html
Due: prettier --write

feat: update version
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
Due: prettier --write

Upgrade Svelte to v5 alpha
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/keyed/svelte/rollup.config.js
  frameworks/keyed/svelte/src/Main.svelte
  frameworks/keyed/svelte/src/main.js
Due: prettier --write, eslint

sveltekit-svelte-4
  frameworks/keyed/sveltekit/.gitignore
  frameworks/keyed/sveltekit/.npmrc
  frameworks/keyed/sveltekit/README.md
  frameworks/keyed/sveltekit/package-lock.json
  frameworks/keyed/sveltekit/package.json
  frameworks/keyed/sveltekit/src/app.d.ts
  frameworks/keyed/sveltekit/src/app.html
  frameworks/keyed/sveltekit/src/routes/+layout.ts
  frameworks/keyed/sveltekit/src/routes/+page.svelte
  frameworks/keyed/sveltekit/svelte.config.js
  frameworks/keyed/sveltekit/tsconfig.json
  frameworks/keyed/sveltekit/vite.config.ts
Due: prettier --write, eslint

rename to sveltekit-4
  frameworks/keyed/sveltekit-4/.gitignore
  frameworks/keyed/sveltekit-4/.npmrc
  frameworks/keyed/sveltekit-4/README.md
  frameworks/keyed/sveltekit-4/package-lock.json
  frameworks/keyed/sveltekit-4/package.json
  frameworks/keyed/sveltekit-4/src/app.d.ts
  frameworks/keyed/sveltekit-4/src/app.html
  frameworks/keyed/sveltekit-4/src/routes/+layout.ts
  frameworks/keyed/sveltekit-4/src/routes/+page.svelte
  frameworks/keyed/sveltekit-4/svelte.config.js
  frameworks/keyed/sveltekit-4/tsconfig.json
  frameworks/keyed/sveltekit-4/vite.config.ts
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

add non-keyed
  frameworks/non-keyed/sveltekit-4/.gitignore
  frameworks/non-keyed/sveltekit-4/.npmrc
  frameworks/non-keyed/sveltekit-4/README.md
  frameworks/non-keyed/sveltekit-4/package-lock.json
  frameworks/non-keyed/sveltekit-4/package.json
  frameworks/non-keyed/sveltekit-4/src/app.d.ts
  frameworks/non-keyed/sveltekit-4/src/app.html
  frameworks/non-keyed/sveltekit-4/src/routes/+layout.ts
  frameworks/non-keyed/sveltekit-4/src/routes/+page.svelte
  frameworks/non-keyed/sveltekit-4/svelte.config.js
  frameworks/non-keyed/sveltekit-4/tsconfig.json
  frameworks/non-keyed/sveltekit-4/vite.config.ts
Due: prettier --write, eslint

17.0.2
  frameworks/keyed/angular-cf-nozone/package-lock.json
  frameworks/keyed/angular-cf-nozone/package.json
  frameworks/keyed/angular-cf-signals/package-lock.json
  frameworks/keyed/angular-cf-signals/package.json
  frameworks/keyed/angular-cf/package-lock.json
  frameworks/keyed/angular-cf/package.json
  frameworks/keyed/angular-ngfor/package-lock.json
  frameworks/keyed/angular-ngfor/package.json
Due: prettier --write

new tab per iteration (similar to #1428)
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
  webdriver-ts/results.json
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/puppeteerAccess.ts
Due: prettier --write, eslint

add exception for s2
  cli/zip.js
Due: prettier --write, eslint

Update frameworks/keyed/svelte/src/Main.svelte
  frameworks/keyed/svelte/src/Main.svelte
Due: none

Update uhtml to v4
  frameworks/keyed/uhtml/index.html
  frameworks/keyed/uhtml/package-lock.json
  frameworks/keyed/uhtml/package.json
  frameworks/keyed/uhtml/rollup.config.js
  frameworks/keyed/uhtml/src/index.js
  frameworks/keyed/uhtml/src/jumbotron.js
  frameworks/keyed/uhtml/src/table-delegate.js
  frameworks/keyed/uhtml/src/table-tr.js
  frameworks/keyed/uhtml/src/table.js
  frameworks/non-keyed/uhtml/index.html
  frameworks/non-keyed/uhtml/package-lock.json
  frameworks/non-keyed/uhtml/package.json
  frameworks/non-keyed/uhtml/rollup.config.js
  frameworks/non-keyed/uhtml/src/jumbotron.js
  frameworks/non-keyed/uhtml/src/table-delegate.js
Due: prettier --write, eslint

fix npm install for svelte
  frameworks/keyed/svelte/.npmrc
Due: none

Add additional CPU benchmark for updates to large table
  webdriver-ts-results/src/Common.ts
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/benchmarksWebdriver.ts
Due: prettier --write, eslint

Update Svelte 5 alpha
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/keyed/svelte/src/Main.svelte
Due: prettier --write

update version
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
Due: prettier --write

Update ControlRenderer.js
  frameworks/non-keyed/openui5/webapp/ControlRenderer.js
Due: prettier --write, eslint

更新版本，优化
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
Due: prettier --write

Bump version
  frameworks/keyed/svelte/package.json
  frameworks/keyed/svelte/pnpm-lock.yaml
Due: prettier --write

Bump version
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/keyed/svelte/pnpm-lock.yaml
Due: prettier --write

rename react->react-classes
  frameworks/keyed/react-classes/esbuild.config.js
  frameworks/keyed/react-classes/index.html
  frameworks/keyed/react-classes/package-lock.json
  frameworks/keyed/react-classes/package.json
  frameworks/keyed/react-classes/src/main.jsx
Due: prettier --write, eslint

react classes
  frameworks/non-keyed/react-classes/index.html
  frameworks/non-keyed/react-classes/package-lock.json
  frameworks/non-keyed/react-classes/package.json
  frameworks/non-keyed/react-classes/src/main.jsx
  frameworks/non-keyed/react-classes/webpack.config.js
Due: prettier --write, eslint

move openui to keyed
  frameworks/non-keyed/openui5/README.md
  frameworks/non-keyed/openui5/index.html
  frameworks/non-keyed/openui5/package-lock.json
  frameworks/non-keyed/openui5/package.json
  frameworks/non-keyed/openui5/ui5.yaml
  frameworks/non-keyed/openui5/webapp/Control.js
  frameworks/non-keyed/openui5/webapp/ControlRenderer.js
  frameworks/non-keyed/openui5/webapp/Store.js
  frameworks/non-keyed/openui5/webapp/index.html
  frameworks/non-keyed/openui5/webapp/manifest.json
  frameworks/non-keyed/openui5/webapp/startUp.js
Due: prettier --write, eslint

actually move openui5
  frameworks/keyed/openui5/README.md
  frameworks/keyed/openui5/index.html
  frameworks/keyed/openui5/package-lock.json
  frameworks/keyed/openui5/package.json
  frameworks/keyed/openui5/ui5.yaml
  frameworks/keyed/openui5/webapp/Control.js
  frameworks/keyed/openui5/webapp/ControlRenderer.js
  frameworks/keyed/openui5/webapp/Store.js
  frameworks/keyed/openui5/webapp/index.html
  frameworks/keyed/openui5/webapp/manifest.json
  frameworks/keyed/openui5/webapp/startUp.js
Due: prettier --write, eslint

change label to keyed
  frameworks/keyed/openui5/webapp/ControlRenderer.js
Due: prettier --write, eslint
