Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

refactor: rename the mode selectors component
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/ModeSelectors.css
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/ModeSelectors.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/SelectionToolbar.tsx
Due: prettier --write, eslint

chore: put common styles into a separate file
  webdriver-ts-results/src/App.css
  webdriver-ts-results/src/index.css
  webdriver-ts-results/src/index.tsx
Due: none

Update Strve v6.7.0
  frameworks/keyed/strve/package-lock.json
  frameworks/keyed/strve/package.json
Due: prettier --write

refactor: split styles
  webdriver-ts-results/src/App.css
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/assets/styles/global.css
  webdriver-ts-results/src/index.css
  webdriver-ts-results/src/index.tsx
Due: none

updated: Riot.js version
  frameworks/keyed/riot/package-lock.json
  frameworks/keyed/riot/package.json
  frameworks/non-keyed/riot/package-lock.json
  frameworks/non-keyed/riot/package.json
Due: prettier --write

chore: use `export {default}` when exporting components
  webdriver-ts-results/src/components/BoxPlotTable/index.ts
  webdriver-ts-results/src/components/ResultTable/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/CopyPasteControls/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/FrameworkSelector/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/SelectorContentContainer/index.ts
  webdriver-ts-results/src/components/SelectionToolbar/index.ts
Due: prettier --write, eslint

refactor: use lucide insted @ant-design/icons
  webdriver-ts-results/package-lock.json
  webdriver-ts-results/package.json
  webdriver-ts-results/src/components/SelectionToolbar/CopyPasteControls/CopyPasteControls.tsx
Due: prettier --write

feat: add lefthook
  lefthook.yml
  package-lock.json
  package.json
Due: prettier --write

update cample to 3.2.0-alpha.15
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

refactor: make modal windows fully scrollable
  webdriver-ts-results/src/components/SelectionToolbar/SelectorContentContainer/SelectorContentContainer.css
Due: none

fix: prevent body scroll when modal is open
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/BenchmarkSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/FrameworkSelector/FrameworkSelector.tsx
Due: none

chore: simplify eslint config
  eslint.config.js
Due: prettier --write, eslint

refactor(cli): improve code typing and directory structure
  cli.js
  cli/check-obsolete.js
  cli/cleanup.js
  cli/configure-styles.js
  cli/copy.js
  cli/helpers/frameworks.js
  cli/index.js
  cli/rebuild-all-frameworks.js
  cli/rebuild-build-single.js
  cli/rebuild-check-single.js
  cli/rebuild-single-framework.js
  cli/update-lockfiles.js
  cli/utils/common/index.js
  cli/utils/common/takeWhile.js
  cli/zip.js
  rebuild-single.js
  utils/common/takeWhile.d.ts
Due: prettier --write, eslint

chore: remove es-main and yargs
  package-lock.json
  package.json
Due: prettier --write

remove #1139 from riot (and offending script element)
  frameworks/keyed/riot/index.html
  frameworks/keyed/riot/package.json
Due: prettier --write

Bump qwik 1.3 -> 1.5
  frameworks/keyed/qwik/package-lock.json
  frameworks/keyed/qwik/package.json
Due: prettier --write

chore(server): remove nodemon
  server/package-lock.json
  server/package.json
Due: prettier --write

improve CSP check, flag implementations and run check on rebuild
  cli/rebuild-check-single.js
  frameworks/keyed/anansi/package.json
  frameworks/keyed/bobril/package.json
  frameworks/keyed/cample/package.json
  frameworks/keyed/doohtml-dom/package.json
  frameworks/keyed/doohtml/package.json
  frameworks/keyed/goui/package.json
  frameworks/keyed/marko/package.json
  frameworks/keyed/openui5/package.json
  frameworks/keyed/owl/package.json
  frameworks/keyed/qwik/package.json
  frameworks/non-keyed/openui5/package.json
  frameworks/non-keyed/quel/package.json
  frameworks/non-keyed/sprae/package.json
  server/src/csp/cspControllers.js
  webdriver-ts/src/isCSPCompliant.ts
Due: prettier --write, eslint

update cample to 3.2.0-alpha.16
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

refactor(web): replace plotly with chart.js
  push_results.sh
  webdriver-ts-results/package-lock.json
  webdriver-ts-results/package.json
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTableChart.tsx
  webdriver-ts-results/src/components/ResultTable/ResultTable.tsx
  webdriver-ts-results/vite.config.ts
Due: prettier --write, eslint

style: format code
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTable.tsx
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTableRow.tsx
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTableRows.tsx
  webdriver-ts-results/src/components/tables/CompareRow.tsx
  webdriver-ts-results/src/components/tables/CpuResultsTable.tsx
  webdriver-ts-results/src/components/tables/GeomMeanRow.tsx
  webdriver-ts-results/src/components/tables/MemResultsTable.tsx
  webdriver-ts-results/src/components/tables/SizeResultsTable.tsx
  webdriver-ts-results/src/components/tables/ValueResultRow.tsx
Due: none

fix: eslint errors
  eslint.config.js
  webdriver-ts-results/src/Common.ts
  webdriver-ts-results/src/components/ResultTable/ResultTable.tsx
  webdriver-ts-results/src/index.tsx
  webdriver-ts-results/src/reducer.ts
Due: prettier --write, eslint

chore: remove plotly types
  webdriver-ts-results/src/types/plotly.d.ts
Due: prettier --write, eslint

fix: eslint errors
  cli/check-obsolete.js
  cli/rebuild-all-frameworks.js
  cli/rebuild-build-single.js
  cli/rebuild-check-single.js
  cli/rebuild-single-framework.js
  cli/update-lockfiles.js
  cli/utils/index.js
  cli/utils/takeWhile.js
  cli/zip.js
Due: prettier --write, eslint

perf(web): disable animation and add types for axes for the diagram
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTableChart.tsx
Due: none

update cample to 3.2.0-alpha.17
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

reduce result size
  webdriver-ts-results/src/Common.ts
  webdriver-ts-results/src/reducer.ts
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
  webdriver-ts/src/benchmarksSize.ts
  webdriver-ts/src/createResultJS.ts
  webdriver-ts/src/writeResults.ts
Due: prettier --write, eslint

chore: rename `reducer.ts` to `store.ts`
  webdriver-ts-results/src/components/ResultTable/ResultTable.tsx
  webdriver-ts-results/src/components/SelectionToolbar/BenchmarkSelector/BenchmarkSelectorCategory.tsx
  webdriver-ts-results/src/components/SelectionToolbar/CopyPasteControls/CopyPasteControls.tsx
  webdriver-ts-results/src/components/SelectionToolbar/FrameworkSelector/FrameworkSelectorCategory.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/ModeSelectors.tsx
  webdriver-ts-results/src/components/tables/CompareRow.tsx
  webdriver-ts-results/src/store.ts
Due: prettier --write, eslint

refactor(web): remove unnecessary re-rendering CopyPasteControls
  webdriver-ts-results/src/components/SelectionToolbar/CopyPasteControls/CopyPasteControls.tsx
  webdriver-ts-results/src/reducer.ts
Due: prettier --write, eslint

refactor(web): store
  webdriver-ts-results/src/store.ts
Due: prettier --write, eslint

update cample to 3.2.0-alpha.18
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

Add Vugu implementation
  frameworks/keyed/vugu/.gitignore
  frameworks/keyed/vugu/LICENSE
  frameworks/keyed/vugu/README.md
  frameworks/keyed/vugu/bundled-dist/index.html
  frameworks/keyed/vugu/bundled-dist/main.wasm
  frameworks/keyed/vugu/bundled-dist/wasm_exec.js
  frameworks/keyed/vugu/devserver.go
  frameworks/keyed/vugu/dist.go
  frameworks/keyed/vugu/generate.go
  frameworks/keyed/vugu/go.mod
  frameworks/keyed/vugu/go.sum
  frameworks/keyed/vugu/main_wasm.go
  frameworks/keyed/vugu/package-lock.json
  frameworks/keyed/vugu/package.json
  frameworks/keyed/vugu/root.vugu
  frameworks/non-keyed/vugu/.gitignore
  frameworks/non-keyed/vugu/LICENSE
  frameworks/non-keyed/vugu/README.md
  frameworks/non-keyed/vugu/bundled-dist/index.html
  frameworks/non-keyed/vugu/bundled-dist/main.wasm
  frameworks/non-keyed/vugu/bundled-dist/wasm_exec.js
  frameworks/non-keyed/vugu/devserver.go
  frameworks/non-keyed/vugu/dist.go
  frameworks/non-keyed/vugu/generate.go
  frameworks/non-keyed/vugu/go.mod
  frameworks/non-keyed/vugu/go.sum
  frameworks/non-keyed/vugu/main_wasm.go
  frameworks/non-keyed/vugu/package-lock.json
  frameworks/non-keyed/vugu/package.json
  frameworks/non-keyed/vugu/root.vugu
Due: prettier --write, eslint

Reflex DOM benchmark
  frameworks/keyed/reflex-dom/esbuild.config.js
  frameworks/keyed/reflex-dom/index.html
  frameworks/keyed/reflex-dom/package-lock.json
  frameworks/keyed/reflex-dom/package.json
  frameworks/keyed/reflex-dom/src/main.tsx
  frameworks/keyed/reflex-dom/tsconfig.json
Due: prettier --write, eslint

update cample to 3.2.0-alpha.20
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

update cydon v0.1.9
  frameworks/non-keyed/cydon/index.html
  frameworks/non-keyed/cydon/package-lock.json
  frameworks/non-keyed/cydon/package.json
  frameworks/non-keyed/cydon/rollup.config.js
Due: prettier --write, eslint

update cample to 3.2.0-alpha.21
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

refactor(web): improve `common.ts` readability
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/Common.ts
  webdriver-ts-results/src/components/ResultTable/ResultTable.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/DisplayModeSelector.tsx
  webdriver-ts-results/src/components/SelectionToolbar/ModeSelectors/DurationModeSelector.tsx
  webdriver-ts-results/src/helpers/issues.ts
  webdriver-ts-results/src/store.ts
  webdriver-ts-results/src/utils/index.ts
  webdriver-ts-results/src/utils/numberFormatter.ts
Due: prettier --write, eslint

chore: remove unused code
  webdriver-ts-results/src/store.ts
Due: prettier --write, eslint

update cample to 3.2.0-alpha.23
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

update cample to 3.2.0-alpha.24
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write
