Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

remove unused css file
  frameworks/non-keyed/mutraction/simple.css
Due: none

update karyon, add quel
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

optimize "select row"
  frameworks/non-keyed/quel/src/myappMain.js
Due: prettier --write, eslint

null -> undefined
  frameworks/non-keyed/quel/src/myappMain.js
Due: prettier --write, eslint

update:strve v6.2.0 keyed
  frameworks/keyed/strve/index.html
  frameworks/keyed/strve/package-lock.json
  frameworks/keyed/strve/package.json
  frameworks/keyed/strve/src/data.js
  frameworks/keyed/strve/src/main.jsx
Due: prettier --write, eslint

update quel, add mutraction
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

use rebuild-all instead of build
  README.md
  package.json
Due: prettier --write

Update deps
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/App.js
  frameworks/keyed/rendrjs/src/Button.js
  frameworks/keyed/rendrjs/src/Jumbotron.js
  frameworks/keyed/rendrjs/src/Row.js
Due: prettier --write, eslint

Update to 0.1.197
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
Due: prettier --write

Update to 0.1.198
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
Due: prettier --write

Remove unnecessary useCallbacks
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/App.js
Due: prettier --write, eslint

update Strve v6.2.6
  frameworks/keyed/strve/index.html
  frameworks/keyed/strve/package-lock.json
  frameworks/keyed/strve/package.json
  frameworks/keyed/strve/src/data.js
  frameworks/keyed/strve/src/main.jsx
Due: prettier --write, eslint

Add readme
  frameworks/keyed/rendrjs/README.md
  frameworks/keyed/rendrjs/src/App.js
  frameworks/keyed/rendrjs/src/Button.js
  frameworks/keyed/rendrjs/src/Jumbotron.js
  frameworks/keyed/rendrjs/src/RemoveIcon.js
  frameworks/keyed/rendrjs/src/Row.js
  frameworks/keyed/rendrjs/src/classes.js
  frameworks/keyed/rendrjs/src/main.js
Due: prettier --write, eslint

Refactor icon rendering
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/App.js
  frameworks/keyed/rendrjs/src/RemoveIcon.js
  frameworks/keyed/rendrjs/src/Row.js
Due: prettier --write, eslint

Bump to v0.1.206
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
Due: prettier --write

Update to 0.1.207
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
Due: prettier --write

Bump to v0.1.208
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
Due: prettier --write

Update rendrjs version
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
Due: prettier --write

Update rendrjs version
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/App.js
  frameworks/keyed/rendrjs/src/Jumbotron.js
  frameworks/keyed/rendrjs/src/Row.js
Due: prettier --write, eslint

add openui5 non-keyed for completeness
  frameworks/non-keyed/openui5/README.md
  frameworks/non-keyed/openui5/index.html
  frameworks/non-keyed/openui5/package-lock.json
  frameworks/non-keyed/openui5/package.json
  frameworks/non-keyed/openui5/ui5.yaml
  frameworks/non-keyed/openui5/webapp/Control.js
  frameworks/non-keyed/openui5/webapp/ControlRenderer.js
  frameworks/non-keyed/openui5/webapp/Store.js
  frameworks/non-keyed/openui5/webapp/index.html
  frameworks/non-keyed/openui5/webapp/manifest.json
  frameworks/non-keyed/openui5/webapp/startUp.js
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Update rendrjs version
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/App.js
  frameworks/keyed/rendrjs/src/Button.js
  frameworks/keyed/rendrjs/src/Jumbotron.js
  frameworks/keyed/rendrjs/src/RemoveIcon.js
  frameworks/keyed/rendrjs/src/Row.js
Due: prettier --write, eslint

Update qwik to 1.3
  frameworks/keyed/qwik/package-lock.json
  frameworks/keyed/qwik/package.json
Due: prettier --write

chrome 120 run
  startLocalServerAndUpdateBuild.sh
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/Common.ts
  webdriver-ts-results/src/components/ResultTable.tsx
  webdriver-ts-results/src/components/selection/ModeSelectionPanel/DurationModeSelector.tsx
  webdriver-ts-results/src/reducer.ts
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksSize.ts
  webdriver-ts/src/forkedBenchmarkRunnerSize.ts
  webdriver-ts/src/parseTrace.ts
Due: prettier --write, eslint

Update rendrjs version
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Reduce string concatenations
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/Button.js
Due: prettier --write, eslint

update cydon
  frameworks/non-keyed/cydon/index.html
  frameworks/non-keyed/cydon/package-lock.json
  frameworks/non-keyed/cydon/package.json
  frameworks/non-keyed/cydon/src/main.js
Due: prettier --write, eslint

add defer attribute to script
  frameworks/non-keyed/cydon/index.html
  frameworks/non-keyed/cydon/rollup.config.js
Due: prettier --write, eslint

update renderjs, strve, qwik, cydon, openui
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

fix #1468
  frameworks/keyed/react-jotai/.babelrc
  frameworks/keyed/react-jotai/index.html
  frameworks/keyed/react-jotai/package-lock.json
  frameworks/keyed/react-jotai/package.json
  frameworks/keyed/react-jotai/src/main.tsx
  frameworks/keyed/react-jotai/src/utils.ts
  frameworks/keyed/react-jotai/tsconfig.json
  frameworks/keyed/react-jotai/webpack.config.js
Due: prettier --write, eslint

archive petite-vue, fix #1510
  frameworks/keyed/petite-vue/index.html
  frameworks/keyed/petite-vue/package-lock.json
  frameworks/keyed/petite-vue/package.json
  frameworks/keyed/petite-vue/rollup.config.js
  frameworks/keyed/petite-vue/src/main.js
  frameworks/non-keyed/petite-vue/index.html
  frameworks/non-keyed/petite-vue/package-lock.json
  frameworks/non-keyed/petite-vue/package.json
  frameworks/non-keyed/petite-vue/rollup.config.js
  frameworks/non-keyed/petite-vue/src/main.js
Due: prettier --write, eslint

archive petite-vue, rename jotai
  README.md
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Add atoms implementation
  frameworks/keyed/rendrjs-atoms/.gitignore
  frameworks/keyed/rendrjs-atoms/README.md
  frameworks/keyed/rendrjs-atoms/index.html
  frameworks/keyed/rendrjs-atoms/package-lock.json
  frameworks/keyed/rendrjs-atoms/package.json
  frameworks/keyed/rendrjs-atoms/src/App.js
  frameworks/keyed/rendrjs-atoms/src/Button.js
  frameworks/keyed/rendrjs-atoms/src/Jumbotron.js
  frameworks/keyed/rendrjs-atoms/src/RemoveIcon.js
  frameworks/keyed/rendrjs-atoms/src/Row.js
  frameworks/keyed/rendrjs-atoms/src/Table.js
  frameworks/keyed/rendrjs-atoms/src/classes.js
  frameworks/keyed/rendrjs-atoms/src/main.js
  frameworks/keyed/rendrjs-atoms/src/store.js
  frameworks/keyed/rendrjs-atoms/webpack.config.js
Due: prettier --write, eslint

Make implementation more readable
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/Button.js
  frameworks/keyed/rendrjs/src/Jumbotron.js
  frameworks/keyed/rendrjs/src/Row.js
  frameworks/keyed/rendrjs/src/classes.js
Due: prettier --write, eslint

Ember: Update ember-cli-build.js
  frameworks/keyed/ember/ember-cli-build.js
Due: prettier --write, eslint

update frei 1.0.20
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: prettier --write

Fix broken URLs
  broken-frameworks/non-keyed/stem/README.md
  frameworks/keyed/fre/package.json
Due: prettier --write
