Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

fix
  frameworks/keyed/cample/package-lock.json
Due: prettier --write

Introduce destam-dom benchmark
  frameworks/keyed/destam-dom/index.html
  frameworks/keyed/destam-dom/package-lock.json
  frameworks/keyed/destam-dom/package.json
  frameworks/keyed/destam-dom/rollup.config.js
  frameworks/keyed/destam-dom/src/main.jsx
Due: prettier --write, eslint

update main.js
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint

update cample to 3.2.0-alpha.35
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

update cample to 3.2.0-alpha.36
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

Update Svelte
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

Update package.json
  frameworks/keyed/pota/package.json
Due: prettier --write

Update main.jsx
  frameworks/keyed/pota/src/main.jsx
Due: none

update cample to 3.2.0-alpha.38
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint

update cample to 3.2.0-alpha.39
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

update svelte, pota, cample, ad destam
  frameworks/keyed/pota/package-lock.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Update cample to 3.2.0-alpha.40
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

Update cample to 3.2.0-alpha.41
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint

minor improvment to update()
  frameworks/keyed/doohtml-dom/js/Main.class.js
Due: prettier --write, eslint

improve dioxus
  frameworks/keyed/dioxus/Cargo.toml
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark.js
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
  frameworks/keyed/dioxus/bundled-dist/index.html
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-4774033abde10986/inline0.js
  frameworks/keyed/dioxus/package.json
  frameworks/keyed/dioxus/src/main.rs
Due: prettier --write, eslint

move static to top
  frameworks/keyed/dioxus/src/main.rs
Due: none

move button to top
  frameworks/keyed/dioxus/src/main.rs
Due: none

rename button
  frameworks/keyed/dioxus/src/main.rs
Due: none

remove rand
  frameworks/keyed/dioxus/src/main.rs
Due: none

move main to bottom
  frameworks/keyed/dioxus/src/main.rs
Due: none

update cample to 3.2.0-alpha.42
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

Update cample to 3.2.0-alpha.43
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

Update Svelte
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/keyed/svelte/src/Main.svelte
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

update cample to 3.2.0-alpha.44
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: prettier --write

chore: update lwc
  frameworks/keyed/lwc/package-lock.json
  frameworks/keyed/lwc/package.json
Due: prettier --write

Update sauron to v0.61.4
  frameworks/keyed/sauron/Cargo.toml
  frameworks/keyed/sauron/bundled-dist/js-framework-benchmark-sauron.js
  frameworks/keyed/sauron/bundled-dist/js-framework-benchmark-sauron_bg.wasm
  frameworks/keyed/sauron/package.json
  frameworks/keyed/sauron/src/lib.rs
Due: prettier --write, eslint

update package-lock
  frameworks/keyed/pota/package-lock.json
Due: prettier --write

update cample. doohtml, svelte, lwc and sauron
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

update vue-vapor
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue-vapor/src/main.js
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
  frameworks/non-keyed/vue-vapor/src/main.js
Due: prettier --write, eslint

update vue
  frameworks/keyed/vue/package-lock.json
  frameworks/keyed/vue/package.json
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
Due: prettier --write

update vue-jsx
  frameworks/keyed/vue-jsx/package-lock.json
  frameworks/keyed/vue-jsx/package.json
Due: prettier --write

update vue-pinia
  frameworks/keyed/vue-pinia/package-lock.json
  frameworks/keyed/vue-pinia/package.json
Due: prettier --write

update svelte
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: prettier --write

Update cample to 3.2.0-alpha.45
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint
