Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix keyed/marko and rename it to keyed/marko-classes
  broken-frameworks/keyed/marko/README.md
  broken-frameworks/keyed/marko/package-lock.json
  broken-frameworks/keyed/marko/vite.config.js
  frameworks/keyed/marko-classes/.gitignore
  frameworks/keyed/marko-classes/package-lock.json
  frameworks/keyed/marko-classes/package.json
  frameworks/keyed/marko-classes/src/components/content.component.js
  frameworks/keyed/marko-classes/src/components/content.marko
  frameworks/keyed/marko-classes/src/components/row.marko
  frameworks/keyed/marko-classes/src/routes/+layout.marko
  frameworks/keyed/marko-classes/src/routes/_index/+page.marko
  frameworks/keyed/marko-classes/vite.config.js
Due: prettier --write, eslint

rebuild: update package-lock for keyed/pota after rebuild
  frameworks/keyed/pota/package-lock.json
Due: prettier --write

rebuild: update package-lock and bundled sprae.js for non-keyed/sprae after rebuild
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

update pota, marko, lui, leptos, sprae, vode
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

ajust zip file for lui, update copilot merging instructions
  .github/copilot-instructions.md
  cli/zip.js
Due: prettier --write, eslint

update ripple and svelte
  frameworks/keyed/ripple/package-lock.json
  frameworks/keyed/ripple/package.json
  frameworks/keyed/ripple/rollup.config.js
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
Due: prettier --write, eslint

bump
  frameworks/keyed/ripple/package-lock.json
  frameworks/keyed/ripple/package.json
Due: prettier --write

bump version
  frameworks/keyed/ripple/package-lock.json
  frameworks/keyed/ripple/package.json
Due: prettier --write

add package-lock
  frameworks/keyed/svelte-classic/package-lock.json
Due: prettier --write

rebuild react
  frameworks/keyed/react-hooks/package-lock.json
Due: prettier --write

feat: add openInula framework
  frameworks/keyed/openinula-2/index.html
  frameworks/keyed/openinula-2/package-lock.json
  frameworks/keyed/openinula-2/package.json
  frameworks/keyed/openinula-2/src/main.jsx
  frameworks/keyed/openinula-2/vite.config.js
Due: prettier --write, eslint

fix: update vite config
  frameworks/keyed/openinula-2/vite.config.js
Due: prettier --write, eslint

Update to .NET 10 for blazor-wasm and blazor-wasm-aot
  frameworks/keyed/blazor-wasm-aot/package-lock.json
  frameworks/keyed/blazor-wasm-aot/package.json
  frameworks/keyed/blazor-wasm-aot/src/blazor-wasm.csproj
  frameworks/keyed/blazor-wasm-aot/src/global.json
  frameworks/keyed/blazor-wasm/package-lock.json
  frameworks/keyed/blazor-wasm/package.json
  frameworks/keyed/blazor-wasm/src/blazor-wasm.csproj
  frameworks/keyed/blazor-wasm/src/global.json
  frameworks/non-keyed/aurelia/scripts/app-bundle.js
  frameworks/non-keyed/aurelia/scripts/vendor-bundle.js
  package-lock.json
  webdriver-ts/package-lock.json
Due: prettier --write, eslint

updated: Riot.js version
  frameworks/keyed/riot/package-lock.json
  frameworks/keyed/riot/package.json
  frameworks/non-keyed/riot/package-lock.json
  frameworks/non-keyed/riot/package.json
Due: prettier --write

frameworks/keyed/openinula-2: update package files after rebuild for PR #1941
  frameworks/keyed/openinula-2/package-lock.json
  frameworks/keyed/openinula-2/package.json
Due: prettier --write

Merge PR #1942: update blazor-wasm and blazor-wasm-aot frameworks to .NET 10
  frameworks/keyed/blazor-wasm-aot/package-lock.json
  frameworks/keyed/blazor-wasm-aot/package.json
  frameworks/keyed/blazor-wasm-aot/src/blazor-wasm.csproj
  frameworks/keyed/blazor-wasm-aot/src/global.json
  frameworks/keyed/blazor-wasm/package-lock.json
  frameworks/keyed/blazor-wasm/package.json
  frameworks/keyed/blazor-wasm/src/blazor-wasm.csproj
  frameworks/keyed/blazor-wasm/src/global.json
Due: prettier --write

Remove unneeded memo wrapper in the react-compiler-hooks
  frameworks/keyed/react-compiler-hooks/src/main.jsx
Due: none

feat: add rasen framework (keyed)
  frameworks/keyed/rasen/index.html
  frameworks/keyed/rasen/package-lock.json
  frameworks/keyed/rasen/package.json
  frameworks/keyed/rasen/src/main.ts
  frameworks/keyed/rasen/vite.config.ts
Due: prettier --write, eslint

feat: Add reatom-jsx keyed benchmark
  frameworks/keyed/reatom-jsx/index.html
  frameworks/keyed/reatom-jsx/package-lock.json
  frameworks/keyed/reatom-jsx/package.json
  frameworks/keyed/reatom-jsx/src/main.tsx
  frameworks/keyed/reatom-jsx/tsconfig.json
  frameworks/keyed/reatom-jsx/vite.config.ts
Due: prettier --write, eslint

disable memory benchmarks + improve logging
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksCommon.ts
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
Due: prettier --write, eslint

measure total duration per benchmark
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
Due: prettier --write, eslint

reduce warmup for select rows
  webdriver-ts/src/benchmarksPlaywright.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
Due: prettier --write, eslint

install frameworks using --ignore-scripts
  cli/rebuild-all-frameworks.js
  cli/rebuild-build-single.js
  cli/update-lockfiles.js
Due: prettier --write, eslint

update dependencies
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
Due: prettier --write

chrome 143 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

feat: angular 21
  frameworks/keyed/angular-cf/package-lock.json
  frameworks/keyed/angular-cf/package.json
  frameworks/keyed/angular-cf/src/app/app.component.ts
  frameworks/keyed/angular-cf/src/main.ts
  frameworks/keyed/angular-cf/tsconfig.json
Due: prettier --write, eslint

feat: angular 21
  frameworks/keyed/angular-cf-new-nozone/package-lock.json
  frameworks/keyed/angular-cf-new-nozone/package.json
  frameworks/keyed/angular-cf-new-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf-new-nozone/tsconfig.json
Due: prettier --write, eslint

feat: angular 21
  frameworks/keyed/angular-cf-nozone/package-lock.json
  frameworks/keyed/angular-cf-nozone/package.json
  frameworks/keyed/angular-cf-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf-nozone/src/main.ts
  frameworks/keyed/angular-cf-nozone/tsconfig.json
Due: prettier --write, eslint

feat: angular 21
  frameworks/keyed/angular-cf-signals/package-lock.json
  frameworks/keyed/angular-cf-signals/package.json
  frameworks/keyed/angular-cf-signals/src/app/app.component.ts
  frameworks/keyed/angular-cf-signals/tsconfig.json
Due: prettier --write, eslint

fix: no-zone
  frameworks/keyed/angular-cf-nozone/src/main.ts
Due: prettier --write, eslint

feat: angular 21
  frameworks/keyed/angular-cf-signals-nozone/package-lock.json
  frameworks/keyed/angular-cf-signals-nozone/package.json
  frameworks/keyed/angular-cf-signals-nozone/tsconfig.json
Due: prettier --write

fix: no zone
  frameworks/keyed/angular-cf/src/main.ts
Due: prettier --write, eslint

feat: angular 21
  frameworks/keyed/angular-ngfor/package-lock.json
  frameworks/keyed/angular-ngfor/package.json
  frameworks/keyed/angular-ngfor/src/app/app.component.ts
  frameworks/keyed/angular-ngfor/tsconfig.json
Due: prettier --write, eslint

update angular, remove memo in react-compiler
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Update spheres to v0.25.2
  frameworks/keyed/spheres/package-lock.json
  frameworks/keyed/spheres/package.json
  frameworks/keyed/spheres/src/app.ts
  frameworks/keyed/spheres/src/state.ts
Due: prettier --write, eslint

feat: add vue-jsx-compiler
  frameworks/keyed/vue-jsx-compiler/.npmrc
  frameworks/keyed/vue-jsx-compiler/index-dev.html
  frameworks/keyed/vue-jsx-compiler/index.html
  frameworks/keyed/vue-jsx-compiler/jsconfig.json
  frameworks/keyed/vue-jsx-compiler/package-lock.json
  frameworks/keyed/vue-jsx-compiler/package.json
  frameworks/keyed/vue-jsx-compiler/src/App.jsx
  frameworks/keyed/vue-jsx-compiler/src/data.js
  frameworks/keyed/vue-jsx-compiler/src/main.js
  frameworks/keyed/vue-jsx-compiler/vite.config.js
Due: prettier --write, eslint

Update frameworks/keyed/vue-jsx-compiler/package.json
  frameworks/keyed/vue-jsx-compiler/package.json
Due: prettier --write

Update frameworks/keyed/vue-jsx-compiler/index.html
  frameworks/keyed/vue-jsx-compiler/index.html
Due: prettier --write

Update frameworks/keyed/vue-jsx-compiler/index-dev.html
  frameworks/keyed/vue-jsx-compiler/index-dev.html
Due: prettier --write

Update frameworks/keyed/vue-jsx-compiler/src/App.jsx
  frameworks/keyed/vue-jsx-compiler/src/App.jsx
Due: none

Path conditions:
  prettier --write: (any of: ./*.{json,md,yml,yaml,html}) or (any of: ./*.{js,cjs,ts})
  eslint: any of: ./*.{js,cjs,ts}
