Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

spark-html: bump to 1.2.0
  frameworks/keyed/spark-html/package-lock.json
  frameworks/keyed/spark-html/package.json
Due: prettier --write

ropes strings, prefer concat over spread with data
  frameworks/keyed/ivi/src/main.ts
Due: prettier --write, eslint

spark-html: bump to ^1.5.0
  frameworks/keyed/spark-html/package.json
Due: prettier --write

spark-html: bump to 1.6.0 (CPU geomean 1.239x local paired, run-memory 1.45x)
  frameworks/keyed/spark-html/package.json
Due: prettier --write

spark-html 1.7.0
  frameworks/keyed/spark-html/package.json
Due: prettier --write

workaround to install bun
  frameworks/keyed/lui/package-lock.json
  frameworks/keyed/lui/package.json
Due: prettier --write

update package-lock.json
  frameworks/keyed/ivi/package-lock.json
Due: prettier --write

update package-lock.json
  frameworks/keyed/spark-html/package-lock.json
Due: prettier --write

chore: upgrade Vue to 3.6.0-beta.17 or 3.5.39
  frameworks/keyed/vue-jsx-compiler/package-lock.json
  frameworks/keyed/vue-jsx-compiler/package.json
  frameworks/keyed/vue-jsx-vapor/package-lock.json
  frameworks/keyed/vue-jsx-vapor/package.json
  frameworks/keyed/vue-jsx/package-lock.json
  frameworks/keyed/vue-jsx/package.json
  frameworks/keyed/vue-pinia/package-lock.json
  frameworks/keyed/vue-pinia/package.json
  frameworks/keyed/vue-pinia/src/store.js
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue/package-lock.json
  frameworks/keyed/vue/package.json
  frameworks/non-keyed/vue-jsx-vapor/package-lock.json
  frameworks/non-keyed/vue-jsx-vapor/package.json
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
Due: prettier --write, eslint

feat: add pure-vapor
  frameworks/keyed/pure-vapor/.npmrc
  frameworks/keyed/pure-vapor/index-dev.html
  frameworks/keyed/pure-vapor/index.html
  frameworks/keyed/pure-vapor/jsconfig.json
  frameworks/keyed/pure-vapor/package-lock.json
  frameworks/keyed/pure-vapor/package.json
  frameworks/keyed/pure-vapor/src/App.vue
  frameworks/keyed/pure-vapor/src/data.js
  frameworks/keyed/pure-vapor/src/main.js
  frameworks/keyed/pure-vapor/vite.config.js
Due: prettier --write, eslint

fix: replace name
  frameworks/keyed/pure-vapor/index.html
  frameworks/keyed/pure-vapor/src/App.vue
Due: prettier --write

spark-html: bump to 1.8.1
  frameworks/keyed/spark-html/package.json
Due: prettier --write

spark-html: lock spark-html@1.8.1
  frameworks/keyed/spark-html/package-lock.json
Due: prettier --write

hydro-js non-keyed doesn't work correctly
  broken-frameworks/non-keyed/hydro-js/app.js
  broken-frameworks/non-keyed/hydro-js/index.html
  broken-frameworks/non-keyed/hydro-js/package-lock.json
  broken-frameworks/non-keyed/hydro-js/package.json
  broken-frameworks/non-keyed/hydro-js/src/app.tsx
  broken-frameworks/non-keyed/hydro-js/src/index.html
  broken-frameworks/non-keyed/hydro-js/tsconfig.json
  broken-frameworks/non-keyed/hydro-js/utils/moveFiles.js
Due: prettier --write, eslint

incremental run
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

Update sprae to 13.5.0
  frameworks/keyed/sprae/package-lock.json
  frameworks/keyed/sprae/package.json
  frameworks/keyed/sprae/src/sprae.js
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

issue #2053
  broken-frameworks/keyed/react-supergrain/index.html
  broken-frameworks/keyed/react-supergrain/package-lock.json
  broken-frameworks/keyed/react-supergrain/package.json
  broken-frameworks/keyed/react-supergrain/src/main.tsx
  broken-frameworks/keyed/react-supergrain/tsconfig.json
  broken-frameworks/keyed/react-supergrain/vite.config.ts
Due: prettier --write, eslint

fix builds for arm64
  frameworks/keyed/alien-signals/package.json
  frameworks/keyed/ef-js/package-lock.json
  frameworks/keyed/ef-js/package.json
  frameworks/keyed/elm/elm-tooling.json
  frameworks/keyed/elm/package.json
  frameworks/keyed/hydro-js/build/app.js
  frameworks/keyed/hydro-js/build/index.html
  frameworks/keyed/ko-jsx/package-lock.json
  frameworks/keyed/ko-jsx/package.json
  frameworks/keyed/laminar/package-lock.json
  frameworks/keyed/laminar/package.json
  frameworks/keyed/pota/package-lock.json
  frameworks/keyed/pota/package.json
  frameworks/keyed/rvjs/package-lock.json
  frameworks/keyed/rvjs/package.json
  frameworks/keyed/sigment/package-lock.json
  frameworks/non-keyed/aurelia/.gitignore
  frameworks/non-keyed/aurelia/babel.config.json
  frameworks/non-keyed/aurelia/package-lock.json
  frameworks/non-keyed/aurelia/package.json
  frameworks/non-keyed/aurelia/src/environment.js
  frameworks/non-keyed/ef-js/package-lock.json
  frameworks/non-keyed/ef-js/package.json
  frameworks/non-keyed/elm/elm-tooling.json
  frameworks/non-keyed/elm/package.json
  frameworks/non-keyed/vode/main.mjs
Due: prettier --write, eslint

fix: non-keyed/hydro-js
  broken-frameworks/non-keyed/hydro-js/app.js
  frameworks/keyed/hydro-js/package-lock.json
  frameworks/keyed/hydro-js/package.json
  frameworks/non-keyed/hydro-js/app.js
  frameworks/non-keyed/hydro-js/index.html
  frameworks/non-keyed/hydro-js/package-lock.json
  frameworks/non-keyed/hydro-js/package.json
  frameworks/non-keyed/hydro-js/src/app.tsx
  frameworks/non-keyed/hydro-js/src/index.html
  frameworks/non-keyed/hydro-js/tsconfig.json
  frameworks/non-keyed/hydro-js/utils/moveFiles.js
Due: prettier --write, eslint

prebuilt dist for bobril due to missing linux-arm64 support
  frameworks/keyed/bobril/.bbrc
  frameworks/keyed/bobril/bundled-dist/a.css
  frameworks/keyed/bobril/bundled-dist/a.js
  frameworks/keyed/bobril/bundled-dist/index.html
  frameworks/keyed/bobril/index.html
  frameworks/keyed/bobril/package.json
Due: prettier --write, eslint

prebuilt dist for halogen due to missing linux-arm64 support
  frameworks/non-keyed/halogen/.gitignore
  frameworks/non-keyed/halogen/output-es/bundle.js
  frameworks/non-keyed/halogen/package.json
Due: prettier --write, eslint

fix build
  frameworks/keyed/pota/package-lock.json
  frameworks/keyed/pota/package.json
  frameworks/keyed/zess/package-lock.json
  frameworks/keyed/zess/package.json
Due: prettier --write

use snap version for chromium
  README.md
  webdriver-ts/src/playwrightAccess.ts
  webdriver-ts/src/puppeteerAccess.ts
Due: prettier --write, eslint

make build a noop
  frameworks/non-keyed/incr_dom/bundled-dist/Entrypoint.bc.js
  frameworks/non-keyed/incr_dom/copy.sh
  frameworks/non-keyed/incr_dom/index.html
  frameworks/non-keyed/incr_dom/package.json
Due: prettier --write, eslint

Fix react-supergrain: use published @supergrain/kernel package
  broken-frameworks/keyed/react-supergrain/package-lock.json
  frameworks/keyed/react-supergrain/index.html
  frameworks/keyed/react-supergrain/package-lock.json
  frameworks/keyed/react-supergrain/package.json
  frameworks/keyed/react-supergrain/src/main.tsx
  frameworks/keyed/react-supergrain/tsconfig.json
  frameworks/keyed/react-supergrain/vite.config.ts
Due: prettier --write, eslint

Add wcstack-signals and wcstack-signals-tsx (keyed) implementations
  frameworks/keyed/wcstack-signals-tsx/index.html
  frameworks/keyed/wcstack-signals-tsx/package-lock.json
  frameworks/keyed/wcstack-signals-tsx/package.json
  frameworks/keyed/wcstack-signals-tsx/src/jsx.d.ts
  frameworks/keyed/wcstack-signals-tsx/src/main.tsx
  frameworks/keyed/wcstack-signals-tsx/tsconfig.json
  frameworks/keyed/wcstack-signals/index.html
  frameworks/keyed/wcstack-signals/package-lock.json
  frameworks/keyed/wcstack-signals/package.json
  frameworks/keyed/wcstack-signals/src/main.js
Due: prettier --write, eslint

Add No.JS keyed implementation
  frameworks/keyed/no-js/index.html
  frameworks/keyed/no-js/package-lock.json
  frameworks/keyed/no-js/package.json
  frameworks/keyed/no-js/src/main.js
  frameworks/keyed/no-js/src/no.js
Due: prettier --write, eslint

Update reatom-jsx to @reatom preview packages
  frameworks/keyed/reatom-jsx/package-lock.json
  frameworks/keyed/reatom-jsx/package.json
  frameworks/keyed/reatom-jsx/src/main.tsx
Due: prettier --write

Fix reatomLinkedList factory for createMany params
  frameworks/keyed/reatom-jsx/src/main.tsx
Due: none

Refactor reatom-jsx row selection and list traversal
  frameworks/keyed/reatom-jsx/src/main.tsx
Due: none

perf(reatom-jsx): disable DEBUG and batch clear+createMany
  frameworks/keyed/reatom-jsx/src/main.tsx
Due: none

Use locally built reatom packages with perf fixes
  .gitignore
  frameworks/keyed/reatom-jsx/package-lock.json
  frameworks/keyed/reatom-jsx/package.json
  frameworks/keyed/reatom-jsx/src/main.tsx
  frameworks/keyed/reatom-jsx/vendor/reatom-core-1001.2.0.tgz
  frameworks/keyed/reatom-jsx/vendor/reatom-jsx-1001.2.0.tgz
Due: prettier --write

fix(reatom-jsx): refresh vendor tarballs for clear-memory leak fix
  frameworks/keyed/reatom-jsx/package-lock.json
  frameworks/keyed/reatom-jsx/vendor/reatom-core-1001.2.0.tgz
  frameworks/keyed/reatom-jsx/vendor/reatom-jsx-1001.2.0.tgz
Due: prettier --write

Add detailed reatom/core and reatom/jsx perf change dump
  frameworks/keyed/reatom-jsx/vendor/REATOM_PERF_CHANGES.md
  frameworks/keyed/reatom-jsx/vendor/reatom-core-jsx-perf.diff
Due: prettier --write

Switch reatom-jsx to pkg.pr.new packages @50543ab
  frameworks/keyed/reatom-jsx/package-lock.json
  frameworks/keyed/reatom-jsx/package.json
  frameworks/keyed/reatom-jsx/vendor/reatom-core-1001.2.0.tgz
  frameworks/keyed/reatom-jsx/vendor/reatom-jsx-1001.2.0.tgz
Due: prettier --write

Use published @reatom 1001.3.0 and drop local-dev artifacts
  .gitignore
  frameworks/keyed/reatom-jsx/package-lock.json
  frameworks/keyed/reatom-jsx/package.json
  frameworks/keyed/reatom-jsx/src/main.tsx
  frameworks/keyed/reatom-jsx/vendor/REATOM_PERF_CHANGES.md
  frameworks/keyed/reatom-jsx/vendor/reatom-core-jsx-perf.diff
Due: prettier --write

chore: update eslint and eslint config to latest
  package-lock.json
  package.json
Due: prettier --write

Update ember
  frameworks/keyed/ember/config/ember-cli-update.json
  frameworks/keyed/ember/config/optional-features.json
  frameworks/keyed/ember/config/targets.cjs
  frameworks/keyed/ember/package-lock.json
  frameworks/keyed/ember/package.json
  frameworks/keyed/ember/src/app.gjs
  frameworks/keyed/ember/src/coming-soon/cell.js
  frameworks/keyed/ember/src/components/the-table.gjs
  frameworks/keyed/ember/src/utils.js
  frameworks/keyed/ember/vite.config.js
Due: prettier --write, eslint

reduce
  frameworks/keyed/ember/src/app.gjs
  frameworks/keyed/ember/src/components/jumbotron.gjs
  frameworks/keyed/ember/src/components/state.js
  frameworks/keyed/ember/src/components/the-table.gjs
  frameworks/keyed/ember/src/config.js
  frameworks/keyed/ember/src/index.dev.html
  frameworks/keyed/ember/src/index.jsbf.html
  frameworks/keyed/ember/vite.config.js
Due: prettier --write, eslint

bump to 1.9.2
  frameworks/keyed/hydro-js/app.js
  frameworks/keyed/hydro-js/package-lock.json
  frameworks/keyed/hydro-js/package.json
  frameworks/non-keyed/hydro-js/app.js
  frameworks/non-keyed/hydro-js/package-lock.json
  frameworks/non-keyed/hydro-js/package.json
Due: prettier --write, eslint
