Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

Use the TrackedValue API from RFC 1071's overloaded tracked() (#3)
  frameworks/keyed/ember/src/components/the-table.gjs
  frameworks/keyed/ember/src/utils.js
Due: prettier --write, eslint

add keyed magnet implementation
  frameworks/keyed/magnet/README.md
  frameworks/keyed/magnet/build.mjs
  frameworks/keyed/magnet/package-lock.json
  frameworks/keyed/magnet/package.json
  frameworks/keyed/magnet/public/index.html
  frameworks/keyed/magnet/public/index.js
  frameworks/keyed/magnet/src/index.js
Due: prettier --write, eslint

add note 800
  frameworks/keyed/reatom-jsx/package.json
Due: prettier --write

regenerate package-lock
  package-lock.json
Due: prettier --write

add note 800,1261
  frameworks/keyed/magnet/package.json
Due: prettier --write

add build files for hydro-js
  frameworks/non-keyed/hydro-js/build/app.js
  frameworks/non-keyed/hydro-js/build/index.html
Due: prettier --write, eslint

Update Ripple to 0.3.112
  frameworks/keyed/ripple/package-lock.json
  frameworks/keyed/ripple/package.json
  frameworks/keyed/ripple/src/Main.tsrx
Due: prettier --write

Optimize Ripple text rendering
  frameworks/keyed/ripple/src/Main.tsrx
Due: none

add generated file
  frameworks/keyed/magnet/public/index.js
Due: prettier --write, eslint

special handling for using build directory
  frameworks/keyed/hydro-js/.gitignore
  frameworks/keyed/hydro-js/package.json
  frameworks/non-keyed/hydro-js/.gitignore
  frameworks/non-keyed/hydro-js/package.json
Due: prettier --write

Add Octane keyed benchmark
  frameworks/keyed/octane/index.html
  frameworks/keyed/octane/package-lock.json
  frameworks/keyed/octane/package.json
  frameworks/keyed/octane/src/App.tsrx
  frameworks/keyed/octane/src/main.js
  frameworks/keyed/octane/vite.config.js
Due: prettier --write, eslint

Match Octane benchmark minifier settings
  frameworks/keyed/octane/vite.config.js
Due: prettier --write, eslint

Add grainular/nord (keyed) implementation
  frameworks/keyed/nord/.gitignore
  frameworks/keyed/nord/.oxfmtrc.json
  frameworks/keyed/nord/.oxlintrc.json
  frameworks/keyed/nord/.prettierignore
  frameworks/keyed/nord/index.html
  frameworks/keyed/nord/package-lock.json
  frameworks/keyed/nord/package.json
  frameworks/keyed/nord/src/controls.ts
  frameworks/keyed/nord/src/data.ts
  frameworks/keyed/nord/src/main.ts
  frameworks/keyed/nord/src/row.ts
  frameworks/keyed/nord/tsconfig.json
  frameworks/keyed/nord/vite.config.ts
Due: prettier --write, eslint

Optimize Octane benchmark updates
  frameworks/keyed/octane/src/App.tsrx
Due: none

Update sprae to 13.6.0
  frameworks/keyed/sprae/package-lock.json
  frameworks/keyed/sprae/package.json
  frameworks/keyed/sprae/src/sprae.js
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

Update sprae to 13.7.0
  frameworks/keyed/sprae/package-lock.json
  frameworks/keyed/sprae/package.json
  frameworks/keyed/sprae/src/sprae.js
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

chore: remove unnecessary files
  frameworks/keyed/nord/.oxlintrc.json
  frameworks/keyed/nord/.prettierignore
Due: prettier --write

Update sprae to 13.7.1
  frameworks/keyed/sprae/package-lock.json
  frameworks/keyed/sprae/package.json
  frameworks/keyed/sprae/src/sprae.js
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

improve copying files from VPS
  startLocalServerAndUpdateBuild.sh
Due: none

react-supergrain: update to @supergrain/kernel 7.3.0
  frameworks/keyed/react-supergrain/package-lock.json
  frameworks/keyed/react-supergrain/package.json
  frameworks/keyed/react-supergrain/src/main.tsx
Due: prettier --write

incremental run
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: prettier --write, eslint

chore(marko): update to marko 6.3.28 and @marko/run 0.11.6
  frameworks/keyed/marko/.marko-run/routes.d.ts
  frameworks/keyed/marko/package-lock.json
  frameworks/keyed/marko/package.json
Due: prettier --write, eslint

Update sprae to 13.8.2
  frameworks/keyed/sprae/package-lock.json
  frameworks/keyed/sprae/package.json
  frameworks/keyed/sprae/src/sprae.js
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

Update sprae to 13.8.3
  frameworks/keyed/sprae/package-lock.json
  frameworks/keyed/sprae/package.json
  frameworks/keyed/sprae/src/sprae.js
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

Update sprae to 13.8.4
  frameworks/keyed/sprae/package-lock.json
  frameworks/keyed/sprae/package.json
  frameworks/keyed/sprae/src/sprae.js
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: prettier --write, eslint

Add ValyrianJS keyed and non-keyed implementations
  frameworks/keyed/valyrianjs/build.js
  frameworks/keyed/valyrianjs/index.html
  frameworks/keyed/valyrianjs/package-lock.json
  frameworks/keyed/valyrianjs/package.json
  frameworks/keyed/valyrianjs/src/main.tsx
  frameworks/keyed/valyrianjs/src/store.ts
  frameworks/keyed/valyrianjs/tsconfig.json
  frameworks/non-keyed/valyrianjs/build.js
  frameworks/non-keyed/valyrianjs/index.html
  frameworks/non-keyed/valyrianjs/package-lock.json
  frameworks/non-keyed/valyrianjs/package.json
  frameworks/non-keyed/valyrianjs/src/main.tsx
  frameworks/non-keyed/valyrianjs/src/store.ts
  frameworks/non-keyed/valyrianjs/tsconfig.json
Due: prettier --write, eslint

fix(nuclo): update framework to 0.2.19 and migrate click handlers to onclick
  frameworks/keyed/nuclo/package-lock.json
  frameworks/keyed/nuclo/package.json
  frameworks/keyed/nuclo/src/main.ts
Due: prettier --write, eslint

refactor: type ValyrianJS button props
  frameworks/keyed/valyrianjs/src/main.tsx
  frameworks/non-keyed/valyrianjs/src/main.tsx
Due: none

Fix a README typo ("implemenation")
  README.md
Due: prettier --write

Rewrite the keyed magnet implementation around @magnet-js/list
  frameworks/keyed/magnet/package-lock.json
  frameworks/keyed/magnet/package.json
  frameworks/keyed/magnet/public/index.js
  frameworks/keyed/magnet/src/index.js
Due: prettier --write, eslint

Update Preact to 10.29.8
  frameworks/keyed/preact-classes/package-lock.json
  frameworks/keyed/preact-classes/package.json
  frameworks/keyed/preact-hooks/package-lock.json
  frameworks/keyed/preact-hooks/package.json
  frameworks/keyed/preact-kr-observable/package-lock.json
  frameworks/keyed/preact-kr-observable/package.json
  frameworks/keyed/preact-signals/package-lock.json
  frameworks/keyed/preact-signals/package.json
Due: prettier --write

bump hydro-js to 1.9.4
  frameworks/keyed/hydro-js/app.js
  frameworks/keyed/hydro-js/build/app.js
  frameworks/keyed/hydro-js/build/index.html
  frameworks/keyed/hydro-js/package-lock.json
  frameworks/keyed/hydro-js/package.json
  frameworks/non-keyed/hydro-js/app.js
  frameworks/non-keyed/hydro-js/build/app.js
  frameworks/non-keyed/hydro-js/build/index.html
  frameworks/non-keyed/hydro-js/package-lock.json
  frameworks/non-keyed/hydro-js/package.json
Due: prettier --write, eslint

Add keyed domphy implementation
  frameworks/keyed/domphy/README.md
  frameworks/keyed/domphy/index.html
  frameworks/keyed/domphy/package-lock.json
  frameworks/keyed/domphy/package.json
  frameworks/keyed/domphy/src/main.ts
Due: prettier --write, eslint

chore(nuclo): bump nuclo to 0.2.21
  frameworks/keyed/nuclo/package-lock.json
  frameworks/keyed/nuclo/package.json
Due: prettier --write

Add WildflowerJS keyed benchmark entries (data-list and data-pool)
  frameworks/keyed/wildflowerjs-pool/README.md
  frameworks/keyed/wildflowerjs-pool/index.html
  frameworks/keyed/wildflowerjs-pool/package-lock.json
  frameworks/keyed/wildflowerjs-pool/package.json
  frameworks/keyed/wildflowerjs-pool/src/Main.js
  frameworks/keyed/wildflowerjs-pool/src/wildflower.lite.min.js
  frameworks/keyed/wildflowerjs/README.md
  frameworks/keyed/wildflowerjs/index.html
  frameworks/keyed/wildflowerjs/package-lock.json
  frameworks/keyed/wildflowerjs/package.json
  frameworks/keyed/wildflowerjs/src/Main.js
  frameworks/keyed/wildflowerjs/src/wildflower.mini.min.js
Due: prettier --write, eslint

chore(nuclo): update benchmark to nuclo 0.2.24
  frameworks/keyed/nuclo/package-lock.json
  frameworks/keyed/nuclo/package.json
  frameworks/keyed/nuclo/src/main.ts
Due: prettier --write, eslint

chore: Update valyrian.js version
  frameworks/keyed/valyrianjs/package.json
  frameworks/keyed/valyrianjs/src/main.tsx
  frameworks/non-keyed/valyrianjs/package.json
  frameworks/non-keyed/valyrianjs/src/main.tsx
Due: prettier --write

chore: Rebuild package-lock.json
  frameworks/keyed/valyrianjs/package-lock.json
  frameworks/non-keyed/valyrianjs/package-lock.json
Due: prettier --write

fix(svelte): build with the production export condition
  frameworks/keyed/svelte-classic/rollup.config.js
  frameworks/keyed/svelte/rollup.config.js
  frameworks/non-keyed/svelte-classic/rollup.config.js
Due: prettier --write, eslint

Update Octane to 0.1.31
  frameworks/keyed/octane/package-lock.json
  frameworks/keyed/octane/package.json
Due: prettier --write
