Repository krausest/js-framework-benchmark: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "!(frameworks|broken-frameworks)/**/*.{json,md,yml,yaml,html}": [
    "prettier --write"
  ],
  "!(frameworks|broken-frameworks)/**/*.{js,cjs,ts}": [
    "eslint",
    "prettier --write"
  ],
  "./*.{json,md,yml,yaml,html}": ["prettier --write"],
  "./*.{js,cjs,ts}": ["eslint", "prettier --write"]
}

update vue and vue-vapor
  frameworks/keyed/vue-jsx/package-lock.json
  frameworks/keyed/vue-jsx/package.json
  frameworks/keyed/vue-pinia/package-lock.json
  frameworks/keyed/vue-pinia/package.json
  frameworks/keyed/vue-vapor/package-lock.json
  frameworks/keyed/vue-vapor/package.json
  frameworks/keyed/vue/package-lock.json
  frameworks/keyed/vue/package.json
  frameworks/non-keyed/vue-vapor/package-lock.json
  frameworks/non-keyed/vue-vapor/package.json
  frameworks/non-keyed/vue/package-lock.json
  frameworks/non-keyed/vue/package.json
Due: prettier --write

Added Eventiveness Web framework
  frameworks/keyed/eventiveness/index.html
  frameworks/keyed/eventiveness/package-lock.json
  frameworks/keyed/eventiveness/package.json
  frameworks/keyed/eventiveness/rollup.config.mjs
  frameworks/keyed/eventiveness/src/Main.js
  frameworks/non-keyed/eventiveness/index.html
  frameworks/non-keyed/eventiveness/package-lock.json
  frameworks/non-keyed/eventiveness/package.json
  frameworks/non-keyed/eventiveness/rollup.config.mjs
  frameworks/non-keyed/eventiveness/src/Main.js
Due: prettier --write, eslint

update main.js
  frameworks/keyed/cample/src/main.js
Due: prettier --write, eslint

Updated keyed implementation to better demonstrate the framework
  frameworks/keyed/eventiveness/src/Main.js
Due: prettier --write, eslint

#1653 and fix boxplot
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTableChart.tsx
  webdriver-ts/src/puppeteerAccess.ts
Due: prettier --write, eslint

DooHTML-DOM-v0.92.2-beta-april-24-2024
  frameworks/keyed/doohtml/js/Main.class.js
Due: prettier --write, eslint

removed classList toggle
  frameworks/keyed/doohtml-dom/js/Main.class.js
  frameworks/keyed/doohtml/js/Main.class.js
Due: prettier --write, eslint

first fix for chrome 104
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/puppeteerAccess.ts
Due: prettier --write, eslint

prepare chrome 124 issue
  webdriver-ts/package.json
  webdriver-ts/src/benchmarkRunner.ts
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/puppeteerAccess.ts
Due: prettier --write, eslint

add package-lock
  webdriver-ts/package-lock.json
Due: prettier --write

destam-dom: Update dependencies
  frameworks/keyed/destam-dom/package-lock.json
  frameworks/keyed/destam-dom/package.json
  frameworks/keyed/destam-dom/rollup.config.js
Due: prettier --write, eslint

destam-dom: Use a globally managed click handler
  frameworks/keyed/destam-dom/src/main.jsx
Due: none

destam-dom: Add npm build to build without minification
  frameworks/keyed/destam-dom/package.json
Due: prettier --write

destam-dom: Use for loop instead of Array.from
  frameworks/keyed/destam-dom/src/main.jsx
Due: none

Spheres 0.9 implementation
  frameworks/keyed/spheres/index.html
  frameworks/keyed/spheres/local.html
  frameworks/keyed/spheres/package-lock.json
  frameworks/keyed/spheres/package.json
  frameworks/keyed/spheres/src/app.ts
  frameworks/keyed/spheres/src/state.ts
  frameworks/keyed/spheres/tsconfig.json
  frameworks/keyed/spheres/vite.config.mjs
Due: prettier --write, eslint

Update README.md
  README.md
Due: prettier --write

Updated Eventiveness
  frameworks/keyed/eventiveness/package-lock.json
  frameworks/keyed/eventiveness/package.json
  frameworks/keyed/eventiveness/src/Main.js
  frameworks/non-keyed/eventiveness/package-lock.json
  frameworks/non-keyed/eventiveness/package.json
  frameworks/non-keyed/eventiveness/src/Main.js
Due: prettier --write, eslint

Ran `npm update` on the main package
  package-lock.json
Due: prettier --write

chore: bump lwc to v6.6.1
  frameworks/keyed/lwc/package-lock.json
  frameworks/keyed/lwc/package.json
Due: prettier --write

Updated reflex bench
  frameworks/keyed/reflex-js-atomic/esbuild.config.js
  frameworks/keyed/reflex-js-atomic/index.html
  frameworks/keyed/reflex-js-atomic/package-lock.json
  frameworks/keyed/reflex-js-atomic/package.json
  frameworks/keyed/reflex-js-atomic/src/main.tsx
  frameworks/keyed/reflex-js-atomic/tsconfig.json
  frameworks/keyed/reflex-js/package-lock.json
Due: prettier --write, eslint

Test vanillajs-2
  frameworks/keyed/vanillajs-2/index.html
  frameworks/keyed/vanillajs-2/package-lock.json
  frameworks/keyed/vanillajs-2/package.json
  frameworks/keyed/vanillajs-2/src/Main.js
Due: prettier --write, eslint

Update Silkenweb to version 0.8.0
  frameworks/keyed/silkenweb/Cargo.lock
  frameworks/keyed/silkenweb/Cargo.toml
  frameworks/keyed/silkenweb/Trunk.toml
  frameworks/keyed/silkenweb/bundled-dist/index.html
  frameworks/keyed/silkenweb/bundled-dist/js-framework-benchmark-silkenweb-f5f8ab44b95a6616.js
  frameworks/keyed/silkenweb/bundled-dist/js-framework-benchmark-silkenweb-f5f8ab44b95a6616_bg.wasm
  frameworks/keyed/silkenweb/bundled-dist/js-framework-benchmark-silkenweb-fa1762b6e678dcf6_bg.wasm
  frameworks/keyed/silkenweb/package.json
Due: prettier --write, eslint

apply prettier
  frameworks/keyed/vanillajs-2/src/Main.js
Due: prettier --write, eslint

setting nodeValue for create rows, clear by cloning the tbody
  frameworks/keyed/vanillajs-2/src/Main.js
Due: prettier --write, eslint

improve checking target id and switch back clearing rows
  frameworks/keyed/vanillajs-2/src/Main.js
Due: prettier --write, eslint

event target handling, writing to nodeValue, inline appending
  frameworks/keyed/vanillajs/src/Main.js
Due: prettier --write, eslint

reproduce exactly the correct css
  frameworks/keyed/ivi/src/main.ts
Due: prettier --write, eslint

Revert "reproduce exactly the correct css"
  frameworks/keyed/ivi/src/main.ts
Due: prettier --write, eslint

remove dummy css classes
  frameworks/keyed/vanillajs-1/src/Main.js
  frameworks/keyed/vanillajs-2/src/Main.js
  frameworks/keyed/vanillajs/src/Main.js
Due: prettier --write, eslint

Renamed Eventivity to Deleight
  frameworks/keyed/deleight/index.html
  frameworks/keyed/deleight/package-lock.json
  frameworks/keyed/deleight/package.json
  frameworks/keyed/deleight/rollup.config.mjs
  frameworks/keyed/deleight/src/Main.js
  frameworks/keyed/eventiveness/src/Main.js
  frameworks/non-keyed/deleight/index.html
  frameworks/non-keyed/deleight/package-lock.json
  frameworks/non-keyed/deleight/package.json
  frameworks/non-keyed/deleight/rollup.config.mjs
  frameworks/non-keyed/deleight/src/Main.js
  frameworks/non-keyed/eventiveness/src/Main.js
Due: prettier --write, eslint

add `vanillajs-lite` impl.
  frameworks/keyed/vanillajs-lite/index.html
  frameworks/keyed/vanillajs-lite/package-lock.json
  frameworks/keyed/vanillajs-lite/package.json
  frameworks/keyed/vanillajs-lite/src/Main.js
Due: prettier --write, eslint

refactoring
  frameworks/keyed/vanillajs-lite/index.html
  frameworks/keyed/vanillajs-lite/src/Main.js
Due: prettier --write, eslint

use HeapProfiler.collectGarbage and resotre some browser flags
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/puppeteerAccess.ts
Due: prettier --write, eslint

remove default delay
  webdriver-ts/src/common.ts
Due: prettier --write, eslint

isKeyed test fix
  frameworks/keyed/vanillajs-lite/src/Main.js
Due: prettier --write, eslint

fix typo
  frameworks/keyed/vanillajs-lite/src/Main.js
Due: prettier --write, eslint

VanillaJS-3 implementation with notable advantages
  frameworks/keyed/vanillajs-3/index.html
  frameworks/keyed/vanillajs-3/package-lock.json
  frameworks/keyed/vanillajs-3/package.json
  frameworks/keyed/vanillajs-3/src/Main.js
  package-lock.json
Due: prettier --write, eslint

VanillaJS-3 implementation
  frameworks/keyed/vanillajs-3/index.html
  frameworks/keyed/vanillajs-3/package-lock.json
  frameworks/keyed/vanillajs-3/package.json
  frameworks/keyed/vanillajs-3/src/Main.js
Due: prettier --write, eslint
