Repository krausest/js-framework-benchmark: changes, and which lefthook commands are due for each by the changed paths.
All: format-code, format-docs

format-code:
  run: npx eslint --fix {staged_files} && npx prettier -w {staged_files} && git update-index --again

format-docs:
  run: npx prettier -w {staged_files} && git update-index --again

update quel to 0.15.2
  frameworks/keyed/quel/package.json
  frameworks/keyed/quel/src/myappMain.js
  frameworks/keyed/quel/src/quel.min.js
  frameworks/non-keyed/quel/package.json
  frameworks/non-keyed/quel/src/myappMain.js
  frameworks/non-keyed/quel/src/quel.min.js
Due: format-docs

update svelte
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: format-docs

update svelte, quel, cample. add ravel
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Add Xilem
  frameworks/non-keyed/xilem/Cargo.toml
  frameworks/non-keyed/xilem/README.md
  frameworks/non-keyed/xilem/bundled-dist/index.html
  frameworks/non-keyed/xilem/bundled-dist/js-framework-benchmark-xilem.js
  frameworks/non-keyed/xilem/bundled-dist/js-framework-benchmark-xilem_bg.wasm
  frameworks/non-keyed/xilem/index.html
  frameworks/non-keyed/xilem/package-lock.json
  frameworks/non-keyed/xilem/package.json
  frameworks/non-keyed/xilem/src/lib.rs
Due: format-docs

Adjust based on P.M.'s implementation
  frameworks/non-keyed/xilem/Cargo.toml
  frameworks/non-keyed/xilem/bundled-dist/js-framework-benchmark-xilem.js
  frameworks/non-keyed/xilem/bundled-dist/js-framework-benchmark-xilem_bg.wasm
  frameworks/non-keyed/xilem/package.json
  frameworks/non-keyed/xilem/src/lib.rs
Due: format-docs

update quel to 0.16.1, single file component
  frameworks/keyed/quel/index.html
  frameworks/keyed/quel/package.json
  frameworks/keyed/quel/src/myappMain.js
  frameworks/keyed/quel/src/myappMain.sfc.html
  frameworks/keyed/quel/src/quel.min.js
  frameworks/non-keyed/quel/index.html
  frameworks/non-keyed/quel/package.json
  frameworks/non-keyed/quel/src/myappMain.js
  frameworks/non-keyed/quel/src/myappMain.sfc.html
  frameworks/non-keyed/quel/src/quel.min.js
Due: format-docs

optimize the dioxus implementation and don't leak memory
  frameworks/keyed/dioxus/Cargo.toml
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark.js
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
  frameworks/keyed/dioxus/bundled-dist/index.html
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-9ac3b5e174d5b843/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-9ac3b5e174d5b843/src/js/common.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-90b865b1369c74f4/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-90b865b1369c74f4/inline1.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-90b865b1369c74f4/src/eval.js
  frameworks/keyed/dioxus/src/main.rs
Due: format-docs

use the stable version of dioxus
  frameworks/keyed/dioxus/Cargo.toml
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark.js
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
  frameworks/keyed/dioxus/bundled-dist/index.html
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-7e2aed97ebee2c55/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-7e2aed97ebee2c55/src/js/common.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-10186f9fcc0b4418/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-10186f9fcc0b4418/inline1.js
Due: format-docs

use preventDefault() to prevent scroll to top due to href="#"
  frameworks/keyed/angular-cf-signals/src/app/app.component.html
Due: format-docs

retire the slowest vanillajs implementation
  frameworks/keyed/vanillajs-1/index.html
  frameworks/keyed/vanillajs-1/package-lock.json
  frameworks/keyed/vanillajs-1/package.json
  frameworks/keyed/vanillajs-1/src/Main.js
Due: format-docs

chrome 127
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
  webdriver-ts/results.json
  webdriver-ts/src/webdriverAccess.ts
  webdriver-ts/src/webdriverCDPAccess.ts
Due: format-code, format-docs

add #772 to sonnet
  frameworks/keyed/sonnet/package.json
Due: format-docs

update dioxus, angular-cf-singals, quel
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

chore: update eslint config
  eslint.config.js
  package-lock.json
  package.json
Due: format-code, format-docs

Add Hono client-side benchmarks
  frameworks/keyed/hono/.gitignore
  frameworks/keyed/hono/index.html
  frameworks/keyed/hono/package-lock.json
  frameworks/keyed/hono/package.json
  frameworks/keyed/hono/src/index.tsx
  frameworks/keyed/hono/tsconfig.json
  frameworks/keyed/hono/vite.config.js
Due: format-docs

Update Svelte version
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/keyed/svelte/src/Main.svelte
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: format-docs

update version
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: format-docs

update svelte
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

feat: add vue-jsx-vapor
  frameworks/keyed/vue-jsx-vapor/index-dev.html
  frameworks/keyed/vue-jsx-vapor/index.html
  frameworks/keyed/vue-jsx-vapor/jsconfig.json
  frameworks/keyed/vue-jsx-vapor/package-lock.json
  frameworks/keyed/vue-jsx-vapor/package.json
  frameworks/keyed/vue-jsx-vapor/src/App.jsx
  frameworks/keyed/vue-jsx-vapor/src/data.js
  frameworks/keyed/vue-jsx-vapor/src/main.js
  frameworks/keyed/vue-jsx-vapor/vite.config.js
  frameworks/keyed/vue-vapor/pnpm-lock.yaml
  frameworks/keyed/vue-vapor/vite.config.js
  frameworks/non-keyed/vue-jsx-vapor/index-dev.html
  frameworks/non-keyed/vue-jsx-vapor/index.html
  frameworks/non-keyed/vue-jsx-vapor/jsconfig.json
  frameworks/non-keyed/vue-jsx-vapor/package-lock.json
  frameworks/non-keyed/vue-jsx-vapor/package.json
  frameworks/non-keyed/vue-jsx-vapor/src/App.jsx
  frameworks/non-keyed/vue-jsx-vapor/src/data.js
  frameworks/non-keyed/vue-jsx-vapor/src/main.js
  frameworks/non-keyed/vue-jsx-vapor/vite.config.js
Due: format-docs

Upgrade Svelte
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
Due: format-docs

perf: improve vue-vapor test code
  frameworks/keyed/vue-vapor/src/App.vue
  frameworks/keyed/vue-vapor/src/data.js
  frameworks/non-keyed/vue-vapor/src/App.vue
  frameworks/non-keyed/vue-vapor/src/data.js
Due: none

Updated VanillaJS-3 and Deleight keyed implementations
  frameworks/keyed/deleight/index.html
  frameworks/keyed/deleight/package.json
  frameworks/keyed/deleight/src/Main.js
  frameworks/keyed/vanillajs-3/index.html
  frameworks/keyed/vanillajs-3/src/Main.js
Due: format-docs

Updated dependencies
  frameworks/keyed/deleight/package-lock.json
Due: format-docs

Modified version numbers
  frameworks/keyed/deleight/package-lock.json
  frameworks/keyed/deleight/package.json
  frameworks/non-keyed/deleight/package-lock.json
  frameworks/non-keyed/deleight/package.json
Due: format-docs

chore: update version
  frameworks/keyed/vue-jsx-vapor/package-lock.json
  frameworks/keyed/vue-jsx-vapor/package.json
  frameworks/keyed/vue-jsx-vapor/vite.config.js
Due: format-docs

Add endr
  frameworks/keyed/endr/index.html
  frameworks/keyed/endr/package-lock.json
  frameworks/keyed/endr/package.json
  frameworks/keyed/endr/src/index.js
  frameworks/keyed/endr/tsconfig.json
Due: format-docs

chore: update old rollup configurations to v4
  frameworks/keyed/alpine/package-lock.json
  frameworks/keyed/alpine/package.json
  frameworks/keyed/alpine/rollup.config.js
  frameworks/keyed/blockdom/package-lock.json
  frameworks/keyed/blockdom/package.json
  frameworks/keyed/blockdom/rollup.config.js
  frameworks/keyed/knockout/package-lock.json
  frameworks/keyed/knockout/package.json
  frameworks/keyed/knockout/rollup.config.js
  frameworks/keyed/lit/package-lock.json
  frameworks/keyed/lit/package.json
  frameworks/keyed/lit/rollup.config.js
  frameworks/keyed/malina/package-lock.json
  frameworks/keyed/malina/package.json
  frameworks/keyed/malina/rollup.config.js
  frameworks/keyed/marionette-backbone/package-lock.json
  frameworks/keyed/marionette-backbone/package.json
  frameworks/keyed/marionette-backbone/rollup.config.js
  frameworks/keyed/marionette/package-lock.json
  frameworks/keyed/marionette/package.json
  frameworks/keyed/marionette/rollup.config.js
  frameworks/keyed/pota/package-lock.json
  frameworks/keyed/pota/package.json
  frameworks/keyed/pota/rollup.config.js
  frameworks/keyed/scarlets-frame/package-lock.json
  frameworks/keyed/scarlets-frame/package.json
  frameworks/keyed/scarlets-frame/rollup.config.js
  frameworks/non-keyed/lit/package-lock.json
  frameworks/non-keyed/lit/package.json
  frameworks/non-keyed/lit/rollup.config.js
  frameworks/non-keyed/scarlets-frame/package-lock.json
  frameworks/non-keyed/scarlets-frame/package.json
  frameworks/non-keyed/scarlets-frame/rollup.config.js
Due: format-docs

chore: correct linting errors
  server/app.js
  server/src/config/directories.js
  server/src/csp/cspControllers.js
  server/src/frameworks/frameworksServices.js
Due: format-code

chore: code cleanup
  server/app.js
  server/index.js
  server/src/csp/cspControllers.js
  server/src/csp/cspRouter.js
  server/src/frameworks/frameworksControllers.js
  server/src/frameworks/frameworksRouter.js
  server/src/frameworks/frameworksServices.js
  server/src/frameworks/helpers/copyProps.js
  server/src/frameworks/helpers/prepareFrameworkData.js
  server/src/responseSize/responseSizeController.js
  server/src/responseSize/responseSizeDecorator.js
  server/src/responseSize/responseSizeRouter.js
  server/src/static/staticRouter.js
Due: format-code

refactor(server): rewrite in typescript
  server/app.ts
  server/index.ts
  server/package-lock.json
  server/package.json
  server/src/config/directories.ts
  server/src/csp/cspControllers.ts
  server/src/csp/cspRouter.ts
  server/src/fastify.d.ts
  server/src/frameworks/frameworksControllers.ts
  server/src/frameworks/frameworksRouter.ts
  server/src/frameworks/frameworksServices.ts
  server/src/frameworks/helpers/buildFrameworkVersionString.js
  server/src/frameworks/helpers/buildFrameworkVersionString.ts
  server/src/frameworks/helpers/copyProps.ts
  server/src/frameworks/helpers/index.ts
  server/src/frameworks/helpers/prepareFrameworkData.ts
  server/src/frameworks/types/index.ts
  server/src/responseSize/responseSizeController.js
  server/src/responseSize/responseSizeController.ts
  server/src/responseSize/responseSizeDecorator.ts
  server/src/responseSize/responseSizeRouter.ts
  server/src/static/staticRouter.ts
  server/tsconfig.json
Due: format-code, format-docs

chore(server): bump deps
  server/package-lock.json
  server/package.json
Due: format-docs

update pota
  frameworks/keyed/pota/package.json
  frameworks/keyed/pota/rollup.config.js
  frameworks/keyed/pota/src/main.jsx
Due: format-docs

Update to Hono 4.5.10
  frameworks/keyed/hono/package-lock.json
  frameworks/keyed/hono/package.json
  frameworks/keyed/hono/src/index.tsx
  frameworks/keyed/hono/tsconfig.json
Due: format-docs

refactor(server): use the decorator to control the CSP
  server/app.ts
  server/src/csp/cspControllers.ts
  server/src/csp/cspDecorator.ts
  server/src/fastify.d.ts
  server/src/static/staticRouter.ts
Due: format-code

chore(server): fix package-lock.json
  server/package-lock.json
Due: format-docs

chore: update eslint and prettier
  eslint.config.js
  package-lock.json
  package.json
Due: format-code, format-docs

fix(server): linting errors
  server/app.js
  server/src/config/directories.js
  server/src/csp/cspControllers.js
  server/src/frameworks/frameworksServices.js
Due: format-code

chore(server): code cleanup
  server/app.js
  server/index.js
  server/src/csp/cspControllers.js
  server/src/csp/cspRouter.js
  server/src/frameworks/frameworksControllers.js
  server/src/frameworks/frameworksRouter.js
  server/src/frameworks/frameworksServices.js
  server/src/frameworks/helpers/copyProps.js
  server/src/frameworks/helpers/prepareFrameworkData.js
  server/src/responseSize/responseSizeController.js
  server/src/responseSize/responseSizeDecorator.js
  server/src/responseSize/responseSizeRouter.js
  server/src/static/staticRouter.js
Due: format-code

refactor(server): rewrite in typescript
  server/app.ts
  server/index.ts
  server/package-lock.json
  server/package.json
  server/src/config/directories.ts
  server/src/csp/cspControllers.ts
  server/src/csp/cspRouter.ts
  server/src/fastify.d.ts
  server/src/frameworks/frameworksControllers.ts
  server/src/frameworks/frameworksRouter.ts
  server/src/frameworks/frameworksServices.ts
  server/src/frameworks/helpers/buildFrameworkVersionString.js
  server/src/frameworks/helpers/buildFrameworkVersionString.ts
  server/src/frameworks/helpers/copyProps.js
  server/src/frameworks/helpers/copyProps.ts
  server/src/frameworks/helpers/index.ts
  server/src/frameworks/helpers/prepareFrameworkData.ts
  server/src/frameworks/types/index.ts
  server/src/responseSize/responseSizeController.js
  server/src/responseSize/responseSizeController.ts
  server/src/responseSize/responseSizeDecorator.ts
  server/src/responseSize/responseSizeRouter.ts
  server/src/static/staticRouter.ts
  server/tsconfig.json
Due: format-code, format-docs

Path conditions:
  format-code: any of: *.{js,ts,jsx,tsx}, but not: ^(?:frameworks|broken-frameworks).*$
  format-docs: any of: *.{json,yml,yaml,html}
