Repository krausest/js-framework-benchmark: changes, and which lefthook commands are due for each by the changed paths.
All: format-code, format-docs

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    format-code:
      glob: "*.{js,ts,jsx,tsx}"
      exclude: "^(?:frameworks|broken-frameworks).*$"
      run: npx eslint --fix {staged_files} && npx prettier -w {staged_files} && git update-index --again

    format-docs:
      glob: "*.{json,yml,yaml,html}"
      run: npx prettier -w {staged_files} && git update-index --again

Updating non-keyed/ui5-webcomponents failed #1800
  broken-frameworks/non-keyed/ui5-webcomponents/bundle.esm.js
  broken-frameworks/non-keyed/ui5-webcomponents/config/rollup.config.js
  broken-frameworks/non-keyed/ui5-webcomponents/index.html
  broken-frameworks/non-keyed/ui5-webcomponents/package-lock.json
  broken-frameworks/non-keyed/ui5-webcomponents/package-scripts.js
  broken-frameworks/non-keyed/ui5-webcomponents/package.json
  broken-frameworks/non-keyed/ui5-webcomponents/src/MainElement.hbs
  broken-frameworks/non-keyed/ui5-webcomponents/src/MainElement.js
  broken-frameworks/non-keyed/ui5-webcomponents/src/Store.js
  broken-frameworks/non-keyed/ui5-webcomponents/src/generated/templates/MainElementTemplate.lit.ts
Due: format-docs

Updating keyed/voby failed #1804
  broken-frameworks/non-keyed/voby/index.html
  broken-frameworks/non-keyed/voby/package-lock.json
  broken-frameworks/non-keyed/voby/package.json
  broken-frameworks/non-keyed/voby/src/main.tsx
Due: format-docs

Building non-keyed/vue-jsx-vapor fails #1811
  broken-frameworks/non-keyed/vue-jsx-vapor/index-dev.html
  broken-frameworks/non-keyed/vue-jsx-vapor/index.html
  broken-frameworks/non-keyed/vue-jsx-vapor/jsconfig.json
  broken-frameworks/non-keyed/vue-jsx-vapor/package-lock.json
  broken-frameworks/non-keyed/vue-jsx-vapor/package.json
  broken-frameworks/non-keyed/vue-jsx-vapor/src/App.jsx
  broken-frameworks/non-keyed/vue-jsx-vapor/src/data.js
  broken-frameworks/non-keyed/vue-jsx-vapor/src/main.js
  broken-frameworks/non-keyed/vue-jsx-vapor/vite.config.js
Due: format-docs

update Dark
  frameworks/keyed/dark/src/index.tsx
  frameworks/keyed/dark/tsconfig.json
Due: format-docs

update frameworks
  frameworks/non-keyed/vue-vapor/package-lock.json
Due: format-docs

fix rebuild command
  package.json
Due: format-docs

Updated non-keyed to use the latest deleight version (5.5.10)
  frameworks/non-keyed/deleight/index.html
  frameworks/non-keyed/deleight/package-lock.json
  frameworks/non-keyed/deleight/package.json
  frameworks/non-keyed/deleight/rollup.config.mjs
  frameworks/non-keyed/deleight/src/Main.js
Due: format-docs

destam-dom: Update to v0.10.2
  frameworks/keyed/destam-dom/package-lock.json
  frameworks/keyed/destam-dom/package.json
Due: format-docs

update results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

update results
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

update click handler
  frameworks/keyed/pota/src/main.jsx
Due: none

Update package.json
  frameworks/keyed/pota/package.json
Due: format-docs

bump babel/core
  frameworks/keyed/pota/package-lock.json
  frameworks/keyed/pota/package.json
Due: format-docs

made swap test work as keyed
  frameworks/keyed/targetj/package.json
  frameworks/keyed/targetj/src/main.js
Due: format-docs

Update TargetJ dependency to 1.0.126
  frameworks/keyed/targetj/package-lock.json
Due: format-docs

add CSP flag
  frameworks/non-keyed/skruv-liten/package.json
Due: format-docs

perf: add equal, see https://angular.dev/guide/signals#signal-equality-functions
  frameworks/keyed/angular-cf-signals-nozone/src/app/app.component.ts
Due: none

perf: add equal, see https://angular.dev/guide/signals#signal-equality-functions
  frameworks/keyed/angular-cf-signals/src/app/app.component.ts
Due: none

fix: comma
  frameworks/keyed/angular-cf-signals-nozone/src/app/app.component.ts
Due: none

Update to latest Silkenweb version (0.9.0)
  frameworks/keyed/silkenweb/Cargo.lock
  frameworks/keyed/silkenweb/Cargo.toml
  frameworks/keyed/silkenweb/Trunk.toml
  frameworks/keyed/silkenweb/bundled-dist/index.html
  frameworks/keyed/silkenweb/bundled-dist/js-framework-benchmark-silkenweb-3fe0a7efb0dd4880.js
  frameworks/keyed/silkenweb/bundled-dist/js-framework-benchmark-silkenweb-3fe0a7efb0dd4880_bg.wasm
  frameworks/keyed/silkenweb/bundled-dist/js-framework-benchmark-silkenweb-f5f8ab44b95a6616.js
  frameworks/keyed/silkenweb/bundled-dist/js-framework-benchmark-silkenweb-f5f8ab44b95a6616_bg.wasm
  frameworks/keyed/silkenweb/index.html
  frameworks/keyed/silkenweb/package.json
Due: format-docs

renamed to targetjs
  frameworks/keyed/targetjs/index.html
  frameworks/keyed/targetjs/nbproject/private/private.properties
  frameworks/keyed/targetjs/nbproject/project.properties
  frameworks/keyed/targetjs/nbproject/project.xml
  frameworks/keyed/targetjs/package-lock.json
  frameworks/keyed/targetjs/package.json
  frameworks/keyed/targetjs/src/data.js
  frameworks/keyed/targetjs/src/main.js
  frameworks/keyed/targetjs/webpack.config.js
Due: format-docs

Remove nbproject files
  frameworks/keyed/targetjs/nbproject/private/private.properties
  frameworks/keyed/targetjs/nbproject/project.properties
  frameworks/keyed/targetjs/nbproject/project.xml
Due: none

updated the version to 137
  frameworks/keyed/targetjs/package-lock.json
  frameworks/keyed/targetjs/package.json
Due: format-docs

cleanup
  frameworks/keyed/karyon/app.bundle.js
Due: none

`karyon` implementation update
  frameworks/keyed/karyon/src/app.js
Due: none

`karyon` version update
  frameworks/keyed/karyon/package-lock.json
  frameworks/keyed/karyon/package.json
Due: format-docs

Update main.jsx
  frameworks/keyed/pota/src/main.jsx
Due: none

update: update @rvjs/core version
  frameworks/keyed/rvjs/index.html
  frameworks/keyed/rvjs/package-lock.json
  frameworks/keyed/rvjs/package.json
  frameworks/keyed/rvjs/src/App.jsx
Due: format-docs

feat(benchmark): add aurelia 2
  frameworks/non-keyed/aurelia2/babel.config.json
  frameworks/non-keyed/aurelia2/index.html
  frameworks/non-keyed/aurelia2/package-lock.json
  frameworks/non-keyed/aurelia2/package.json
  frameworks/non-keyed/aurelia2/src/main.js
  frameworks/non-keyed/aurelia2/src/my-app.html
  frameworks/non-keyed/aurelia2/src/my-app.js
  frameworks/non-keyed/aurelia2/src/store.js
  frameworks/non-keyed/aurelia2/vite.config.js
Due: format-docs

chore(dependencies): lock packages
  frameworks/non-keyed/aurelia2/package-lock.json
  frameworks/non-keyed/aurelia2/package.json
Due: format-docs

refact(aurelia): update legacy aurelia 1 app
  frameworks/non-keyed/aurelia/.babelrc
  frameworks/non-keyed/aurelia/.gitignore
  frameworks/non-keyed/aurelia/.npmrc
  frameworks/non-keyed/aurelia/aurelia_project/aurelia.json
  frameworks/non-keyed/aurelia/aurelia_project/environments/dev.js
  frameworks/non-keyed/aurelia/aurelia_project/environments/prod.js
  frameworks/non-keyed/aurelia/aurelia_project/environments/stage.js
  frameworks/non-keyed/aurelia/aurelia_project/generators/attribute.js
  frameworks/non-keyed/aurelia/aurelia_project/generators/attribute.json
  frameworks/non-keyed/aurelia/aurelia_project/generators/binding-behavior.js
  frameworks/non-keyed/aurelia/aurelia_project/generators/binding-behavior.json
  frameworks/non-keyed/aurelia/aurelia_project/generators/component.js
  frameworks/non-keyed/aurelia/aurelia_project/generators/element.js
  frameworks/non-keyed/aurelia/aurelia_project/generators/element.json
  frameworks/non-keyed/aurelia/aurelia_project/generators/generator.js
  frameworks/non-keyed/aurelia/aurelia_project/generators/generator.json
  frameworks/non-keyed/aurelia/aurelia_project/generators/task.js
  frameworks/non-keyed/aurelia/aurelia_project/generators/task.json
  frameworks/non-keyed/aurelia/aurelia_project/generators/value-converter.js
  frameworks/non-keyed/aurelia/aurelia_project/generators/value-converter.json
  frameworks/non-keyed/aurelia/aurelia_project/tasks/build.js
  frameworks/non-keyed/aurelia/aurelia_project/tasks/build.json
  frameworks/non-keyed/aurelia/aurelia_project/tasks/copy-files.js
  frameworks/non-keyed/aurelia/aurelia_project/tasks/lint.js
  frameworks/non-keyed/aurelia/aurelia_project/tasks/process-css.js
  frameworks/non-keyed/aurelia/aurelia_project/tasks/process-markup.js
  frameworks/non-keyed/aurelia/aurelia_project/tasks/run.js
  frameworks/non-keyed/aurelia/aurelia_project/tasks/run.json
  frameworks/non-keyed/aurelia/aurelia_project/tasks/transpile.js
  frameworks/non-keyed/aurelia/aurelia_project/tasks/watch.js
  frameworks/non-keyed/aurelia/babel.config.json
  frameworks/non-keyed/aurelia/config/environment.json
  frameworks/non-keyed/aurelia/config/environment.production.json
  frameworks/non-keyed/aurelia/index.ejs
  frameworks/non-keyed/aurelia/jsconfig.json
  frameworks/non-keyed/aurelia/package-lock.json
  frameworks/non-keyed/aurelia/package.json
  frameworks/non-keyed/aurelia/src/aurelia-polyfills.js
  frameworks/non-keyed/aurelia/src/main.js
  frameworks/non-keyed/aurelia/webpack.config.js
Due: format-docs

fix(vite): disable development mode for aurelia plugin
  frameworks/non-keyed/aurelia2/vite.config.js
Due: none

temporarily remove targetjs and skruv-liten
  broken-frameworks/non-keyed/skruv-liten/.gitignore
  broken-frameworks/non-keyed/skruv-liten/index-clean.html
  broken-frameworks/non-keyed/skruv-liten/package-lock.json
  broken-frameworks/non-keyed/skruv-liten/package.json
  broken-frameworks/non-keyed/skruv-liten/src/index.js
  frameworks/keyed/pota/package-lock.json
  frameworks/keyed/react-hooks-801/package-lock.json
  frameworks/keyed/targetjs/index.html
  frameworks/keyed/targetjs/package-lock.json
  frameworks/keyed/targetjs/package.json
  frameworks/keyed/targetjs/src/data.js
  frameworks/keyed/targetjs/src/main.js
  frameworks/keyed/targetjs/webpack.config.js
Due: format-docs

modify server to return start event
  server/src/frameworks/helpers/copyProps.ts
  server/src/frameworks/types/index.ts
Due: format-code

iterate over frameworks then over benchmark
  webdriver-ts/src/benchmarkRunner.ts
Due: format-code

allow other events than click to be the starting point for the duration measurement (e.g. pointerup)
  webdriver-ts/src/common.ts
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
  webdriver-ts/src/forkedBenchmarkRunnerWebdriverCDP.ts
  webdriver-ts/src/parseTrace.ts
  webdriver-ts/src/timeline.ts
Due: format-code
