Repository krausest/js-framework-benchmark: changes, and which lefthook commands are due for each by the changed paths.
All: format-code, format-docs

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    format-code:
      glob: "*.{js,ts,jsx,tsx}"
      exclude: "^(?:frameworks|broken-frameworks).*$"
      run: npx eslint --fix {staged_files} && npx prettier -w {staged_files} && git update-index --again

    format-docs:
      glob: "*.{json,yml,yaml,html}"
      run: npx prettier -w {staged_files} && git update-index --again

Simplify selectRow
  frameworks/non-keyed/bau/main.js
Due: none

Bump michijs
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
  frameworks/keyed/michijs/public/index.html
  frameworks/keyed/michijs/src/index.tsx
Due: format-docs

Removed legalComments
  frameworks/keyed/michijs/michi.config.ts
Due: none

Removed entrypoint
  frameworks/keyed/michijs/michi.config.ts
Due: none

Update to endr@0.1.3
  frameworks/keyed/endr/package-lock.json
  frameworks/keyed/endr/package.json
  frameworks/keyed/endr/src/index.js
Due: format-docs

update deps
  frameworks/keyed/ivi/package-lock.json
  frameworks/keyed/ivi/package.json
  frameworks/keyed/ivi/tsconfig.json
Due: format-docs

switch to @ivi/htm
  frameworks/keyed/ivi/package-lock.json
  frameworks/keyed/ivi/package.json
  frameworks/keyed/ivi/src/main.ts
Due: format-docs

Update package.json
  frameworks/keyed/pota/package.json
Due: format-docs

add 772 to bau
  frameworks/non-keyed/bau/package.json
Due: format-docs

Bump
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
  frameworks/keyed/michijs/src/index.tsx
Due: format-docs

Added implementation with tc39 signals
  frameworks/keyed/vanillajs-signals/michi.config.ts
  frameworks/keyed/vanillajs-signals/package-lock.json
  frameworks/keyed/vanillajs-signals/package.json
  frameworks/keyed/vanillajs-signals/public/index.html
  frameworks/keyed/vanillajs-signals/src/index.js
  frameworks/keyed/vanillajs-signals/tsconfig.json
Due: format-docs

results for chrome 131
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Small bundle change
  frameworks/keyed/michijs/michi.config.ts
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
Due: format-docs

update quel to 0.23.1
  frameworks/keyed/quel/index.html
  frameworks/keyed/quel/package.json
  frameworks/keyed/quel/src/boot.js
  frameworks/keyed/quel/src/myappMain.sfc.html
  frameworks/keyed/quel/src/quel.min.js
  frameworks/non-keyed/quel/index.html
  frameworks/non-keyed/quel/package.json
  frameworks/non-keyed/quel/src/boot.js
  frameworks/non-keyed/quel/src/myappMain.sfc.html
  frameworks/non-keyed/quel/src/quel.min.js
Due: format-docs

remove tmp files
  frameworks/keyed/blazor-wasm-aot/src/blazor-wasm.csproj.SdkResolver.-1194760860.proj.Backup.tmp
  frameworks/keyed/blazor-wasm-aot/src/blazor-wasm.csproj.SdkResolver.-786368994.proj.Backup.tmp
  frameworks/keyed/blazor-wasm-aot/src/blazor-wasm.csproj.SdkResolver.-931046143.proj.Backup.tmp
  frameworks/keyed/blazor-wasm-aot/src/blazor-wasm.csproj.SdkResolver.1795008614.proj.Backup.tmp
  frameworks/keyed/blazor-wasm-aot/src/blazor-wasm.csproj.SdkResolver.199191600.proj.Backup.tmp
  frameworks/keyed/blazor-wasm-aot/src/blazor-wasm.csproj.SdkResolver.2060727203.proj.Backup.tmp
  frameworks/keyed/blazor-wasm-aot/src/blazor-wasm.csproj.SdkResolver.548921199.proj.Backup.tmp
Due: none

rebuild
  frameworks/keyed/blazor-wasm/bundeled-dist/blazor-wasm.staticwebassets.endpoints.json
  frameworks/keyed/blazor-wasm/bundeled-dist/wwwroot/_framework/blazor-wasm.6cyo3wx90s.wasm
  frameworks/keyed/blazor-wasm/bundeled-dist/wwwroot/_framework/blazor-wasm.6cyo3wx90s.wasm.br
  frameworks/keyed/blazor-wasm/bundeled-dist/wwwroot/_framework/blazor-wasm.6cyo3wx90s.wasm.gz
  frameworks/keyed/blazor-wasm/bundeled-dist/wwwroot/_framework/blazor.boot.json
  frameworks/keyed/blazor-wasm/bundeled-dist/wwwroot/_framework/blazor.boot.json.br
  frameworks/keyed/blazor-wasm/bundeled-dist/wwwroot/_framework/blazor.boot.json.gz
Due: format-docs

Bump
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
Due: format-docs

Small change
  frameworks/keyed/michijs/michi.config.ts
Due: none

Bump
  frameworks/keyed/michijs/package.json
Due: format-docs

update to leptos 0.7
  frameworks/keyed/leptos/Cargo.toml
  frameworks/keyed/leptos/bundled-dist/js-framework-benchmark-leptos.js
  frameworks/keyed/leptos/bundled-dist/js-framework-benchmark-leptos_bg.wasm
  frameworks/keyed/leptos/package.json
  frameworks/keyed/leptos/src/lib.rs
Due: format-docs

add package-lock
  frameworks/keyed/leptos/package-lock.json
Due: format-docs

update angular
  frameworks/keyed/angular-cf-nozone/package-lock.json
  frameworks/keyed/angular-cf-nozone/package.json
  frameworks/keyed/angular-cf-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf-signals/package-lock.json
  frameworks/keyed/angular-cf-signals/package.json
  frameworks/keyed/angular-cf-signals/src/app/app.component.ts
  frameworks/keyed/angular-cf/package-lock.json
  frameworks/keyed/angular-cf/package.json
  frameworks/keyed/angular-cf/src/app/app.component.ts
  frameworks/keyed/angular-ngfor/package-lock.json
  frameworks/keyed/angular-ngfor/package.json
  frameworks/keyed/angular-ngfor/src/app/app.component.ts
Due: format-docs

add angular-cf-signals-no-zone
  frameworks/keyed/angular-cf-new-nozone/package-lock.json
  frameworks/keyed/angular-cf-new-nozone/package.json
  frameworks/keyed/angular-cf-new-nozone/src/app/app.component.html
  frameworks/keyed/angular-cf-new-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf-new-nozone/src/main.ts
Due: format-docs

rename angular implementation
  frameworks/keyed/angular-cf-signals-nozone/.browserslistrc
  frameworks/keyed/angular-cf-signals-nozone/.gitignore
  frameworks/keyed/angular-cf-signals-nozone/.npmrc
  frameworks/keyed/angular-cf-signals-nozone/README.md
  frameworks/keyed/angular-cf-signals-nozone/angular.json
  frameworks/keyed/angular-cf-signals-nozone/package-lock.json
  frameworks/keyed/angular-cf-signals-nozone/package.json
  frameworks/keyed/angular-cf-signals-nozone/src/app/app.component.html
  frameworks/keyed/angular-cf-signals-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf-signals-nozone/src/assets/.gitkeep
  frameworks/keyed/angular-cf-signals-nozone/src/index.html
  frameworks/keyed/angular-cf-signals-nozone/src/main.ts
  frameworks/keyed/angular-cf-signals-nozone/tsconfig.app.json
  frameworks/keyed/angular-cf-signals-nozone/tsconfig.json
Due: format-docs

add angular-cf-zoneless
  frameworks/keyed/angular-cf-new-nozone/.browserslistrc
  frameworks/keyed/angular-cf-new-nozone/.gitignore
  frameworks/keyed/angular-cf-new-nozone/.npmrc
  frameworks/keyed/angular-cf-new-nozone/README.md
  frameworks/keyed/angular-cf-new-nozone/angular.json
  frameworks/keyed/angular-cf-new-nozone/package-lock.json
  frameworks/keyed/angular-cf-new-nozone/package.json
  frameworks/keyed/angular-cf-new-nozone/src/app/app.component.html
  frameworks/keyed/angular-cf-new-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf-new-nozone/src/assets/.gitkeep
  frameworks/keyed/angular-cf-new-nozone/src/index.html
  frameworks/keyed/angular-cf-new-nozone/src/main.ts
  frameworks/keyed/angular-cf-new-nozone/tsconfig.app.json
  frameworks/keyed/angular-cf-new-nozone/tsconfig.json
Due: format-docs

update frameworks
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

retire recoil
  frameworks/keyed/react-recoil/index.html
  frameworks/keyed/react-recoil/package-lock.json
  frameworks/keyed/react-recoil/package.json
  frameworks/keyed/react-recoil/src/main.jsx
  frameworks/keyed/react-recoil/webpack.config.js
Due: format-docs

retire signalis
  frameworks/keyed/react-signalis/index.html
  frameworks/keyed/react-signalis/package-lock.json
  frameworks/keyed/react-signalis/package.json
  frameworks/keyed/react-signalis/src/main.jsx
  frameworks/keyed/react-signalis/vite.config.js
Due: format-docs

update react
  frameworks/keyed/react-compiler-hooks/package-lock.json
  frameworks/keyed/react-compiler-hooks/package.json
  frameworks/keyed/react-hooks-use-transition/package-lock.json
  frameworks/keyed/react-hooks-use-transition/package.json
  frameworks/keyed/react-hooks/package-lock.json
  frameworks/keyed/react-hooks/package.json
Due: format-docs

update frameworks
  broken-frameworks/keyed/better-react/package-lock.json
  broken-frameworks/keyed/better-react/package.json
  broken-frameworks/keyed/deleight/index.html
  broken-frameworks/keyed/deleight/package-lock.json
  broken-frameworks/keyed/deleight/package.json
  broken-frameworks/keyed/deleight/rollup.config.mjs
  broken-frameworks/keyed/deleight/src/Main.js
  frameworks/keyed/bobril/package-lock.json
  frameworks/keyed/bobril/package.json
  frameworks/keyed/crank/package-lock.json
  frameworks/keyed/crank/package.json
  frameworks/keyed/dark/package-lock.json
  frameworks/keyed/dark/package.json
  frameworks/keyed/karyon/app.bundle.js
  frameworks/keyed/mikado-proxy/src/template/app.js
  frameworks/keyed/mikado-proxy/src/template/item.js
  frameworks/keyed/mikado/src/template/app.js
  frameworks/keyed/mikado/src/template/item.js
  frameworks/keyed/react-classes/package-lock.json
  frameworks/keyed/react-classes/package.json
  frameworks/keyed/react-classes/src/main.jsx
  frameworks/keyed/react-redux-hooks-immutable/package-lock.json
  frameworks/keyed/react-redux-hooks-immutable/package.json
  frameworks/keyed/react-redux-hooks/package-lock.json
  frameworks/keyed/react-redux-hooks/package.json
  frameworks/keyed/react-redux/package-lock.json
  frameworks/keyed/react-redux/package.json
  frameworks/keyed/react-rxjs/package-lock.json
  frameworks/keyed/react-rxjs/package.json
  frameworks/keyed/react-tagged-state/package-lock.json
  frameworks/keyed/react-tagged-state/package.json
  frameworks/keyed/react-tracked/package-lock.json
  frameworks/keyed/react-tracked/package.json
  frameworks/keyed/react-zustand/package-lock.json
  frameworks/keyed/react-zustand/package.json
Due: format-docs

update frameworks
  README.md
Due: none

update frameworks
  frameworks/keyed/destam-dom/package-lock.json
  frameworks/keyed/destam-dom/package.json
Due: format-docs

ivi 4.0.0
  frameworks/keyed/ivi/package-lock.json
  frameworks/keyed/ivi/package.json
  frameworks/keyed/ivi/src/main.ts
Due: format-docs

Updated deleight to v5.5.8. It is not broken now. Cheers....
  frameworks/keyed/deleight/index.html
  frameworks/keyed/deleight/package-lock.json
  frameworks/keyed/deleight/package.json
  frameworks/keyed/deleight/rollup.config.mjs
  frameworks/keyed/deleight/src/Main.js
Due: format-docs
