Repository krausest/js-framework-benchmark: changes, and which lefthook commands are due for each by the changed paths.
All: format-code, format-docs

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    format-code:
      glob: "*.{js,ts,jsx,tsx}"
      exclude: "^(?:frameworks|broken-frameworks).*$"
      run: npx eslint --fix {staged_files} && npx prettier -w {staged_files} && git update-index --again

    format-docs:
      glob: "*.{json,yml,yaml,html}"
      run: npx prettier -w {staged_files} && git update-index --again

chrome 132 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

restore skruv-liten
  frameworks/non-keyed/skruv-liten/.gitignore
  frameworks/non-keyed/skruv-liten/index-clean.html
  frameworks/non-keyed/skruv-liten/package-lock.json
  frameworks/non-keyed/skruv-liten/package.json
  frameworks/non-keyed/skruv-liten/src/index.js
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

fix non-keyed/deleight version info
  frameworks/non-keyed/deleight/package.json
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

provided a new implementation which is more DOM based
  frameworks/keyed/targetjs/src/main.js
Due: none

update: update @rvjs/core version
  frameworks/keyed/rvjs/index.html
  frameworks/keyed/rvjs/package-lock.json
  frameworks/keyed/rvjs/package.json
  frameworks/keyed/rvjs/src/App.jsx
Due: format-docs

Removing Sling.js as no longer developed
  frameworks/non-keyed/slingjs/index.html
  frameworks/non-keyed/slingjs/package-lock.json
  frameworks/non-keyed/slingjs/package.json
  frameworks/non-keyed/slingjs/src/controller.js
  frameworks/non-keyed/slingjs/src/main.es6.js
  frameworks/non-keyed/slingjs/src/store.es6.js
  frameworks/non-keyed/slingjs/webpack.config.js
Due: format-docs

small fix + add package-lock
  frameworks/keyed/pota/package-lock.json
  frameworks/keyed/pota/src/main.jsx
Due: format-docs

move aurelia2 to keyed dir
  frameworks/keyed/aurelia2/babel.config.json
  frameworks/keyed/aurelia2/index.html
  frameworks/keyed/aurelia2/package-lock.json
  frameworks/keyed/aurelia2/package.json
  frameworks/keyed/aurelia2/src/main.js
  frameworks/keyed/aurelia2/src/my-app.html
  frameworks/keyed/aurelia2/src/my-app.js
  frameworks/keyed/aurelia2/src/store.js
  frameworks/keyed/aurelia2/vite.config.js
Due: format-docs

fix aurelia path
  frameworks/non-keyed/aurelia/package-lock.json
  frameworks/non-keyed/aurelia/webpack.config.js
Due: format-docs

update pota, rvjs, aurelia(2), karyon. retire sling.js
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

migrate ui5-webcomponents to 2.x version
  broken-frameworks/keyed/ui5-webcomponents/.gitignore
  broken-frameworks/keyed/ui5-webcomponents/.npsrc.json
  broken-frameworks/keyed/ui5-webcomponents/bundle.esm.js
  broken-frameworks/keyed/ui5-webcomponents/index.html
  broken-frameworks/keyed/ui5-webcomponents/package-lock.json
  broken-frameworks/keyed/ui5-webcomponents/package-scripts.cjs
  broken-frameworks/keyed/ui5-webcomponents/package.json
  broken-frameworks/keyed/ui5-webcomponents/src/MainElement.js
  broken-frameworks/keyed/ui5-webcomponents/vite.config.js
  broken-frameworks/non-keyed/ui5-webcomponents/.gitignore
  broken-frameworks/non-keyed/ui5-webcomponents/.npsrc.json
  broken-frameworks/non-keyed/ui5-webcomponents/bundle.esm.js
  broken-frameworks/non-keyed/ui5-webcomponents/index.html
  broken-frameworks/non-keyed/ui5-webcomponents/package-lock.json
  broken-frameworks/non-keyed/ui5-webcomponents/package-scripts.cjs
  broken-frameworks/non-keyed/ui5-webcomponents/package.json
  broken-frameworks/non-keyed/ui5-webcomponents/src/MainElement.js
  broken-frameworks/non-keyed/ui5-webcomponents/vite.config.js
Due: format-docs

added targetjs new implementation
  frameworks/keyed/targetjs/index.html
  frameworks/keyed/targetjs/package-lock.json
  frameworks/keyed/targetjs/package.json
  frameworks/keyed/targetjs/src/data.js
  frameworks/keyed/targetjs/src/main.js
  frameworks/keyed/targetjs/webpack.config.js
Due: format-docs

updated to the latest version
  frameworks/keyed/targetjs/package-lock.json
  frameworks/keyed/targetjs/package.json
  frameworks/keyed/targetjs/src/main.js
Due: format-docs

improved the update rows test
  frameworks/keyed/targetjs/src/main.js
Due: none

Add keyed/mettle
  frameworks/keyed/mettle/.gitignore
  frameworks/keyed/mettle/index.html
  frameworks/keyed/mettle/package-lock.json
  frameworks/keyed/mettle/package.json
  frameworks/keyed/mettle/src/data.js
  frameworks/keyed/mettle/src/main.jsx
  frameworks/keyed/mettle/webpack.config.js
Due: format-docs

update ui5-webcomponents
  broken-frameworks/non-keyed/ui5-webcomponents/src/generated/templates/MainElementTemplate.lit.ts
  frameworks/keyed/ui5-webcomponents/.gitignore
  frameworks/keyed/ui5-webcomponents/.npsrc.json
  frameworks/keyed/ui5-webcomponents/bundle.esm.js
  frameworks/keyed/ui5-webcomponents/config/rollup.config.js
  frameworks/keyed/ui5-webcomponents/index.html
  frameworks/keyed/ui5-webcomponents/package-lock.json
  frameworks/keyed/ui5-webcomponents/package-scripts.cjs
  frameworks/keyed/ui5-webcomponents/package.json
  frameworks/keyed/ui5-webcomponents/src/MainElement.hbs
  frameworks/keyed/ui5-webcomponents/src/MainElement.js
  frameworks/keyed/ui5-webcomponents/src/Store.js
  frameworks/keyed/ui5-webcomponents/vite.config.js
  frameworks/non-keyed/ui5-webcomponents/.gitignore
  frameworks/non-keyed/ui5-webcomponents/.npsrc.json
  frameworks/non-keyed/ui5-webcomponents/bundle.esm.js
  frameworks/non-keyed/ui5-webcomponents/config/rollup.config.js
  frameworks/non-keyed/ui5-webcomponents/index.html
  frameworks/non-keyed/ui5-webcomponents/package-lock.json
  frameworks/non-keyed/ui5-webcomponents/package-scripts.cjs
  frameworks/non-keyed/ui5-webcomponents/package.json
  frameworks/non-keyed/ui5-webcomponents/src/MainElement.hbs
  frameworks/non-keyed/ui5-webcomponents/src/MainElement.js
  frameworks/non-keyed/ui5-webcomponents/src/Store.js
  frameworks/non-keyed/ui5-webcomponents/vite.config.js
Due: format-docs

add ui5-webcomponent, mettle, targetjs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

add #772 to targetjs
  frameworks/keyed/targetjs/package.json
Due: format-docs

Update sprae
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/sprae.js
Due: format-docs

Remove react-starbeam
  frameworks/keyed/react-starbeam/.babelrc
  frameworks/keyed/react-starbeam/.npmrc
  frameworks/keyed/react-starbeam/index.html
  frameworks/keyed/react-starbeam/package-lock.json
  frameworks/keyed/react-starbeam/package.json
  frameworks/keyed/react-starbeam/src/data.js
  frameworks/keyed/react-starbeam/src/jumbotron.jsx
  frameworks/keyed/react-starbeam/src/main.jsx
  frameworks/keyed/react-starbeam/webpack.config.js
Due: format-docs

Add new framework: ember
  frameworks/keyed/ember/.editorconfig
  frameworks/keyed/ember/.gitignore
  frameworks/keyed/ember/.npmrc
  frameworks/keyed/ember/.prettierignore
  frameworks/keyed/ember/.prettierrc.cjs
  frameworks/keyed/ember/.template-lintrc.cjs
  frameworks/keyed/ember/README.md
  frameworks/keyed/ember/babel.config.cjs
  frameworks/keyed/ember/checks.sh
  frameworks/keyed/ember/config/ember-cli-update.json
  frameworks/keyed/ember/config/optional-features.json
  frameworks/keyed/ember/config/targets.cjs
  frameworks/keyed/ember/eslint.config.js
  frameworks/keyed/ember/index.html
  frameworks/keyed/ember/package-lock.json
  frameworks/keyed/ember/package.json
  frameworks/keyed/ember/src/app.js
  frameworks/keyed/ember/src/coming-soon/array.ts
  frameworks/keyed/ember/src/coming-soon/cell.js
  frameworks/keyed/ember/src/components/jumbotron.gjs
  frameworks/keyed/ember/src/components/the-table.gjs
  frameworks/keyed/ember/src/index.jsbf.html
  frameworks/keyed/ember/src/registry.js
  frameworks/keyed/ember/src/router.js
  frameworks/keyed/ember/src/services/state.js
  frameworks/keyed/ember/src/templates/application.gjs
  frameworks/keyed/ember/src/utils.js
  frameworks/keyed/ember/vite.config.js
Due: format-docs

Go full minimal (#1), resolve install warnings
  frameworks/keyed/ember/.prettierignore
  frameworks/keyed/ember/babel.config.cjs
  frameworks/keyed/ember/checks.sh
  frameworks/keyed/ember/eslint.config.js
  frameworks/keyed/ember/package-lock.json
  frameworks/keyed/ember/package.json
  frameworks/keyed/ember/src/coming-soon/array.js
  frameworks/keyed/ember/src/coming-soon/cell.js
  frameworks/keyed/ember/src/config.js
  frameworks/keyed/ember/src/index.dev.html
  frameworks/keyed/ember/src/router.js
  frameworks/keyed/ember/vite.config.js
  package.json
Due: format-docs

Fix createMany + delete
  frameworks/keyed/ember/src/services/state.js
  frameworks/keyed/ember/src/utils.js
Due: none

Don't emit empty class attributes on trs
  frameworks/keyed/ember/src/components/the-table.gjs
Due: none

added preact+kr-observable and update react+kr-observable
  frameworks/keyed/preact-kr-observable/index.html
  frameworks/keyed/preact-kr-observable/package.json
  frameworks/keyed/preact-kr-observable/rollup.config.mjs
  frameworks/keyed/preact-kr-observable/src/Main.jsx
  frameworks/keyed/preact-kr-observable/src/Row.jsx
  frameworks/keyed/preact-kr-observable/src/RowStore.js
  frameworks/keyed/preact-kr-observable/src/RowsStore.js
  frameworks/keyed/preact-kr-observable/src/data.js
Due: format-docs

chrome 133 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
  webdriver-ts/results.json
Due: format-code, format-docs

add package-lock
  frameworks/keyed/preact-kr-observable/package-lock.json
Due: format-docs

update ivi deps (with latest @ivi/ts-transformer)
  frameworks/keyed/ivi/package-lock.json
  frameworks/keyed/ivi/package.json
Due: format-docs

Update package.json
  package.json
Due: format-docs

feat: update viewfly
  frameworks/keyed/viewfly/package-lock.json
  frameworks/keyed/viewfly/package.json
Due: format-docs

remove ivi micro-optimizations
  frameworks/keyed/ivi/src/main.ts
Due: none

added preact+kr-observable and update react+kr-observable
  frameworks/keyed/preact-kr-observable/package.json
  frameworks/keyed/preact-kr-observable/rollup.config.mjs
  frameworks/keyed/preact-kr-observable/src/Main.jsx
  frameworks/keyed/react-kr-observable/package-lock.json
  frameworks/keyed/react-kr-observable/package.json
  frameworks/keyed/react-kr-observable/src/Main.jsx
  frameworks/keyed/react-kr-observable/src/Row.jsx
  frameworks/keyed/react-kr-observable/src/RowsStore.js
Due: format-docs

update kr-observable version
  frameworks/keyed/preact-kr-observable/src/Row.jsx
  frameworks/keyed/preact-kr-observable/src/RowsStore.js
Due: none

update kr-observable version
  frameworks/keyed/preact-kr-observable/package.json
  frameworks/keyed/react-kr-observable/package-lock.json
  frameworks/keyed/react-kr-observable/package.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

chrome 134 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

update kr-observable version
  frameworks/keyed/preact-kr-observable/package.json
  frameworks/keyed/react-kr-observable/package-lock.json
  frameworks/keyed/react-kr-observable/package.json
Due: format-docs

update kr-observable version
  frameworks/keyed/preact-kr-observable/src/RowsStore.js
Due: none
