Repository krausest/js-framework-benchmark: changes, and which lefthook commands are due for each by the changed paths.
All: format-code, format-docs

format-code:
  run: npx eslint --fix {staged_files} && npx prettier -w {staged_files} && git update-index --again

format-docs:
  run: npx prettier -w {staged_files} && git update-index --again

Add sprae-safe
  frameworks/non-keyed/sprae-safe/index.html
  frameworks/non-keyed/sprae-safe/package-lock.json
  frameworks/non-keyed/sprae-safe/package.json
  frameworks/non-keyed/sprae-safe/src/justin.js
  frameworks/non-keyed/sprae-safe/src/main.js
  frameworks/non-keyed/sprae-safe/src/preact-signals.js
  frameworks/non-keyed/sprae-safe/src/sprae.js
Due: format-docs

Make direct push over concat
  frameworks/non-keyed/sprae-safe/src/main.js
  frameworks/non-keyed/sprae/src/main.js
Due: none

Removed test implementation
  .gitignore
  frameworks/keyed/vanillajs-3/src/Main.js
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

updage solid and vanillajs-3
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Remove sprae-safe
  frameworks/non-keyed/sprae-safe/index.html
  frameworks/non-keyed/sprae-safe/package-lock.json
  frameworks/non-keyed/sprae-safe/package.json
  frameworks/non-keyed/sprae-safe/src/justin.js
  frameworks/non-keyed/sprae-safe/src/main.js
  frameworks/non-keyed/sprae-safe/src/preact-signals.js
  frameworks/non-keyed/sprae-safe/src/sprae.js
Due: format-docs

Bump version
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
Due: format-docs

Updated keyed implementation to use a closure
  frameworks/keyed/vanillajs-3/src/Main.js
  frameworks/keyed/vanillajs-3/src/Main_backup.js
Due: none

New changes to improve create row performance
  frameworks/keyed/vanillajs-3/index.html
  frameworks/keyed/vanillajs-3/index_backup.html
  frameworks/keyed/vanillajs-3/src/Main.js
Due: format-docs

Avoid bookmarks popup
  webdriver-ts/src/puppeteerAccess.ts
Due: format-code

comment chrome flags
  webdriver-ts/src/puppeteerAccess.ts
Due: format-code

KISS dof calculation and 5% significance
  webdriver-ts-results/src/Common.ts
Due: format-code

Trying to fix #1688 popup
  webdriver-ts/Preferences
  webdriver-ts/src/puppeteerAccess.ts
Due: format-code

cleanup
  .gitignore
  webdriver-ts/src/puppeteerAccess.ts
Due: format-code

remove unnecessary flag
  webdriver-ts/src/puppeteerAccess.ts
Due: format-code

cleaner solution to #1688
  webdriver-ts/Preferences
  webdriver-ts/src/puppeteerAccess.ts
Due: format-code

remove debug log
  webdriver-ts-results/src/Common.ts
Due: format-code

sprae.js is modified after building
  frameworks/non-keyed/sprae/src/sprae.js
Due: none

fix `--disable-features` switch
  webdriver-ts/src/puppeteerAccess.ts
Due: format-code

hostage of eslintunicorn/require-array-join-separator
  webdriver-ts/src/puppeteerAccess.ts
Due: format-code

update vanillajs-3 and sprae
  webdriver-ts-results/src/results.ts
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
  webdriver-ts/results.json
Due: format-code, format-docs

destam-dom: Send actual function pointers instead of an index into a list
  frameworks/keyed/destam-dom/src/main.jsx
Due: none

destam-dom: Inline App function
  frameworks/keyed/destam-dom/src/main.jsx
Due: none

destam-dom: Use selector
  frameworks/keyed/destam-dom/src/main.jsx
Due: none

destam-dom: Update to 0.7.2
  frameworks/keyed/destam-dom/package-lock.json
  frameworks/keyed/destam-dom/package.json
Due: format-docs

refactoring
  frameworks/keyed/vanillajs-lite/src/Main.js
Due: none

Update RE:DOM to v4.1.5
  frameworks/keyed/redom/package-lock.json
  frameworks/keyed/redom/package.json
  frameworks/non-keyed/redom/package-lock.json
  frameworks/non-keyed/redom/package.json
Due: format-docs

Update RE:DOM version and fix issues
  frameworks/keyed/redom/package-lock.json
  frameworks/keyed/redom/package.json
  frameworks/keyed/redom/rollup.config.dev.js
  frameworks/keyed/redom/rollup.config.js
  frameworks/non-keyed/redom/package-lock.json
  frameworks/non-keyed/redom/package.json
  frameworks/non-keyed/redom/rollup.config.dev.js
  frameworks/non-keyed/redom/rollup.config.js
Due: format-docs

Create index.html
  frameworks/keyed/sonnet/index.html
Due: format-docs

Create package.json
  frameworks/keyed/sonnet/package.json
Due: format-docs

Create package-lock.json
  frameworks/keyed/sonnet/package-lock.json
Due: format-docs

Create Main.js
  frameworks/keyed/sonnet/src/Main.js
Due: none

Create App.js
  frameworks/keyed/sonnet/src/App.js
Due: none

Create index.html
  frameworks/non-keyed/sonnetjs/index.html
Due: format-docs

Create package.json
  frameworks/non-keyed/sonnetjs/package.json
Due: format-docs

Create package-lock.json
  frameworks/non-keyed/sonnetjs/package-lock.json
Due: format-docs

Update package-lock.json
  frameworks/non-keyed/sonnetjs/package-lock.json
Due: format-docs

Update package-lock.json
  frameworks/keyed/sonnet/package-lock.json
Due: format-docs

Create Main.js
  frameworks/non-keyed/sonnetjs/src/Main.js
Due: none

Create App.js
  frameworks/non-keyed/sonnetjs/src/App.js
Due: none

update destam, redom, vanillajs-lite
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Path conditions:
  format-code: any of: *.{js,ts,jsx,tsx}, but not: ^(?:frameworks|broken-frameworks).*$
  format-docs: any of: *.{json,yml,yaml,html}
