Repository krausest/js-framework-benchmark: changes, and which lefthook commands are due for each by the changed paths.
All: format-code, format-docs

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    format-code:
      glob: "*.{js,ts,jsx,tsx}"
      exclude: "^(?:frameworks|broken-frameworks).*$"
      run: npx eslint --fix {staged_files} && npx prettier -w {staged_files} && git update-index --again

    format-docs:
      glob: "*.{json,yml,yaml,html}"
      run: npx prettier -w {staged_files} && git update-index --again

Added keyed/aberdeen framework
  frameworks/keyed/aberdeen/build-dummy-data.js
  frameworks/keyed/aberdeen/idiomatic.js
  frameworks/keyed/aberdeen/index.html
  frameworks/keyed/aberdeen/main.js
  frameworks/keyed/aberdeen/package-lock.json
  frameworks/keyed/aberdeen/package.json
Due: format-docs

Moved Aberdeen to non-keyed
  frameworks/non-keyed/aberdeen/build-dummy-data.js
  frameworks/non-keyed/aberdeen/idiomatic.js
  frameworks/non-keyed/aberdeen/index.html
  frameworks/non-keyed/aberdeen/main.js
  frameworks/non-keyed/aberdeen/package-lock.json
  frameworks/non-keyed/aberdeen/package.json
Due: format-docs

update pota, endr, doohtml-lite and add aberdeen
  frameworks/keyed/pota/package-lock.json
  webdriver-ts-results/src/results.ts
  webdriver-ts-results/tsconfig.json
  webdriver-ts/results.json
Due: format-code, format-docs

updated results
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Performance improvement
  frameworks/keyed/preact-kr-observable/package-lock.json
  frameworks/keyed/preact-kr-observable/package.json
  frameworks/keyed/preact-kr-observable/rollup.config.mjs
  frameworks/keyed/preact-kr-observable/src/Main.jsx
  frameworks/keyed/preact-kr-observable/src/Row.jsx
  frameworks/keyed/react-kr-observable/package-lock.json
  frameworks/keyed/react-kr-observable/package.json
  frameworks/keyed/react-kr-observable/src/Main.jsx
  frameworks/keyed/react-kr-observable/src/Row.jsx
  frameworks/keyed/react-kr-observable/src/data.js
  webdriver-ts-results/src/results.ts
Due: format-code, format-docs

Performance improvement
  frameworks/keyed/preact-kr-observable/src/Main.jsx
  frameworks/keyed/preact-kr-observable/src/Row.jsx
  frameworks/keyed/preact-kr-observable/src/RowsStore.js
Due: none

Performance improvement
  frameworks/keyed/preact-kr-observable/rollup.config.mjs
Due: none

Update keyed/mettle
  frameworks/keyed/mettle/package-lock.json
  frameworks/keyed/mettle/package.json
  frameworks/keyed/mettle/src/main.jsx
Due: format-docs

Add slim implementation
  frameworks/keyed/slim/assets/index-BlDxn4S6.js
  frameworks/keyed/slim/index.html
  frameworks/keyed/slim/package-lock.json
  frameworks/keyed/slim/package.json
  frameworks/keyed/slim/src/App.slim
  frameworks/keyed/slim/src/Row.slim
  frameworks/keyed/slim/src/main.js
  frameworks/keyed/slim/src/state.slim.js
  frameworks/keyed/slim/vite.config.js
Due: format-docs

Revert "Remove rendrjs and rendrjs-atoms"
  frameworks/keyed/rendrjs-atoms/.gitignore
  frameworks/keyed/rendrjs-atoms/README.md
  frameworks/keyed/rendrjs-atoms/index.html
  frameworks/keyed/rendrjs-atoms/package-lock.json
  frameworks/keyed/rendrjs-atoms/package.json
  frameworks/keyed/rendrjs-atoms/src/App.js
  frameworks/keyed/rendrjs-atoms/src/Jumbotron.js
  frameworks/keyed/rendrjs-atoms/src/RemoveIcon.js
  frameworks/keyed/rendrjs-atoms/src/Row.js
  frameworks/keyed/rendrjs-atoms/src/Table.js
  frameworks/keyed/rendrjs-atoms/src/main.js
  frameworks/keyed/rendrjs-atoms/src/store.js
  frameworks/keyed/rendrjs-atoms/webpack.config.js
  frameworks/keyed/rendrjs/.gitignore
  frameworks/keyed/rendrjs/README.md
  frameworks/keyed/rendrjs/index.html
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/main.js
  frameworks/keyed/rendrjs/webpack.config.js
Due: format-docs

Remove build
  frameworks/keyed/slim/assets/index-BlDxn4S6.js
Due: none

Fix indentations
  frameworks/keyed/slim/src/App.slim
  frameworks/keyed/slim/src/Row.slim
Due: none

Update deps
  frameworks/keyed/slim/package-lock.json
  frameworks/keyed/slim/package.json
Due: format-docs

Add thyn framework
  frameworks/keyed/thyn/index.html
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
  frameworks/keyed/thyn/src/App.thyn
  frameworks/keyed/thyn/src/Row.thyn
  frameworks/keyed/thyn/src/main.js
  frameworks/keyed/thyn/src/state.thyn.js
  frameworks/keyed/thyn/vite.config.js
Due: format-docs

update dependencies to @hellajs/core and @hellajs/dom version 0.10.0; refactor imports
  frameworks/keyed/hellajs/package-lock.json
  frameworks/keyed/hellajs/package.json
  frameworks/keyed/hellajs/src/main.js
  frameworks/keyed/solid/index.html
Due: format-docs

Update thyn version
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
Due: format-docs

Update thyn version
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
  frameworks/keyed/thyn/src/App.thyn
  frameworks/keyed/thyn/src/Row.thyn
  frameworks/keyed/thyn/src/state.thyn.js
Due: format-docs

Update thyn version
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
  frameworks/keyed/thyn/src/state.thyn.js
Due: format-docs

Update to @thyn/core v0.0.33
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
Due: format-docs

Update to @thyn/core v0.0.36
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
Due: format-docs

Bump michijs and signals
  frameworks/keyed/michijs/.gitignore
  frameworks/keyed/michijs/michi.config.ts
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
  frameworks/keyed/michijs/src/index.tsx
  frameworks/keyed/michijs/tsconfig.json
  frameworks/keyed/vanillajs-signals/package-lock.json
  frameworks/keyed/vanillajs-signals/package.json
Due: format-docs

Bump
  frameworks/keyed/michijs/package-lock.json
Due: format-docs

Small change
  frameworks/keyed/michijs/src/index.tsx
Due: none

Small change
  frameworks/keyed/michijs/package.json
Due: format-docs

Bump
  frameworks/keyed/michijs/package-lock.json
  frameworks/keyed/michijs/package.json
Due: format-docs

Use clearer template syntax
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
  frameworks/keyed/thyn/src/App.thyn
  frameworks/keyed/thyn/src/Row.thyn
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Use new thyn template syntax
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
  frameworks/keyed/thyn/src/App.thyn
  frameworks/keyed/thyn/src/Row.thyn
Due: format-docs

Update to v0.0.46
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
  frameworks/keyed/thyn/src/App.thyn
Due: format-docs

Update thyn version
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
  frameworks/keyed/thyn/src/App.thyn
Due: format-docs

results for chrome 138
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

add no-op build script
  frameworks/keyed/michijs/package.json
  frameworks/keyed/vanillajs-signals/package.json
Due: format-docs

update kr-observable, mettle, hellajs, michijs, vanillajs-signals, add thyn
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Remove unmaintained RendrJS implementations
  frameworks/keyed/rendrjs-atoms/.gitignore
  frameworks/keyed/rendrjs-atoms/README.md
  frameworks/keyed/rendrjs-atoms/index.html
  frameworks/keyed/rendrjs-atoms/package-lock.json
  frameworks/keyed/rendrjs-atoms/package.json
  frameworks/keyed/rendrjs-atoms/src/App.js
  frameworks/keyed/rendrjs-atoms/src/Jumbotron.js
  frameworks/keyed/rendrjs-atoms/src/RemoveIcon.js
  frameworks/keyed/rendrjs-atoms/src/Row.js
  frameworks/keyed/rendrjs-atoms/src/Table.js
  frameworks/keyed/rendrjs-atoms/src/main.js
  frameworks/keyed/rendrjs-atoms/src/store.js
  frameworks/keyed/rendrjs-atoms/webpack.config.js
  frameworks/keyed/rendrjs/.gitignore
  frameworks/keyed/rendrjs/README.md
  frameworks/keyed/rendrjs/index.html
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/main.js
  frameworks/keyed/rendrjs/webpack.config.js
Due: format-docs

Remove unmaintained GoUI implementation
  frameworks/keyed/goui/README.md
  frameworks/keyed/goui/build/index.html
  frameworks/keyed/goui/build/main.wasm
  frameworks/keyed/goui/go.mod
  frameworks/keyed/goui/go.sum
  frameworks/keyed/goui/goui.yml
  frameworks/keyed/goui/package-lock.json
  frameworks/keyed/goui/package.json
  frameworks/keyed/goui/public/index.html
  frameworks/keyed/goui/src/app/app.go
  frameworks/keyed/goui/src/app/jumbotron.go
  frameworks/keyed/goui/src/app/row.go
  frameworks/keyed/goui/src/data/data.go
  frameworks/keyed/goui/src/main.go
Due: format-docs

Allow "unflagged" selection when clicking "Which frameworks?"
  webdriver-ts-results/src/components/SelectionToolbar/FrameworkSelector/FrameworkSelectorCategory.tsx
  webdriver-ts-results/src/components/SelectionToolbar/SelectorContentContainer/SelectionContentContainer.tsx
  webdriver-ts-results/src/store.ts
Due: format-code

Use class signals
  frameworks/keyed/thyn/package-lock.json
  frameworks/keyed/thyn/package.json
  frameworks/keyed/thyn/src/App.thyn
  frameworks/keyed/thyn/src/Row.thyn
Due: format-docs
