Repository krausest/js-framework-benchmark: changes, and which lefthook commands are due for each by the changed paths.
All: format-code, format-docs

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    format-code:
      glob: "*.{js,ts,jsx,tsx}"
      exclude: "^(?:frameworks|broken-frameworks).*$"
      run: npx eslint --fix {staged_files} && npx prettier -w {staged_files} && git update-index --again

    format-docs:
      glob: "*.{json,yml,yaml,html}"
      run: npx prettier -w {staged_files} && git update-index --again

update angular-nohzone, plaited, add hellajs, deku
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Endr 0.1.22
  frameworks/keyed/endr/eslint.config.js
  frameworks/keyed/endr/package-lock.json
  frameworks/keyed/endr/package.json
  frameworks/keyed/endr/src/index.js
Due: format-docs

Endr 0.1.23
  frameworks/keyed/endr/package-lock.json
  frameworks/keyed/endr/package.json
Due: format-docs

Endr 0.1.27
  frameworks/keyed/endr/eslint.config.js
  frameworks/keyed/endr/package-lock.json
  frameworks/keyed/endr/package.json
  frameworks/keyed/endr/src/index.js
Due: format-docs

fix zip for deku, bump dependencies
  cli/zip.js
  server/package-lock.json
  server/package.json
Due: format-code, format-docs

perf: improve buildData by preallocating array
  frameworks/keyed/angular-cf-new-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf-nozone/src/app/app.component.ts
  frameworks/keyed/angular-cf/src/app/app.component.ts
  frameworks/keyed/angular-ngfor/src/app/app.component.ts
Due: none

Performance improvement
  frameworks/keyed/preact-kr-observable/package-lock.json
  frameworks/keyed/preact-kr-observable/package.json
  frameworks/keyed/preact-kr-observable/rollup.config.mjs
  frameworks/keyed/preact-kr-observable/src/RowsStore.js
  frameworks/keyed/preact-kr-observable/src/data.js
  frameworks/keyed/react-kr-observable/package-lock.json
  frameworks/keyed/react-kr-observable/package.json
  frameworks/keyed/react-kr-observable/rollup.config.mjs
  frameworks/keyed/react-kr-observable/src/Row.jsx
  frameworks/keyed/react-kr-observable/src/RowsStore.js
  frameworks/keyed/react-kr-observable/src/data.js
Due: format-docs

fix: upgrades to 7.2.0 to fix performance regressions
  frameworks/keyed/plaited/package-lock.json
  frameworks/keyed/plaited/package.json
  frameworks/keyed/plaited/src/main.tsx
  frameworks/keyed/plaited/tsconfig.json
Due: format-docs

v0.98.2-april-31-2025 - several minor improvements
  frameworks/keyed/doohtml-lite/index.html
  frameworks/keyed/doohtml-lite/lib/doohtml.mjs
  frameworks/keyed/doohtml-lite/package-lock.json
  frameworks/keyed/doohtml-lite/package.json
  frameworks/keyed/doohtml-lite/src/main.js
Due: format-docs

chrome 136 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
  webdriver-ts/results.json
Due: format-code, format-docs

update endr, plaited, doohtml-lite, kr-observable
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

changed hella to keyed, upgrade to 0.6
  frameworks/keyed/hellajs/index.html
  frameworks/keyed/hellajs/package-lock.json
  frameworks/keyed/hellajs/package.json
  frameworks/keyed/hellajs/src/main.js
  frameworks/non-keyed/hellajs/package-lock.json
  frameworks/non-keyed/hellajs/src/main.js
Due: format-docs

Add Butterfloat dev basics
  frameworks/keyed/butterfloat/.prettierrc.json
  frameworks/keyed/butterfloat/package-lock.json
  frameworks/keyed/butterfloat/package.json
  frameworks/keyed/butterfloat/tsconfig.json
Due: format-docs

Add core HTML template for Butterfloat and main build process
  frameworks/keyed/butterfloat/.gitignore
  frameworks/keyed/butterfloat/_build.js
  frameworks/keyed/butterfloat/app.tsx
  frameworks/keyed/butterfloat/main.ts
  frameworks/keyed/butterfloat/package-lock.json
  frameworks/keyed/butterfloat/package.json
Due: format-docs

Update title
  frameworks/keyed/butterfloat/_build.js
Due: none

Start describing the view models
  frameworks/keyed/butterfloat/app-vm.ts
  frameworks/keyed/butterfloat/data.ts
  frameworks/keyed/butterfloat/row-vm.ts
Due: none

Add framework metadata
  frameworks/keyed/butterfloat/package.json
Due: format-docs

Rough first pass at the benchmark
  frameworks/keyed/butterfloat/_build.js
  frameworks/keyed/butterfloat/app-vm.ts
  frameworks/keyed/butterfloat/app.tsx
  frameworks/keyed/butterfloat/main.ts
  frameworks/keyed/butterfloat/row.tsx
Due: none

bump keyed/hellajs to 0.6.2
  frameworks/keyed/hellajs/package-lock.json
  frameworks/keyed/hellajs/package.json
Due: format-docs

Fix the basics of the benchmark
  frameworks/keyed/butterfloat/app-vm.ts
  frameworks/keyed/butterfloat/main.ts
  frameworks/keyed/butterfloat/row-vm.ts
  frameworks/keyed/butterfloat/row.tsx
Due: none

bump keyed/hellajs to 0.6.3
  frameworks/keyed/hellajs/package-lock.json
  frameworks/keyed/hellajs/package.json
Due: format-docs

Implement the remainder of the benchmark
  frameworks/keyed/butterfloat/app-vm.ts
  frameworks/keyed/butterfloat/app.tsx
  frameworks/keyed/butterfloat/row-vm.ts
  frameworks/keyed/butterfloat/row.tsx
Due: none

keyed/aberdeen: use npm package
  frameworks/keyed/aberdeen/idiomatic.js
  frameworks/keyed/aberdeen/index.html
  frameworks/keyed/aberdeen/main.js
  frameworks/keyed/aberdeen/package-lock.json
  frameworks/keyed/aberdeen/package.json
Due: format-docs

Update to butterfloat 1.6.3
  frameworks/keyed/butterfloat/main.ts
  frameworks/keyed/butterfloat/package-lock.json
  frameworks/keyed/butterfloat/package.json
Due: format-docs

doohtml-lite-v0.98.2-may-16-2025
  frameworks/keyed/doohtml-lite/src/main.js
Due: none

fix html structure
  frameworks/keyed/hellajs/src/main.js
Due: none

fix row number output and appending
  frameworks/keyed/butterfloat/row-vm.ts
  frameworks/keyed/butterfloat/row.tsx
Due: none

temporarily add js files in butterfly
  frameworks/keyed/butterfloat/.gitignore
  frameworks/keyed/butterfloat/app-vm.js
  frameworks/keyed/butterfloat/app.js
  frameworks/keyed/butterfloat/data.js
  frameworks/keyed/butterfloat/main.js
  frameworks/keyed/butterfloat/row-vm.js
  frameworks/keyed/butterfloat/row.js
Due: none

temporarily add files in butterfly
  frameworks/keyed/butterfloat/.gitignore
  frameworks/keyed/butterfloat/index.html
Due: format-docs

chrome 137; move butterfloat temporarily to broken-frameworks
  broken-frameworks/keyed/butterfloat/.gitignore
  broken-frameworks/keyed/butterfloat/.prettierrc.json
  broken-frameworks/keyed/butterfloat/_build.js
  broken-frameworks/keyed/butterfloat/app-vm.js
  broken-frameworks/keyed/butterfloat/app-vm.ts
  broken-frameworks/keyed/butterfloat/app.js
  broken-frameworks/keyed/butterfloat/app.tsx
  broken-frameworks/keyed/butterfloat/data.js
  broken-frameworks/keyed/butterfloat/data.ts
  broken-frameworks/keyed/butterfloat/index.html
  broken-frameworks/keyed/butterfloat/main.js
  broken-frameworks/keyed/butterfloat/main.ts
  broken-frameworks/keyed/butterfloat/package-lock.json
  broken-frameworks/keyed/butterfloat/package.json
  broken-frameworks/keyed/butterfloat/row-vm.js
  broken-frameworks/keyed/butterfloat/row-vm.ts
  broken-frameworks/keyed/butterfloat/row.js
  broken-frameworks/keyed/butterfloat/row.tsx
  broken-frameworks/keyed/butterfloat/tsconfig.json
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts-results/src/store.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Remove rendrjs and rendrjs-atoms
  frameworks/keyed/rendrjs-atoms/.gitignore
  frameworks/keyed/rendrjs-atoms/README.md
  frameworks/keyed/rendrjs-atoms/index.html
  frameworks/keyed/rendrjs-atoms/package-lock.json
  frameworks/keyed/rendrjs-atoms/package.json
  frameworks/keyed/rendrjs-atoms/src/App.js
  frameworks/keyed/rendrjs-atoms/src/Jumbotron.js
  frameworks/keyed/rendrjs-atoms/src/RemoveIcon.js
  frameworks/keyed/rendrjs-atoms/src/Row.js
  frameworks/keyed/rendrjs-atoms/src/Table.js
  frameworks/keyed/rendrjs-atoms/src/main.js
  frameworks/keyed/rendrjs-atoms/src/store.js
  frameworks/keyed/rendrjs-atoms/webpack.config.js
  frameworks/keyed/rendrjs/.gitignore
  frameworks/keyed/rendrjs/README.md
  frameworks/keyed/rendrjs/index.html
  frameworks/keyed/rendrjs/package-lock.json
  frameworks/keyed/rendrjs/package.json
  frameworks/keyed/rendrjs/src/main.js
  frameworks/keyed/rendrjs/webpack.config.js
Due: format-docs

Add React Native Onyx benchmark
  frameworks/keyed/react-native-onyx/index.html
  frameworks/keyed/react-native-onyx/package-lock.json
  frameworks/keyed/react-native-onyx/package.json
  frameworks/keyed/react-native-onyx/patches/react-native-onyx+2.0.108.patch
  frameworks/keyed/react-native-onyx/src/main.jsx
  frameworks/keyed/react-native-onyx/webpack.config.js
Due: format-docs

update angular
  frameworks/keyed/angular-cf-new-nozone/angular.json
  frameworks/keyed/angular-cf-new-nozone/package-lock.json
  frameworks/keyed/angular-cf-new-nozone/package.json
  frameworks/keyed/angular-cf-new-nozone/src/main.ts
  frameworks/keyed/angular-cf-new-nozone/tsconfig.json
  frameworks/keyed/angular-cf-nozone/angular.json
  frameworks/keyed/angular-cf-nozone/package-lock.json
  frameworks/keyed/angular-cf-nozone/package.json
  frameworks/keyed/angular-cf-nozone/tsconfig.json
  frameworks/keyed/angular-cf-signals-nozone/angular.json
  frameworks/keyed/angular-cf-signals-nozone/package-lock.json
  frameworks/keyed/angular-cf-signals-nozone/package.json
  frameworks/keyed/angular-cf-signals-nozone/src/main.ts
  frameworks/keyed/angular-cf-signals-nozone/tsconfig.json
  frameworks/keyed/angular-cf-signals/angular.json
  frameworks/keyed/angular-cf-signals/package-lock.json
  frameworks/keyed/angular-cf-signals/package.json
  frameworks/keyed/angular-cf-signals/tsconfig.json
  frameworks/keyed/angular-cf/angular.json
  frameworks/keyed/angular-cf/package-lock.json
  frameworks/keyed/angular-cf/package.json
  frameworks/keyed/angular-cf/tsconfig.json
  frameworks/keyed/angular-ngfor/angular.json
  frameworks/keyed/angular-ngfor/package-lock.json
  frameworks/keyed/angular-ngfor/package.json
  frameworks/keyed/angular-ngfor/tsconfig.json
Due: format-docs

update angular
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

changed partial update
  frameworks/keyed/doohtml-lite/src/main.js
Due: none

Update README.md
  README.md
Due: none

Update rno implementation
  frameworks/keyed/react-native-onyx/src/main.jsx
Due: none

endr@0.1.28
  frameworks/keyed/endr/package-lock.json
  frameworks/keyed/endr/package.json
Due: format-docs

update pota
  frameworks/keyed/pota/package.json
  frameworks/keyed/pota/src/main.jsx
Due: format-docs
