Repository krausest/js-framework-benchmark: changes, and which lefthook commands are due for each by the changed paths.
All: format-code, format-docs

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    format-code:
      glob: "*.{js,ts,jsx,tsx}"
      exclude: "^(?:frameworks|broken-frameworks).*$"
      run: npx eslint --fix {staged_files} && npx prettier -w {staged_files} && git update-index --again

    format-docs:
      glob: "*.{json,yml,yaml,html}"
      run: npx prettier -w {staged_files} && git update-index --again

Updated reflex-dom version
  frameworks/keyed/reflex-dom/esbuild.config.js
  frameworks/keyed/reflex-dom/package.json
  frameworks/keyed/reflex-dom/src/main.tsx
Due: format-docs

Patched import
  frameworks/keyed/reflex-dom/src/main.tsx
Due: none

update cample to 3.2.0-alpha.25
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: format-docs

chore: simplify rebuild scripts
  package.json
Due: format-docs

update cydon, qwik, cample
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

1.2.0
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: format-docs

improve solid
  frameworks/keyed/solid-store/package-lock.json
  frameworks/keyed/solid-store/package.json
  frameworks/keyed/solid-store/rollup.config.js
  frameworks/keyed/solid-store/src/main.jsx
  frameworks/keyed/solid/package-lock.json
  frameworks/keyed/solid/package.json
Due: format-docs

small fix
  frameworks/keyed/solid-store/package-lock.json
  frameworks/keyed/solid-store/package.json
  frameworks/keyed/solid/package-lock.json
  frameworks/keyed/solid/package.json
Due: format-docs

Update Bobril 20.6.4 without dynamically creating css
  frameworks/keyed/bobril/index.html
  frameworks/keyed/bobril/package-lock.json
  frameworks/keyed/bobril/package.json
  frameworks/keyed/bobril/src/app.ts
Due: format-docs

update cample to 3.2.0-alpha.26
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: format-docs

update cample to 3.2.0-alpha.28
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: format-docs

1.2.1
  frameworks/keyed/frei-hooks/package-lock.json
  frameworks/keyed/frei-hooks/package.json
  frameworks/non-keyed/frei-hooks/package-lock.json
  frameworks/non-keyed/frei-hooks/package.json
Due: format-docs

update cample to 3.2.0-alpha.29
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
Due: format-docs

Renamed + patched swap + new version
  frameworks/keyed/reflex-js/esbuild.config.js
  frameworks/keyed/reflex-js/index.html
  frameworks/keyed/reflex-js/package-lock.json
  frameworks/keyed/reflex-js/package.json
  frameworks/keyed/reflex-js/src/main.tsx
  frameworks/keyed/reflex-js/tsconfig.json
Due: format-docs

Update Svelte
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/keyed/svelte/src/Main.svelte
Due: format-docs

Update other package
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
Due: format-docs

Newer version
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
Due: format-docs

chrome 123 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

update frameworks
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

update cample to 3.2.0-alpha.31
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: format-docs

fix
  frameworks/keyed/cample/src/main.js
Due: none

update cample to 3.2.0-alpha.33
  frameworks/keyed/cample/package-lock.json
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: format-docs

Bump angular
  frameworks/keyed/angular-cf-nozone/package-lock.json
  frameworks/keyed/angular-cf-nozone/package.json
  frameworks/keyed/angular-cf-signals/package-lock.json
  frameworks/keyed/angular-cf-signals/package.json
  frameworks/keyed/angular-cf/package-lock.json
  frameworks/keyed/angular-cf/package.json
  frameworks/keyed/angular-ngfor/package-lock.json
  frameworks/keyed/angular-ngfor/package.json
Due: format-docs

Update to use application builder
  frameworks/keyed/angular-cf-nozone/angular.json
  frameworks/keyed/angular-cf-nozone/package.json
  frameworks/keyed/angular-cf-nozone/tsconfig.json
  frameworks/keyed/angular-cf-signals/angular.json
  frameworks/keyed/angular-cf-signals/package.json
  frameworks/keyed/angular-cf-signals/tsconfig.json
  frameworks/keyed/angular-cf/angular.json
  frameworks/keyed/angular-cf/package.json
  frameworks/keyed/angular-cf/tsconfig.json
  frameworks/keyed/angular-ngfor/angular.json
  frameworks/keyed/angular-ngfor/package.json
  frameworks/keyed/angular-ngfor/tsconfig.json
Due: format-docs

update package, launch and rsx
  frameworks/keyed/dioxus/Cargo.toml
  frameworks/keyed/dioxus/src/main.rs
Due: none

remove context
  frameworks/keyed/dioxus/src/main.rs
Due: none

working
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark.js
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
  frameworks/keyed/dioxus/bundled-dist/index.html
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-4774033abde10986/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-4774033abde10986/src/js/common.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-603636eeca72cf05/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-603636eeca72cf05/src/common.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-7853214f69bd9fe6/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-7853214f69bd9fe6/src/common.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-51ae765eeff3e7fa/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-51ae765eeff3e7fa/inline1.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-51ae765eeff3e7fa/src/eval.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-54817add8ba334eb/inline0.js
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-web-dad4d7491730f4fe/inline0.js
  frameworks/keyed/dioxus/src/main.rs
Due: format-docs

rebuild
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark.js
  frameworks/keyed/dioxus/bundled-dist/index.html
Due: format-docs

update package version
  frameworks/keyed/dioxus/package.json
Due: format-docs

format
  frameworks/keyed/dioxus/src/main.rs
Due: none

use same language as other tests data/row/label/id
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark.js
  frameworks/keyed/dioxus/bundled-dist/dioxus_benchmark_bg.wasm
  frameworks/keyed/dioxus/bundled-dist/index.html
  frameworks/keyed/dioxus/bundled-dist/snippets/dioxus-interpreter-js-4774033abde10986/inline0.js
  frameworks/keyed/dioxus/src/main.rs
Due: format-docs

bump version
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte-classic/package.json
  frameworks/keyed/svelte-classic/rollup.config.js
  frameworks/keyed/svelte/package-lock.json
  frameworks/keyed/svelte/package.json
  frameworks/keyed/svelte/rollup.config.js
  frameworks/non-keyed/svelte-classic/package-lock.json
  frameworks/non-keyed/svelte-classic/package.json
  frameworks/non-keyed/svelte-classic/rollup.config.js
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

format
  frameworks/keyed/svelte/rollup.config.js
Due: none

add shortcut
  cli.js
Due: format-code

update package locks (rebuild-ci hat a mistake, so they were updated)
  frameworks/keyed/svelte-classic/package-lock.json
  frameworks/keyed/svelte/package-lock.json
  frameworks/non-keyed/svelte-classic/package-lock.json
Due: format-docs

fix the error from #1619
  cli/rebuild-single-framework.js
  package.json
  webdriver-ts/src/isCSPCompliant.ts
Due: format-code, format-docs

Update cample's main.js
  frameworks/keyed/cample/src/main.js
Due: none

update svelte, angular, cample, dioxous
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

update cample to 3.2.0-alpha.34
  frameworks/keyed/cample/package.json
  frameworks/keyed/cample/src/main.js
Due: format-docs
