Repository krausest/js-framework-benchmark: changes, and which lefthook commands are due for each by the changed paths.
All: format-code, format-docs

format-code:
  run: npx eslint --fix {staged_files} && npx prettier -w {staged_files} && git update-index --again

format-docs:
  run: npx prettier -w {staged_files} && git update-index --again

I had some final ideas left to try
  frameworks/keyed/vanillajs-3/src/Main.js
Due: none

The changes I described earlier
  frameworks/keyed/vanillajs-3/src/Main.js
Due: none

add Chrome for Testing to gitignore
  .gitignore
Due: none

chrome 124
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTableChart.tsx
  webdriver-ts-results/src/components/BoxPlotTable/BoxPlotTableRow.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

add package-lock
  frameworks/keyed/pota/package-lock.json
Due: format-docs

merge PRs
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

use last-resort gc, fixes #1667
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
Due: format-code

Render empty results at the end of the table for easier local benchmarking. Fixes #1577
  webdriver-ts-results/src/Common.ts
Due: format-code

remove client param from forceGC
  webdriver-ts/src/forkedBenchmarkRunnerPlaywright.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
Due: format-code

Non-keyed implementation
  frameworks/non-keyed/vanillajs-3/index.html
  frameworks/non-keyed/vanillajs-3/package-lock.json
  frameworks/non-keyed/vanillajs-3/package.json
  frameworks/non-keyed/vanillajs-3/src/Main.js
Due: format-docs

Further tweaks to keyed implementation
  frameworks/keyed/vanillajs-3/src/Main.js
Due: none

Improve performance for adding 10K rows in keyed implementation
  frameworks/keyed/vanillajs-3/src/Main.js
Due: none

Improve 10K performance
  frameworks/keyed/vanillajs-3/src/Main.js
Due: none

Changed module scripts to regular scripts
  frameworks/keyed/vanillajs-3/index.html
  frameworks/keyed/vanillajs-3/src/Main.js
  frameworks/non-keyed/vanillajs-3/index.html
  frameworks/non-keyed/vanillajs-3/src/Main.js
Due: format-docs

`vanillajs-lite` update
  frameworks/keyed/vanillajs-lite/src/Main.js
Due: none

missing ';'
  frameworks/keyed/vanillajs-lite/src/Main.js
Due: none

refactoring: bound `insertBefore`
  frameworks/keyed/vanillajs-lite/src/Main.js
Due: none

Re-frame bench
  frameworks/keyed/re-frame/.gitignore
  frameworks/keyed/re-frame/index.html
  frameworks/keyed/re-frame/package-lock.json
  frameworks/keyed/re-frame/package.json
  frameworks/keyed/re-frame/project.clj
  frameworks/keyed/re-frame/src/demo/main.cljs
Due: format-docs

refactor solid & solid-store implementations
  frameworks/keyed/solid-store/rollup.config.js
  frameworks/keyed/solid-store/src/main.jsx
  frameworks/keyed/solid/rollup.config.js
  frameworks/keyed/solid/src/main.jsx
Due: none

adjust colour spelling to match other frameworks
  frameworks/keyed/solid-store/src/main.jsx
Due: none

re-frame: readability tweaks
  frameworks/keyed/re-frame/src/demo/main.cljs
Due: none

re-frame: fix append-data
  frameworks/keyed/re-frame/src/demo/main.cljs
Due: none

update vanillajs-3 and vanillajs-lite
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Fix version name
  frameworks/keyed/deleight/package.json
Due: format-docs

Er sorry I introduced a bigger semantic bug in remove when fixing the first one
  frameworks/keyed/vanillajs-3/src/Main.js
  frameworks/non-keyed/vanillajs-3/src/Main.js
Due: none

Also updating `append`
  frameworks/keyed/vanillajs-3/src/Main.js
  frameworks/non-keyed/vanillajs-3/src/Main.js
Due: none

Update README.md
  README.md
Due: none

chrome 125 results, remove 0 waits
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
  webdriver-ts/src/benchmarksPuppeteer.ts
  webdriver-ts/src/common.ts
  webdriver-ts/src/forkedBenchmarkRunnerPuppeteer.ts
Due: format-code, format-docs

update vanillajs-lite
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

removed the slowest of the vanillajs implementations
  frameworks/keyed/vanillajs-2/index.html
  frameworks/keyed/vanillajs-2/package-lock.json
  frameworks/keyed/vanillajs-2/package.json
  frameworks/keyed/vanillajs-2/src/Main.js
Due: format-docs

Fixed non-keyed and improved keyed.
  frameworks/keyed/vanillajs-3/index.html
  frameworks/keyed/vanillajs-3/src/Main.js
  frameworks/non-keyed/vanillajs-3/index.html
  frameworks/non-keyed/vanillajs-3/src/Main.js
Due: format-docs

Update Main.js
  frameworks/keyed/vanillajs-3/src/Main.js
Due: none

Morre improvements. Almost done.
  .gitignore
  frameworks/keyed/vanillajs-3/src/Main.js
  package-lock.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

I think I have landed for the time-being.
  frameworks/keyed/vanillajs-3/index_backup.html
  frameworks/keyed/vanillajs-3/src/Main_backup.js
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Code cleanup and further performance improvement.
  frameworks/keyed/vanillajs-3/src/Main.js
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

Update sprae
  frameworks/non-keyed/sprae/index.html
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
  frameworks/non-keyed/sprae/src/main.js
  frameworks/non-keyed/sprae/src/sprae.js
Due: format-docs

Update sprae
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
Due: format-docs

Bump version
  frameworks/non-keyed/sprae/package-lock.json
  frameworks/non-keyed/sprae/package.json
Due: format-docs

Path conditions:
  format-code: any of: *.{js,ts,jsx,tsx}, but not: ^(?:frameworks|broken-frameworks).*$
  format-docs: any of: *.{json,yml,yaml,html}
