Repository krausest/js-framework-benchmark: changes, and which lefthook commands are due for each by the changed paths.
All: format-code, format-docs

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    format-code:
      glob: "*.{js,ts,jsx,tsx}"
      exclude: "^(?:frameworks|broken-frameworks).*$"
      run: npx eslint --fix {staged_files} && npx prettier -w {staged_files} && git update-index --again

    format-docs:
      glob: "*.{json,yml,yaml,html}"
      run: npx prettier -w {staged_files} && git update-index --again

`karyon` update
  frameworks/keyed/karyon/package-lock.json
  frameworks/keyed/karyon/package.json
Due: format-docs

feat(nd): upgrade native-document to 1.0.25
  frameworks/keyed/native-document/package-lock.json
  frameworks/keyed/native-document/package.json
  frameworks/keyed/native-document/src/data.js
  frameworks/keyed/native-document/src/main.js
  frameworks/keyed/native-document/src/service.js
Due: format-docs

upgrade native-document to 1.0.26
  frameworks/keyed/native-document/package-lock.json
  frameworks/keyed/native-document/package.json
  frameworks/keyed/native-document/src/main.js
Due: format-docs

Added non-keyed/vode framework
  frameworks/non-keyed/vode/index.html
  frameworks/non-keyed/vode/main.mjs
  frameworks/non-keyed/vode/package-lock.json
  frameworks/non-keyed/vode/package.json
  frameworks/non-keyed/vode/src/data.ts
  frameworks/non-keyed/vode/src/main.ts
Due: format-docs

chore: regenerate package-lock.json for preact frameworks after rebuild (PR #1916)
  frameworks/keyed/preact-classes/package-lock.json
  frameworks/keyed/preact-hooks/package-lock.json
  frameworks/keyed/preact-kr-observable/package-lock.json
  frameworks/keyed/preact-signals/package-lock.json
Due: format-docs

chore: regenerate package-lock.json for mettle after rebuild (PR #1918)
  frameworks/keyed/mettle/package-lock.json
Due: format-docs

update copilot instructions
  .github/copilot-instructions.md
Due: none

fix: update main.jsx to resolve html structure error for PR #1915
  frameworks/keyed/hellajs/src/main.jsx
Due: none

resolve conflict
  frameworks/keyed/preact-signals/package-lock.json
Due: format-docs

update preact, add vode
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

upgrade native document to 1.0.32
  frameworks/keyed/native-document/index.html
  frameworks/keyed/native-document/package-lock.json
  frameworks/keyed/native-document/package.json
  frameworks/keyed/native-document/src/components/RemoveIcon.js
  frameworks/keyed/native-document/src/main.js
  frameworks/keyed/native-document/src/service.js
Due: format-docs

Introduction of TemplateCloner with nd 1.0.33
  frameworks/keyed/native-document/package-lock.json
  frameworks/keyed/native-document/package.json
  frameworks/keyed/native-document/src/main.js
Due: format-docs

Upgrade to 1.0.34
  frameworks/keyed/native-document/package-lock.json
  frameworks/keyed/native-document/package.json
Due: format-docs

chrome 140 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
  webdriver-ts/results.json
Due: format-code, format-docs

add ripple
  frameworks/keyed/ripple/index.html
  frameworks/keyed/ripple/package-lock.json
  frameworks/keyed/ripple/package.json
  frameworks/keyed/ripple/rollup.config.js
  frameworks/keyed/ripple/src/Main.ripple
  frameworks/keyed/ripple/src/main.js
Due: format-docs

update version
  frameworks/keyed/ripple/package-lock.json
  frameworks/keyed/ripple/package.json
Due: format-docs

update non-keyed/vode
  frameworks/non-keyed/vode/main.mjs
  frameworks/non-keyed/vode/package-lock.json
  frameworks/non-keyed/vode/package.json
  frameworks/non-keyed/vode/src/main.ts
Due: format-docs

update ripple, native-document, karyon, vode
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

update hellajs to v1
  frameworks/keyed/hellajs/package-lock.json
  frameworks/keyed/hellajs/package.json
Due: format-docs

use ts for hellajs
  frameworks/keyed/hellajs/package-lock.json
  frameworks/keyed/hellajs/package.json
  frameworks/keyed/hellajs/rollup.config.mjs
  frameworks/keyed/hellajs/src/main.tsx
  frameworks/keyed/hellajs/tsconfig.json
Due: format-docs

update ripple to 0.2.56
  frameworks/keyed/ripple/package-lock.json
  frameworks/keyed/ripple/package.json
  frameworks/keyed/ripple/src/Main.ripple
Due: format-docs

update version
  frameworks/keyed/ripple/package-lock.json
  frameworks/keyed/ripple/package.json
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

opps
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

endr@0.2.1
  frameworks/keyed/endr/package-lock.json
  frameworks/keyed/endr/package.json
Due: format-docs

fix typo
  frameworks/keyed/ripple/src/Main.ripple
Due: none

feat: add Zess framework
  frameworks/keyed/zess/index.html
  frameworks/keyed/zess/package-lock.json
  frameworks/keyed/zess/package.json
  frameworks/keyed/zess/src/main.jsx
  frameworks/keyed/zess/vite.config.js
Due: format-docs

chrome 141 results
  webdriver-ts-results/src/App.tsx
  webdriver-ts-results/src/results.ts
  webdriver-ts/package-lock.json
  webdriver-ts/package.json
  webdriver-ts/results.json
Due: format-code, format-docs

Update hellajs: fix HTML structure and CSP compliance for PR #1926
  frameworks/keyed/hellajs/package.json
  frameworks/keyed/hellajs/src/main.tsx
Due: format-docs

update ripple, endr, hellajs and add zess
  webdriver-ts-results/src/results.ts
  webdriver-ts/results.json
Due: format-code, format-docs

update vode to 1.2.0
  frameworks/non-keyed/vode/index.html
  frameworks/non-keyed/vode/main.mjs
  frameworks/non-keyed/vode/package-lock.json
  frameworks/non-keyed/vode/package.json
  frameworks/non-keyed/vode/src/main.ts
Due: format-docs

Shorten build_data to more idiomatic Rust
  frameworks/keyed/leptos/src/lib.rs
Due: none

map strs as well
  frameworks/keyed/leptos/src/lib.rs
Due: none

more readable
  frameworks/keyed/leptos/src/lib.rs
Due: none

Update pota
  frameworks/keyed/pota/package.json
Due: format-docs

rename issue 1139
  webdriver-ts-results/src/helpers/issues.ts
Due: format-code

Almost eliminate atomics
  frameworks/keyed/leptos/src/lib.rs
Due: none

update lui, adding noeval variant
  frameworks/keyed/lui-noeval/.gitignore
  frameworks/keyed/lui-noeval/index.html
  frameworks/keyed/lui-noeval/package-lock.json
  frameworks/keyed/lui-noeval/package.json
  frameworks/keyed/lui-noeval/src/app.js
  frameworks/keyed/lui-noeval/src/lui.noeval.js
  frameworks/keyed/lui/.gitignore
  frameworks/keyed/lui/src/lui.js
Due: format-docs

Test sprae 12
  frameworks/non-keyed/sprae/package.json
Due: format-docs

add marko 6 example as keyed/marko
  frameworks/keyed/marko/.gitignore
  frameworks/keyed/marko/.marko-run/routes.d.ts
  frameworks/keyed/marko/.prettierrc.json
  frameworks/keyed/marko/package-lock.json
  frameworks/keyed/marko/package.json
  frameworks/keyed/marko/src/routes/+layout.marko
  frameworks/keyed/marko/src/routes/_index/+page.marko
  frameworks/keyed/marko/src/tags/content/content.marko
  frameworks/keyed/marko/src/tags/content/data.js
  frameworks/keyed/marko/tsconfig.json
  frameworks/keyed/marko/vite.config.js
Due: format-docs
